[2019-02-28 00:27] mlorbetske commented on #1754
@rrvenki thanks for the clarification. As I mentioned though, this repository doesn't manage the templates for the various feature teams, we provide the infrastructure for templates to be generated irrespective of language or technology. It'll be better to reach out to the subject matter experts for the area you're looking to see new templates in to ask them to produce the content you're looking f

[2019-02-28 00:28] mlorbetske commented on #1770
I've added the template to the wiki, thanks!

[2019-02-28 00:28] #1770 closed

[2019-02-28 00:33] mlorbetske commented on #1736
@TheAngryByrd what you're experiencing may be a different problem (the original was about the bin/obj folders being included in the nupkg due to a misunderstanding about the role of template.json in the packaging process). Does the package you're trying to install contain DLLs? Another common cause of these installation failures is the inclusion of a template.json file within a node_modules folder

[2019-02-28 01:43] TheAngryByrd commented on #1736
So i just reinstalled the latest sdk and the problem has miraculously gone away ¯\_(ツ)_/¯

[2019-03-01 10:25] dguerin commented on #1736
Cheers for the headups @TheAngryByrd, I'll give that a shot.

Sorry I haven't been as active on this as I wanted to be. Working on other stuff at the moment but I'll get back to this after.

[2019-03-01 22:09] maracuja-juice commented on #1548
Seems like I have an old version. Not sure how exactly I can update it.

[code]

(With `dotnet --version` it shows `2.2.101`)

[2019-03-03 19:42] jlchavez opened #1774 "Nuget packages in VSIX for the new template engine"
In the old template engine we could include as assets the nuget packages so that the included nupkg wouldn't be downloaded from the web making it slower for the template to be complete.

Currently I've developed a startup toolkit for asp .net core that make building complete apps faster, and it includes 10 packages that if small it would be better that they don't require to be online to start work

[2019-03-04 05:12] XomegaNet opened #1775 "Duplication of custom operations"
First of all, neither `CustomOperations` nor `SpecialCustomOperations` are included in the json schema, which results in no Intellisense support in VS 2017, and makes them hard to work with.

We need to use conditional processing for XML content in various template files, but, while it works fine for our *proj files, it does not work for .config files out of the box. We had to add special operatio

[2019-03-05 20:45] crummel commented on #1769
Just wanted to ping this again since the same commit is in the preview3 build.

[2019-03-08 13:33] pihalve opened #1783 "fileRename for symbol of type "generated" doesn't work"
I'm trying to create a symbol which takes a service name, and then do replacements of different variants of this Service Name. So, first I create a "parameter" symbol, which takes the service name specified by user and replaces instances of "ServiceName" with what the user specified. Then I do a couple of transformations to achieve a result where the service name is changed, e.g. from MyService to

[2019-03-12 16:21] DinoSourcesRex opened #1788 "Custom Symbol Creation"
Hi,

Sorry if this is the wrong place (not sure if stackoverflow or something would be more reasonable to place this)

I've taken a look [here](https://github.com/dotnet/templating/wiki/Available-Parameter-Generators) at the parameter generators but it doesn't quite fit what I'm after.

I need to do a combination of 3 things.

1. Take the input name and lowercase it - this is covered by the [casin

[2019-03-13 10:54] Boiethios commented on #961
I have some of those "orphan" templates after experimenting. Is there any way to remove them by hand?

[2019-03-13 15:18] Trojaner opened #1790 "Include RocketMod in the Wiki"
Name | Quick Install
--------|----------------
[RocketMod Plugin Templates](https://github.com/RocketMod/Rocket.Templates) | dotnet new -i "Rocket.Templates::*" |

RocketMod is a plugin framework for .NET based games. This template allows to quickly get started with a new RocketMod Plugin.

[2019-03-13 17:35] mlorbetske commented on #1790
Done, thanks for making the template! :)

[2019-03-13 17:35] #1790 closed

[2019-03-15 14:06] xrcdev commented on #1084
uninstall higher version

[2019-03-15 16:36] TheAngryByrd commented on #1736
So back to this not working for me. Seems similar to https://github.com/dotnet/templating/issues/1773

[2019-03-15 16:38] TheAngryByrd commented on #1773
Yeah definitely experiencing this on osx

After running the install command

[code]

mini-scaffold does not show up in my list of dotnet templates.

[code]

[2019-03-16 00:02] livarcocc commented on #1699
Re-activating since we had to pull this out due to the default in VS changing to netstandard2.1.

We need the option to create a netstandard 2.1 project, however, the default should continue being netstandard2.0 for both Visual Studio and the CLI.

cc @terrajobst

[2019-03-16 02:08] terrajobst commented on #1699
Correct. Thanks!

[2019-03-18 11:34] Trojaner opened #1795 "MSBuild Conditions based on Symbols"
This is actually a question, not an issue.

I want to dynamically include a PackageReference if a specific symbol is defined.
E.g:
 `<PackageReference ... Condition="Defined(MySymbol)" />`.

Is this possible, and if yes, how would I do that?
I have tried to use compiler constants but apparently these are not set/replaced in CsProj's.

[2019-03-18 16:58] mlorbetske commented on #1795
The only things the engine can process conditions on are symbols declared in `template.json` which are always defined, but can take on different values depending on the options the user supplies. You can use standard MSBuild condition syntax to evaluate based on the values of symbols.

Ex. if you've declared a symbol called `Foo` in `template.json`, you could do something like the following if you

[2019-03-18 17:29] Trojaner commented on #1795
Thanks, this was exactly what I was looking for.

[2019-03-18 17:29] #1795 closed

[2019-03-18 19:10] vijayrkn commented on #1699
@mlorbetske - How much work is involved in adding this feature?

[2019-03-19 01:48] vijayrkn commented on #1699
https://github.com/dotnet/templating/pull/1796

[2019-03-19 01:49] vijayrkn commented on #1699
Mike showed me where to make the change. Have a PR with the fix.

[2019-03-21 17:16] sakopov commented on #1602
This seems incredibly convoluted. Could you expand on what this actually replaces and what the message parameter have to do with the replacement?

[2019-03-26 10:18] CumpsD commented on #785
Any chance there is some documentation on creating your own parameter generators?

[2019-03-26 12:43] originAsad opened #1803 "Object reference not set to an instance of an object. Dot net Vue"
I am Working on creating a Boiler Plate with Asp.net Core with Vue.js
I am creating a new Project but i am getting these Errors
[code]

I have run this Command

```dotnet new vuejs```

[2019-03-26 15:50] CumpsD commented on #1238
any way to have it do camelCasing/PascalCasing renames too? Instead of just lower/upper.

I have this in my `template.json`:

[code]

I supply a value of `User` on the CLI but I end up with:

[code]

Some are correctly replaced, but the camelcased ones aren't touched. I want them to turn into `userId` for example

Any suggestions if that is possible right now @seancpeters?

[2019-03-26 16:16] CumpsD opened #1804 "Post-actions chmod - No such file"
Given:
https://github.com/dotnet/templating/wiki/Post-Action-Registry#change-file-permissions

[code]

I get as output:
[code]

But the file is there:

[code]

Anybody any ideas on how to debug this?

[2019-03-26 16:38] CumpsD commented on #1238
Ok, this is ugly, but it works....

[code]

All of this because .NET Regex doesn't allow `\L$1$2`

[2019-03-26 22:31] mlorbetske commented on #1804
It looks like this is a duplicate of #1743 - could you confirm please?

[2019-03-26 22:41] mlorbetske commented on #1803
Could you post your template.json please?

[2019-03-26 23:04] CumpsD commented on #1804
It is similar, except it is in WSL instead of OSX. And the permissions do not get applied at all, as opposed to the case on OSX where it apparently does at least get applied.

[2019-03-27 11:47] maartenba commented on #1750
One example I encountered today:

1) Install any new template
2) Run `dotnet new -u` and get back a list of installed templates, including `Microsoft.Azure.WebJobs.ProjectTemplates`!
3) Run `dotnet new -u Microsoft.Azure.WebJobs.ProjectTemplates`, get back `Could not find something to uninstall called 'Microsoft.Azure.WebJobs.ProjectTemplates'.`
4) Try it with the name, e.g. `dotnet new -u AzureFu

[2019-03-27 12:30] poveilleux commented on #1642
Hi,

I created a template that contains a Helm chart and the chart name must be lowercase. I wanted to use a lowercase generator on a parameter to achieve that, but it seems it is not possible yet.

Is there an ETA on `fileRename` for generated symbols?

[2019-03-27 15:36] hacst commented on #1680
It would be great if this was also something that can be easily used with private nuget servers. The current workflow for using private templates inside a company feels quite clunky to me.

For comparison in the maven/java world the "equivalent" would be maven archetypes. There you configure an archetype repository in a central config once. This allows maven to automatically pick up all templates

[2019-03-28 23:53] brandonseydel commented on #1663
This is happening to me as well.  I have work around but they are not appealing to look at in the command window.

[2019-03-28 23:58] brandonseydel opened #1811 "Post action script problem with -o option"
![image](https://user-images.githubusercontent.com/5033585/55200256-559a7280-518b-11e9-9f0e-68ef4af4b3e9.png)

I am running a command with the -o option and when I do that the post action for execution fails.  If the -o option is omitted it works as intended.  The path doesn't seem to be changing relative to the -o parameter.

[2019-03-29 11:49] RehanSaeed opened #1812 "Add "Configuration" & "Supported in" content to Post Action Registry Document"
`dotnet new` has been around for a while now, it would be nice if the post-action tasks could be documented. Some of them still have `TBD` against them.

https://github.com/dotnet/templating/wiki/Post-Action-Registry#open-a-file-in-the-web-browser

[2019-03-29 13:24] andrekiba opened #1814 "Help on Custom Operations...and everything else..."
Is there a reliable way to find at least necessary informations about anything related to templates??? After some years it's unbelivable this lack...
Trying to find even the smallest thing it's a tremendous effort.
About custom operations here
["Runnable Project" Templates](https://github.com/dotnet/templating/wiki/%22Runnable-Project%22-Templates#configuration)
I can find
``
//#if (A)
		// commen

[2019-03-29 16:09] ericstj opened #1815 "dotnet new usage results in line wrapping under default console size"
## Steps to reproduce
dotnet new

## Expected  behavior
text is concisely displayed and readable, no line wrapping

## Actual behavior
many spaces between each template type, header bar is line wrapping
![image](https://user-images.githubusercontent.com/8918108/55246003-8917e400-5201-11e9-9b71-cb0d75cca214.png)

It seems that the table is formatted in a way such that it measures the maximum string

[2019-04-01 03:59] WeihanLi commented on #1773
Any update here? Is there'a solution for now?

[2019-04-01 22:23] wli3 commented on #1747
Any update on this issue?

[2019-04-01 23:15] seancpeters commented on #1747
No update at this point.

[2019-04-02 01:13] prasadraavi commented on #1708
Thank you mlorbetske. I got it.

[2019-04-02 23:02] ardove opened #1818 "The coalesce operator should work with built-in dotnet new parameters"
I'm trying to use the value provided via the "output" parameter (-o) option to replace a path that's referenced in one of my source files. That file happens to be a Jenkinsfile that needs to know where a sln file is located in order to build it. The jenkinsfile will live in the same directory as my sln.

When I don't specify a value, I'm fine with falling back to my default (since the developer kn

[2019-04-03 07:16] WeihanLi commented on #1773
Is there a plan or roadman to fix it? @mlorbetske

[2019-04-03 11:49] mlorbetske commented on #1773
This is something we’re looking at in the work we’re currently doing to enable template search and updates. cc @seancpeters

[2019-04-05 09:36] AshrafAlam opened #1821 "Request to include new template in wiki"
Please consider the following new template to be included in [Available templates for dotnet new](https://github.com/dotnet/templating/wiki/Available-templates-for-dotnet-new) wiki.

**Name**
[EISK Web Api](https://github.com/eisk/eisk.webapi) - ASP.NET Core templates with simple use cases to build scalable web api with architectural best practices (DDD, Onion Architecture etc).

**Quick Install**

[2019-04-08 17:14] mlorbetske commented on #1818
In this particular case, `-o|--output` isn't actually passed to the template, it's a configuration parameter to the engine itself that sets the directory in which to work. I think this ask really boils down to promoting the output engine parameter to a pseudo-parameter that cannot be overridden in the template. @seancpeters what would you think of that?

cc @vijayrkn

[2019-04-08 17:18] mlorbetske commented on #1814
In this case `A` is a symbol defined in `template.json`, that's correct. If you have specific scenarios that you'd like to see better documentation for, it'd help us to mention specifically what they are so that we can put those together.

The resources we currently have available as far as documentation goes are linked from here https://github.com/dotnet/templating/wiki#template-authoring with a

[2019-04-08 17:22] mlorbetske commented on #1811
I believe you'll want to set the executable to `cmd.exe` and the args to `/c GenerateAureliaCLI.cmd` in order to get this to work. Could you post your template.json please? This also looks pretty similar to #1663

[2019-04-08 18:07] mlorbetske commented on #1821
I've added it to the wiki. Thank you for making templates :)

[2019-04-08 18:07] #1821 closed

[2019-04-08 20:15] robertborr opened #1844 "unsupported semver version build failures in 'official/dotnet/templating/refs/heads/release/3.0' - '20190407.3'"
@dotnet-mc-bot commented on [Sun Apr 07 2019](https://github.com/dotnet/core-eng/issues/5841)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=146330
  - **Agent:** NetCoreInternal-Int-Pool 4
  - **Error log:** C:\Program Files\dotnet\sdk\2.1.503\Sdks\NuGet.Build.Tasks.Pack\build\NuGet.Build.Tasks.Pack.ta

[2019-04-08 21:42] vijayrkn commented on #1844
All the build issues are fixed. Closing

[2019-04-08 21:42] #1844 closed

[2019-04-08 21:43] vijayrkn commented on #1765
This is fixed.

[2019-04-08 21:43] #1765 closed

[2019-04-08 21:43] vijayrkn commented on #1742
This is fixed.

[2019-04-08 21:43] #1742 closed

[2019-04-08 21:44] vijayrkn commented on #1772
This is fixed.

[2019-04-08 21:44] #1772 closed

[2019-04-08 21:45] vijayrkn commented on #1682
This is fixed with the move to arcade.

[2019-04-08 21:45] #1682 closed

[2019-04-09 02:12] erikest commented on #1773
Same issue on the latest preview 3 bits (3.0.100-preview3-010431)

`dotnet new -i ./mytemplate.1.0.0.nupkg`

Just prints the help, tried adding --dry-run, same result.

no bin/obj/modules/dlls/etc in the package.

structure is

* .nuspec
* content/
    * .template.config/
        * template.json
    * mytemplate.sln
    * src/
        * various source files and projects.

[2019-04-09 19:25] seancpeters commented on #1773
Can you try running your install command with the additional flag `--dev:install`, so:
`dotnet new -i ./mytemplate.1.0.0.nupkg --dev:install`

Depending on the type of problem encountered while installing, this may give some useful diagnostics.

[2019-04-10 01:16] erikest commented on #1773
@seancpeters  okay, gave that a go.  Nothing new to report - it just shows the help.

[2019-04-10 01:56] brandonseydel commented on #1811
https://github.com/aurelia/dotnet/blob/6dbfb1ff9914090175bc1887f9648840e1b29f05/NugetTemplates/Aurelia.DotNet.Spa/content/.template.config/template.json#L335

I will try the cmd.exe option.

[2019-04-10 19:34] mlorbetske commented on #1818
Thinking a bit more about this - are you certain that you'd want the physical path (relative the the location they ran the command - or possibly the absolute path on their disk) the user specifies as the root of content creation to be emitted into the template? If the project is cloned or moved elsewhere, this would leave the original pathing information in the project and potentially break it, wh

[2019-04-10 22:05] ardove commented on #1818
Well, I think I would really only want to include the output paremeter if the user had generated the template providing it (maybe by using the derived macro instead of coalescing).

You're right, they could move the files around, but if they make manual modifications to the files, we assume they are an experienced user with the know how to troubleshoot problems they cause by doing so. We think a d

[2019-04-10 23:34] mlorbetske commented on #1818
But wouldn't the action of pushing to git be enough to cause the unexpected results (in the case that `-o` is specified)?

Consider the command `dotnet new templateNameHere -o c:\users\MyUserName\projects\x`. If I run that, the contents of the template are generated into the `x` folder in `c:\users\MyUserName\projects`. If the content that gets generated then takes a dependency on that path, runni

[2019-04-10 23:52] ardove commented on #1818
That's true. I think my use case is specific to a solution directory relative to the place that I'm scaffolding the solution. I don't think that using an absolute path applies for our use case at all (I don't expect anyone would ever want to scaffold a directory based on an absolute path to a specific location somewhere on disk and then check it in). Generally speaking, I'm of the opinion that sca

[2019-04-11 00:25] brandonseydel commented on #1811
Worked for me thank you.  The documentation should at least note that it will not work with output specified.   Then put the other way.

[2019-04-11 00:25] #1811 closed

[2019-04-11 11:55] DMEvans opened #1849 "Not Authorised to install template package from private NuGet feed"
I have created a .NET Core solution that my team will be using as a template for new applications.  I've built it as a template package and published it to our company's NuGet feed which is hosted in Azure DevOps (VSTS).

When I try to install my package into the .NET CLI templates using the command below I get a 401 (unauthorized) response.
`dotnet new -i MyCompany.MyTotallyAwesemeTemplate --nuge

[2019-04-11 13:39] vyckou commented on #1645
actually running `dotnet new -i mytemplate::1.0.1 --debug:reinit`
and then running `dotnet new -i mytemplate::1.0.1`
did the job for me

[2019-04-11 19:27] mlorbetske commented on #1818
I'm not strictly against it, but I think there may things beyond just making `-o` available for coalesce to get directly to the commonly desired information more directly. Maybe something along the lines of a built-in "directoryName" symbol that gives just the name of the directory the content was generated into would do the trick?

@seancpeters

[2019-04-11 19:28] mlorbetske commented on #1849
This looks like a duplicate of #1747. If it is, could you please +1 that issue & close this one?

[2019-04-12 11:58] DMEvans commented on #1849
@mlorbetske correctly identified that this issue has already been logged

[2019-04-12 11:58] #1849 closed

[2019-04-13 16:23] CumpsD commented on #1706
How do I find the version in the mean time? I need to know exactly which template version I have installed from a third party.

[2019-04-18 17:19] satyajit-behera opened #1860 "Using template without installing it in local machine"
It looks mandatory to install the dotnet core tamplates to use it to create new items or projects.

Is it possible to create a file or project from a dotnet core template without installing it in the local machine.

Are there any options available in the CLI.

Thanks

[2019-04-18 17:21] satyajit-behera opened #1861 ".Net new with multiple template versions"
Dotnet new --install {package name} is essential for creating any file or project using .NET new command in the .NET core.

During the process, only one version of the template is installed.

Can we maintain multiple instances of templates for the same package?

Thanks

[2019-04-18 21:26] issafram opened #1862 ".NET Include .sln files, sub folders, etc"
I'm trying to create a template that I thought would be pretty easy.

My folder structure is typically like this

- TopLevelFolder
  - HelloWorld.sln
  - Other important files (needed for builds, deployments, etc)
  - .nuget.config
  - ProjectNameFolder
    - ProjectName.csproj
    - .cs files
    - Controllers
      - HelloWorld.cs

I just want to create a template that would include all of those

[2019-04-18 22:33] mlorbetske commented on #1862
Could you post your template.json file along with its location relative to the directory containing the sln file please?

[2019-04-18 22:34] mlorbetske commented on #1861
Are you looking to install multiple versions of the same NuGet package specifically or to have multiple versions of a template's content available to the user?

[2019-04-18 22:35] mlorbetske commented on #1860
Currently there is no way of creating a template without having installed the sources from which to create it. Could you elaborate on what you'd use a feature like that for?

[2019-04-19 04:20] satyajit-behera commented on #1860
Thanks @mlorbetske This question came up because when I have lots of custom templates for one of my projects, I was looking at if I can do this without installing it and directly accessing one folder. If I can group many templates into one installation, that will also help.

[2019-04-19 04:23] satyajit-behera commented on #1861
Thanks @mlorbetske
Looking at multiple version of same nuget package gets installed as different version of the template and I can access both with a version number parameter.

[2019-04-19 16:44] mlorbetske commented on #1860
To install multiple templates from the same directory:

If the templates are contained in NuPkg files, run: `dotnet new -i {path to directory}\*` (or `/*` if on non-windows)
If the templates are loose files under the directory, run: `dotnet new -i {path to directory}`

[2019-04-19 16:44] #1860 closed

[2019-04-19 17:06] mlorbetske commented on #1861
This is interesting, but you should consider package versions to be a linear upgrade path, just like referencing libraries via NuGet. Ex. If you have Newtonsoft.Json version 9.0.1 installed and upgrade to Newtonsoft.Json version 10.0.2, there isn't an expectation that you can still use the 9.0.1 behaviors, nor that 9.0.1 remains somehow.

The pattern for side-by-side, version-linked template conte

[2019-04-19 17:06] #1861 closed

[2019-04-19 23:27] bluetentacle commented on #1783
I also experienced this limitation. It would be nice to be able to rename files with generated symbols.

[2019-04-22 16:56] issafram commented on #1862
My MyGet server was caching packages.  This is my fault.  I apologize.  Closing issue

[2019-04-22 16:56] #1862 closed

[2019-04-22 17:09] issafram opened #1868 "Variable Solution name and Project name"
I have a template which looks like this:
- TopLevelFolder
  - **HelloWorld**.sln
  - Other important files (needed for builds, deployments, etc)
  - .nuget.config
  - **HelloWorld**Folder
    - **HelloWorld**.csproj
    - .cs files
    - Controllers
      - SomeController.cs

My template currently works where I can change namespaces depending on the -n input parameter using the sourceName value in

[2019-04-22 17:57] issafram commented on #1868
Never-mind I wasn't thinking straight.

[2019-04-22 17:57] #1868 closed

[2019-04-22 21:59] mlorbetske commented on #1783
@seancpeters any ideas on this?

[2019-04-23 01:06] wli3 opened #1869 "DotNet New -n is not renaming custom template"
_From @jkears on Monday, 22 April 2019 20:37:11_

## Steps to reproduce
1. In a folder D:\\ProjectTemplates\SomeCo.DomainTemplate.CSharp copy in a working c# class library project and rename it to **DomainTemplate.csproj**
2. Add new subfolder in project root folder called .**template.config**
3. Create a new **template.json** file in the .template.config folder with the following content ...
{

[2019-04-23 02:48] mlorbetske commented on #1783
From the look of it, you can accomplish what you're looking for with [value forms](https://github.com/dotnet/templating/wiki/Runnable-Project-Templates---Value-Forms). Please let us know if this meets your needs

[code]

[2019-04-23 19:58] ardove commented on #1818
Yeah, I mean I don't have strong feelings about how it's implemented, just thought it might be a useful feature for the community (and you're right, there are probably other macros that could use it too).

It could be handy if there were some built in parameters that contained contextual information about the invocation (absolute path to command invocation location, command invoked, version of the

[2019-04-23 22:00] mlorbetske commented on #1869
The value supplied for `sourceName` must match the file or directory you'd like to be renamed. I can't tell for certain whether that's the case based on your message - could let us know whether they do or not, please?

[2019-04-24 08:18] kierenj commented on #1750
I'm trying to do the same - develop local templates - and I've found it pretty difficult so far.

First, when I install from a local path, I get a "usage" output, and list of templates.  It seems the template is installed, but why no message, "Template X successfully installed"?

I can also install any folder - `dotnet new -i .`, which automatically searches for subfolders and installs templates -

[2019-04-24 10:57] jkears commented on #1869
Many examples do not show the use of the sourceName in the template.json file.  I only put that in there to see if it would help with my issue.  Without sourceName the behavior is the same.  Do I require sourceName?  I was under then impression that one does not require that field in the template json.

All examples will rename the project to the value provided in the --Name option... which is the

[2019-04-24 13:46] pihalve commented on #1783
It works fine. Thanks a lot. Originally I did actually look into the 'forms' approach, but this chaining of built-in and custom stuff was unclear to me. Thanks.

[2019-04-24 14:12] bluetentacle commented on #1783
This should not be closed. Not being able to use generated symbols for file rename is a bug. If it can be used for renaming in-file tokens, it should be usable for file rename for consistency.

[2019-04-24 14:14] pihalve commented on #1783
Fair enough.

[2019-04-24 21:15] jannikbuschke opened #1872 "dotnet new my-template does not create output files"
I am trying to create a template for some dotnet/react based boilerplate: https://www.nuget.org/packages/JBuschke.Glue.Starter/. After installing via `dotnet new -i JBuschke.Glue.Starter::*` and running `dotnet new gluestarter` (the templates short name), **no output files** are created. Only some help output, the projects description and author are logged to the console:
[code]

the template.json

[2019-04-24 21:31] seancpeters commented on #1872
Could you try invoking your template with a --name (-n) option specified, e.g.:
`dotnet new gluestarter -n Test1`

Or try adding `"defaultName": "<somename>"` to your template.json.

[2019-04-24 21:50] jannikbuschke commented on #1872
executing with `-n Test` doesnt yield any difference

[2019-04-24 22:41] mlorbetske commented on #1869
`sourceName` isn't required for all templates, just ones that want to have a file renamed as part of creation. `--name` in some cases will create a directory of the specified name, but doesn't otherwise have any special logic to determine which file you'd like to rename to match the user's supplied value for it unless `sourceName` is set in the configuration. You can see an example of how to prope

[2019-04-24 22:52] mlorbetske commented on #1783
@bluetentacle generated symbols are largely for values that aren't supplied by the user (generating GUIDs, getting the current date/time, manipulating values to prepare them for comparisons in conditions, etc.).

`fileRename` is a feature of `parameter` type symbols - ones that are supplied by the user or `derived` type symbols (which are essentially parameter type symbols under the hood, but with

[2019-04-25 07:42] jannikbuschke commented on #1872
@seancpeters adding a defaultName also does not yield any difference

[2019-04-25 07:54] kierenj commented on #1663
I have the same issue.  `preferNameDirectory` is `true` and I'm using:

[code]

Output:

[code]

It's a real blocker at the moment, anything I can do at all?

[2019-04-25 15:41] jkears commented on #1869
Thank you for that added clarity, as that works as expected.  I must have missed the docs that specify that you need to make the name and template the same.  Thanks so much.

[2019-04-25 19:13] mlorbetske commented on #1869
Glad you’ve got it working, always happy to help 👍

[2019-04-25 19:13] #1869 closed

[2019-05-01 19:12] hananiel opened #1878 "Surfacing templating engine via Web API"
I am working on making this templating engine available via a webapi/website ui. As an example of how this could be helpful - see start.spring.io . Then this template engine could be useful outside the cli, namely other editors such as Rider, Code, VS, and even curl. The core abstractions and implementations appear to be focussed on a CLI host. Do you have any plans to support a web host ? Specifi

[2019-05-02 18:08] seancpeters commented on #1878
This project is actually already used in Visual Studio, and I think Rider too. The repo is slightly misleading because it contains 2 somewhat distinct features, namely:
- The CLI host (assembly Microsoft.TemplateEngine.Cli)
- The core template engine (all other assemblies)

We've kept the CLI host implementation separate from the core engine so that it can be integrated with other "hosts". A "host

[2019-05-02 19:16] hananiel commented on #1878
@seancpeters thank you so much! I didn't realize this about Microsoft.TemplateEngine.Edge  - thats helpful!

[2019-05-03 18:09] seancpeters commented on #1878
One more thing I thought of that might be useful: The Microsoft.TemplateEngine.Abstractions assembly is also public facing, and only contains interfaces - but you may have figured that out already :)

[2019-05-06 17:23] robertborr opened #1884 "ToolsError build failures in 'official/dotnet/templating/refs/heads/master' - '20190506.1'"
@dotnet-mc-bot commented on [Mon May 06 2019](https://github.com/dotnet/core-eng/issues/6239)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=180649
  - **Agent:** Hosted macOS 10
  - **Error log:** /Users/vsts/agent/2.150.3/work/0/s/.dotnet/sdk/2.2.203/NuGet.targets(0,0): error : Invalid argument [/User

[2019-05-07 07:51] henkish commented on #1783
Is it possible to use "forms" to get current date ("yyyyMMdd") replaced in the filename? For instance: "20190507.js". Or is there any other way to achieve that?

The use case is that we use a database migration tool - and all migration scripts should be tagged using date times.

[2019-05-07 15:19] hananiel commented on #1878
@seancpeters I am not finding these either in nuget.org or myget ... can you point me to the public feed for Microsoft.TemplateEngine.Abstractions and Microsoft.TemplateEngine.Abstractions. I only see the beta feed ...

[2019-05-07 18:31] seancpeters commented on #1878
You'll need to build from source at this point. There is some documentation on the repo main page, but it may be a bit outdated. If so, let me know - it'll be a good reason for me to update it :)

[2019-05-13 07:52] laktak commented on #1248
Could we get an update on the current status of this bug?

The last comment in the [referenced issue](https://github.com/dotnet/templating/issues/350#issuecomment-289992770) says:

but dotnet new still produces CRLF?

[2019-05-14 16:54] livarcocc opened #1894 "Show project templates and file templates separately"
@gulshan commented on [Sun May 12 2019](https://github.com/dotnet/cli/issues/11320)

Currently with `dotnet new` command, all available templates are listed. Some of them are project templates and some are file templates. Requesting to show them separately, for clarity.

[2019-05-14 18:10] seancpeters commented on #1894
This can be accomplished with:
`dotnet new --type project`
`dotnet new --type item`

One caveat is that templates that don't have any type configured in the template.json will "match" any given type argument.

[2019-05-14 18:10] #1894 closed

[2019-05-15 04:03] gulshan commented on #1894
Can these two categories be __always__ shown separately? It will reduce the confusion IMHO.

[2019-05-15 18:18] seancpeters commented on #1894
@gulshan - I'm not what the user experience would be for this. The template type is specified by the template author, and could be anything. Type isn't limited to just "project" & "item".

[2019-05-18 14:38] pihalve commented on #1783
I'm closing this issue, since it has been resolved to an acceptable degree of satisfactory, and it is now getting off topic. @henkish can you please post in new issue.

[2019-05-18 14:38] #1783 closed

[2019-05-20 16:20] dazinator commented on #640
What is scope validation?

[2019-05-21 06:48] swiato opened #1896 "Loss of functionality in postActions Restore between version 2.1.604 and 2.2.204."
In dotnet version **2.1.604** it was possible to use following construction:

[code]

And after that using renamed filenames in primaryOutputs:

[code]

Then after using restore postAction everything behaved as expected, restore was performed for both generated projects.

In dotnet version **2.2.204** it does not work anymore, all we get is "MSBUILD : error MSB1009". Attached is simple example of

[2019-05-21 17:12] davidfowl commented on #640
Scope validation makes sure your dependency graph doesn't have mismatched lifetimes (like depending on a scoped service from a singleton service). Read about "Captive dependencies" https://blog.ploeh.dk/2014/06/02/captive-dependency/

Simple injector also has a feature to detect this - https://simpleinjector.readthedocs.io/en/latest/LifestyleMismatches.html

[2019-05-22 14:56] MattRuwe commented on #1773
I had a similar issue.  I was trying to install a template from a file path, but after running the command it would only show the usage information without telling me it succeeded or failed.  I assume that because it was showing the usage information that I was doing something wrong.  However, after digging a bit deeper and asking on [Stackoverflow](https://stackoverflow.com/questions/56259025/dot

[2019-05-24 22:01] KSchlobohm opened #1900 "Add template for .NET Core Windows Forms Class Library Project"
While porting some code from .NET Framework to .NET Core I encountered a scenario where I wanted a class library to reference the System.Windows.Forms library.

Please support a new project template which will automatically setup the SDK attribute and <UseWindowsForms>true</UseWindowsForms> element so that we can add a workflow that just works when migrating legacy projects.

[2019-05-26 22:35] shaggygi opened #1902 "Example Templates for Code Snippets"
Do you have any links/docs/examples how to create [code snippets](https://docs.microsoft.com/en-us/visualstudio/ide/walkthrough-creating-a-code-snippet?view=vs-2019) for a template?

Any help is appreciated.

[2019-05-29 20:53] BartoGabriel opened #2024 "Input of keys in another language"
When creating a new project from a template, in case there are possible actions to be executed, it does not take well the keys pressed in another language.

For example, in my machine in Spanish I am being asked to press S or N, and when I press S it says that it is incorrect and expects me to press Y (English).

Spanish:
![imagen](https://user-images.githubusercontent.com/5618170/58590488-928dee8

[2019-05-30 04:13] vijayrkn opened #1908 "[source-build] Microsoft.DotNet.Cli.CommandLine"

[2019-05-30 15:57] vijayrkn commented on #1908
update the source-build package

[2019-05-31 00:41] jonathann92 opened #1910 "Unable to dotnet new --install /Path/To/Template"
Hi I'm on os x and I'm unable install templates from this repo: https://github.com/dotnet/dotnet-template-samples.

Steps to reproduce
1. ```git clone https://github.com/dotnet/dotnet-template-samples.git```
2. ```dotnet new --install /Users/myusername/dotnet-template-samples/02-add-parameters/MyProject.Con```
3. Result is that the help page shows up

[code]

[2019-05-31 18:22] seancpeters commented on #1910
Showing the help / template list after an install command is the current expected behavior. The output from it is a bit lacking, and there isn't good feedback as to what (if anything) was installed. It's necessary to check the template list to see what was installed.

[2019-05-31 21:04] #1910 closed

[2019-06-03 16:18] danadesrosiers commented on #1238
The "fileRename" option was exactly what I was looking for.  I just want to note that it is not in the JSON Schema.  You might want to add that.

[2019-06-05 19:43] ardove opened #1918 "dotnet new -i for an already installed template doesn't do anything"
Similar to https://github.com/dotnet/templating/issues/1538, but there is no duplicate template installed anymore. The dotnet new -i (without the force option) just appears to succeed, but it doesn't do anything.

In any case, there doesn't seem to be a simple way to update a template without first uninstalling it and then reinstalling it. Running the install command again appears to succeed, but

[2019-06-06 02:08] seancpeters commented on #1918
Could you please try upgrading to a newer .NET Core SDK? The install functionality has improved, and newer versions should not have the behavior you're seeing.

[2019-06-06 16:26] ardove commented on #1918
Which version do you suggest? I’ve tried 2.2.104 and 3.0 preview.

[2019-06-06 18:55] seancpeters commented on #1918
If you're seeing this behavior with the 3.0 preview, then there is something else going on, it's not the old install bug.

Regarding using the --force flag for installing a template - the --force flag should never come into play - it doesn't affect installation. It's only used to tell template invocation to overwrite existing files.

This seems like a problem with the template pack being installed

[2019-06-07 10:28] TimLariviere opened #1920 "Invalid sourceName transformation in SLN files"
If a template contains both a project and a solution file, when running `dotnet new -n "My Project"` with spaces in the name, the solution file has the wrong path to the project file.

![image](https://user-images.githubusercontent.com/6429007/59097570-356ef880-891e-11e9-99b4-751473e40c05.png)

[code]

This issue is similar to #1168, which is closed but there is no satisfying solution found.

Expe

[2019-06-07 19:15] ardove commented on #1918
Certainly, see if this link works. Let me know when you've downloaded packages so I can stop sharing.

https://drive.google.com/drive/folders/13socZtgXUDBDwRZyImBW9kXI4CLZDQns?usp=sharing

[2019-06-07 19:22] seancpeters commented on #1918
Thanks, I was able to download the packs, so you can stop sharing. I should be able to find time to take an in-depth look at this later today.

From a quick look at the packs, the contents appear to be identical – looking at the template.json and the .gitignore files. So I’m not clear how you’d be able to tell which one is installed from invoking the templates.

Thanks,
Sean

From: Alexander Dove

[2019-06-07 20:29] ardove commented on #1918
@seancpeters I was mistaken (going off of information from a colleague). Looks like it does work properly in preview 3.0 (also, those nupkgs were the incorrect ones. Apologies.)

Thanks for the quick response!

[2019-06-07 20:29] #1918 closed

[2019-06-07 20:57] seancpeters commented on #1918
No problem, glad you were able to work it out :)

[2019-06-08 12:19] trinitrotoluene opened #1922 "Cannot find setup.sh or setup.cmd"
Both links in the README are 404, and I can't find the files anywhere in the repo.

Has the installation process for dotnet new3 changed?

[2019-06-09 12:40] jannikbuschke commented on #1872
The weird thing is, the template actually seems to work.
[code]
correctly initializes the project.

However I have a second template (different content, different id) `JBuschke.AspCra` which if installed causes both templates to fail (no output for both).

If I only install one of them it works.

[2019-06-09 16:09] jannikbuschke commented on #649
This is really a weird api. I lived several weeks with broken templates as I am not aware of this. The templates got merged and somehow the resulting thing does not output any files https://github.com/dotnet/templating/issues/1872.
No warnings/errors.

[2019-06-10 09:08] jannikbuschke commented on #1872
My problem was that I had two templates with the same "groupIdentity".

[2019-06-10 09:08] #1872 closed

[2019-06-10 19:42] Thraka opened #1926 "Can't pass a name to filter with dotnet new --list"
##### VERSION: 3.0.100-preview5-011568

Both `dotnet new -l` and `dotnet new --list` give errors when passing a name to filter by. The help information states:

[code]

But when I run `dotnet new -l class` I get this error:

[code]

[2019-06-10 19:51] crummel opened #1927 "Source-build patch removal for templating"
Source-build has some patches that we are currently applying to your repo.  This issue tracks removing the patches.  These patches can be found at https://github.com/dotnet/source-build/tree/release/3.0/patches/templating.

Patches that have the responsibility "Repo" and the Disposition "Incorporate" are patches that we believe are valid source-build fixes that should be moved into your repo.  Ple

[2019-06-10 21:23] seancpeters commented on #1926
The template "name" specification is always the first parameter for dotnet new. To accomplish what you're attempting, run the command: `dotnet new class --list` (or -l)

[2019-06-10 22:25] Thraka commented on #1926
That seems completely backwards to any traditional command line program :(

It also doesn't make sense based on the existing command line help:

[code]

There is indication that there's an optional [name] parameter passed prior to the switches. Also, there is another parameter named "name" (-n) which is additionally confusing to provide a "name" for the list switch.

Additionally, the other switch

[2019-06-12 09:25] WeihanLi commented on #1677
the same problem here, any solutions?

[2019-06-12 09:49] WeihanLi opened #1930 "can not install my template from vsts nuget source"
I'm trying to install the template with the command below:

[code]

no error, but the template not installed.

 without version:

C:\Users\liweihan\.templateengine\dotnetcli\v3.0.100-preview5-011568\scratch\restore.csproj : error NU1103:   - Found 2 version(s) in zhongyi-dev [ Nearest version: 1.0.0-preview-20190612-093251 ]
C:\Users\liweihan\.templateengine\dotnetcli\v3.0.100-preview5-011568\scra

[2019-06-12 21:13] seancpeters commented on #1930
This appears to be an issue with the templates in your pack. The install process was able to acquire the package - the restore succeeded, but nothing installable was found in the pack.

Are you able to successfully install this pack if you already have it locally on disk? This can be done with:
`dotnet new -I <path to nupkg>`

To figure out why the pack isn't installing, I'd need, at a minimum, th

[2019-06-13 01:30] WeihanLi commented on #1930
I'd tried locally also, can not install either. The `template.json` I use is as follows:

[code]

[2019-06-13 01:37] seancpeters commented on #1930
Try adding an "identity" to your template. It's a top level key with a string value, and is required.

[2019-06-13 01:53] WeihanLi commented on #1930
Thanks @seancpeters , works greatly after adding "identity" for the template

[2019-06-13 01:53] #1930 closed

[2019-06-14 15:04] libin85 opened #1934 "Generate classes when using templates"
What options are there for us to generate code while using dotnet templates. To be more specific, for a user input of type json, I would like to generate some entity classes.

I have seen similar questions asked in here before, but did not see any conclusive answers. But I hope it can be done, as I see certain template packs have done similar things which are not open sources .
@sayedihashimi

[2019-06-14 16:59] Thraka commented on #1934
If you download any template pack from nuget, just open up the file in your favorite compression program. It's just a zip file. you can then explore the template files and see how things are done.

[2019-06-14 17:00] Thraka commented on #1926
Is it possible to get this issue on the radar for discussion on rewriting the format of this command to be more intuitive? 😄

[2019-06-14 17:04] Thraka commented on #481
@seancpeters is there an update on this issue? This is something I'm also very interested in. It would make documenting .NET Core with Visual Studio and the CLI so much easier.

But I really think you guys should sync with the Visual Studio team and get this built into Visual Studio directly. It should just consume .NET Core templates directly without any other special dialog steps.

[2019-06-14 18:21] seancpeters commented on #481
@Thraka - We've been discussing some plans to make the use of templates more uniform between VS 7 the Cli, but nothing definite at this point.

[2019-06-14 18:26] seancpeters commented on #1926
I'd argue against changing how --list works, because it's a "support" command, sort of like --help. For example:
`dotnet new --help`
`dotnet new mvc --help`
This pattern of having help as the final param is also the case for other dotnet commands, their form is more like:
`dotnet <command & args> --help`
than like
`dotnet --help <command & args>`

With dotnet new, in all cases where a template nam

[2019-06-14 19:49] bartelink commented on #1926
It should also be mentioned that `dotnet new` is badly out of sync with `dotnet tool` in terms of usage - IME it was one of the most frustrating parts of my first experiences with the tooling. I'd really like to see those things getting more consistent, even if there is a cost in terms of breaking things. Slightly further off is `dotnet run` and how it manages the mix between build/project args vs

[2019-06-14 21:12] Thraka commented on #1926
I can understand that. I think it would be much clearer if the actual help message gave this information. It's not indicated that template items are treated as commands.

[code]

Contrast that to `dotnet tool`

[code]

There is a clear indication about what is expected. There is a clear distinction between arguments and options. And, when the option accepts a parameter, it is shown (as in `-o`). T

[2019-06-14 21:17] bartelink commented on #1926
However, :troll: Ideally they should have to use `--help` in the first instance - [it should simply be consistent with the other commands](https://github.com/dotnet/templating/issues/1926#issuecomment-502241117)

[2019-06-18 00:28] seancpeters commented on #1934
Could you provide an example of what would be a valid "input of type json" for what you're trying to accomplish?

[2019-06-18 01:03] libin85 commented on #1934
@seancpeters : Sorry, I did not mean "type json". But rather I would like to know if I could pass a list of entity model names to create those models in the project. Pretty flexible about how the parameter need to be as long as I can create those models. The parameter can be a json string, comma separated values or any other option. I will send a sample of json string a bit later today

[2019-06-19 04:38] libin85 commented on #1934
`{
  "Database" : "SQLite",
 "FeatureBranching" : true,
  "Entities": [
    "Students",
    "Teachers"
  ]
}`

[2019-06-19 04:41] libin85 commented on #1934
@seancpeters : or is it possible to invoke "roslyn code generator" as post action?

[2019-06-19 17:50] hananiel commented on #1878
@seancpeters As I made progress with this effort, I found a couple of sticking points with Microsoft.TemplateEngine.Edge project. It looks like the [SettingsLoader ]( https://github.com/dotnet/templating/blob/master/src/Microsoft.TemplateEngine.Edge/Settings/SettingsLoader.cs) doesn't create cache from settings when cache is not present. Something in the dotnetcli seems to be doing this. So I want

[2019-06-19 23:49] seancpeters commented on #1934
There's no currently built-in way to parse an input parameter value that is json, or any other complex data-types. It would conceivably be possible to do this using "derived" symbols - treating the input json as a string, and using derived symbols to effectively parse the json into other symbol values, but I think this would take considerable effort.

As for post actions, you could write a custom

[2019-06-20 10:07] Chris-ParkIT commented on #1438
how does one do the opposite, i.e. Condition="$(!DefineConstants.Contains('Swagger'))" throws an error - I am not sure what the parser is for these conditions, is there another format that would work?

[2019-06-20 11:30] libin85 commented on #1934
@seancpeters : Really appreciate such a  detailed explanation. Thank you :)

[2019-06-20 11:30] #1934 closed

[2019-06-20 23:00] adamjones1 commented on #1238
I can only seem to get this working for parameter symbols, could it be extended for other symbol types as well? (Generated ones, particularly.)

[2019-06-21 20:39] isaacrlevin opened #1948 "Support for verbosity in dotnet new"
I came across this comment in a [closed issue](https://github.com/dotnet/cli/issues/9165#issuecomment-385222281) where this has been talked about, but I see value in having more verbose logging for `dotnet new`. Here is my scenario. I want to be able to create custom templates with configuration based on options (think --auth for dotnet new webapp). If something goes wrong in the project generatio

[2019-06-21 20:58] isaacrlevin opened #1942 "Blazor based templates not adhering to modifiers"
I am updating the Blazor templates for 3.0 and I am running across an issue when I `dotnet new` the new template I created. I created a new options called **hosted** that will toggle whether or not the Blazor Web Assembly project should use an ASP.NET Core backend.

**dotnetcli.host.json**
[code]

**Symbol**
[code]

**Modifiers**
[code]

So basically if hosted is false, I should only have one proj

[2019-06-21 21:06] seancpeters commented on #1942
I'm not dug too deep into this, but the issue appears to be that files that are renamed are not properly handled by source modifiers.

[2019-06-24 16:35] crummel commented on #1927
cc @mlorbetske

[2019-06-24 19:48] seancpeters commented on #1948
An effort was begun with #1305 to provide more detailed logging of problems with template authoring and installation. That PR setup the mechanisms for reporting these types of issues, but it only actually added messaging for a very limited subset of the possible problems that could occur. Adding additional trace messaging using this type of logging is probably the easiest way to make the output mo

[2019-06-25 05:01] danroth27 commented on #1942
@vijayrkn FYI - looks like this is blocking our template updates.

[2019-06-25 16:42] Thraka opened #1955 "Renaming or removing part of a template path installed by the file system breaks dotnet new"
If you install a template by file path, say `c:\mytemplates\template1` and then later delete `mytemplates` or even rename it, the `dotnew new` command breaks completely. You cannot uninstall, install, or do anything with that command. You also don't see the real problem of what template file is causing the problem.

😮

[code]

[2019-06-25 20:05] seancpeters commented on #1927
@crummel
I'm working on applying these patches to dotnet/templating. There's a couple issues:

From the link provided, there are only two patches available - as opposed to the 3 listed here. They're:
- 0001-Don-t-build-test-projects-when-building-from-source.patch
- 0002-Use-source-built-version-of-Newtonsoft.Json.patch

0001 matches what's listed here.
0002 from the link is named like 0003 here.

[2019-06-25 21:09] crummel commented on #1927
Thanks for taking a look at this!  I updated the initial comment.  What we're aiming for would be:
- NewtonsoftJsonPackageVersion is defaulted to whatever you want.
- You use Arcade-style version imports (in which case Arcade takes care of this) or import `DotNetPackageVersionPropsPath` if it exists after setting your defaults.  Then we'll reset that property.

Does that seem reasonable?

[2019-06-25 21:52] seancpeters commented on #1927
Sounds good to me. I've made a PR for the changes here #1956
I'll flow it to master too.

[2019-06-25 22:52] vijayrkn commented on #1927
https://github.com/dotnet/templating/pull/1956/files

[2019-06-25 22:52] #1927 closed

[2019-06-25 23:33] tmat opened #1959 "Remove CollectGitInfo"
Remove https://github.com/dotnet/templating/blob/stabilize/Version.props#L9-L77.
Source Link provides the commit SHA stamp for AssemblyInformationalVersion.

[2019-06-26 00:11] #1908 closed

[2019-06-26 04:13] ggoyal-Axum opened #1960 "unable to use choice datatype"
Hi guys, i have a following template.json. Based on the user selected choice i want to change the source location. I am able to do this using bool conditions but can't acheive this using choice datatype. Any help would be appreciated.
[code]

[2019-06-26 04:14] ggoyal-Axum commented on #1960
Inaddition is there anyway to find whats wrong with the supplied template.json?

[2019-06-26 19:20] seancpeters commented on #1960
Could you let us know what isn't working with this template.json. I just ran a quick test using it, along with a minimal template I setup, and it seems to be working correctly.

Here's the structure of my test template source:
[code]

When I invoke the template to get part1:
`dotnet new proj -o c:\temp\creation\scratch\WithPart1 -oo part1`
Here is the output content:
[code]

And invoking to get pa

[2019-06-27 09:18] ggoyal-Axum commented on #1960
Thanks for the quick response. I tried it on a different computer today and it does work like you said. I will close the ticket. Again thanks heaps.

[2019-06-27 09:18] #1960 closed

[2019-06-27 21:07] seancpeters commented on #1955
Installing a template pack from a file-based source (as opposed to a zip or nupkg) is a developer scenario that isn't fully supported. When dotnet new installs a template pack, if it's from a zip or nupkg, the content is copied into the dotnet new configuration hive directory, and used from there.

On windows, the location is under: `%USERPROFILE%\.templateengine\dotnetcli\<version>\packages/`

On

[2019-06-28 20:39] isaac2004 commented on #1942
@danroth27 @vijayrkn is there an ETA for when this work can start (or someone wants to show me where to look)?

[2019-06-29 00:04] seancpeters commented on #1942
As a workaround, in the template source, if you rename the directories that are conditionally excluded, in a way that causes them to not be renamed during template processing, things should work as expected. For example, call the directories "Hosted-CSharp.<type>" instead of "BlazorHosted-CSharp.<type>"

[2019-06-29 00:09] seancpeters commented on #1942
@phenning - The fix for this issue will most like begin in one or both of these places, they're probably the most useful places to start looking:
https://github.com/dotnet/templating/blob/stabilize/src/Microsoft.TemplateEngine.Core/Util/Orchestrator.cs
...in the method RunInternal()

https://github.com/dotnet/templating/blob/stabilize/src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Simp

[2019-06-29 15:12] nguerrera opened #1971 "dotnet new returns 0 exit code when it doesn't find template"
When a template is not found, it prints a list of possible templates from the web, after a red error, but the return value is 0. I think the return value should still be non-zero in any case where we failed to actually instantiate a template.

[code]

[2019-07-01 17:46] rlundy commented on #1926
I found this issue because I was having the same problem:

[code]

If I use the --lang switch, the argument comes after:

[code]

But for some reason, if I want to filter using `--list`, the argument comes _before_:

[code]

If this inconsistency can't be changed, then it would be great if the console help could be changed to explain more clearly how `--list` is supposed to work.

[2019-07-01 17:47] rlundy commented on #1926
As a side note, is it supposed to be possible to filter by the *tags*?  I thought at one time that could be done, but if I pass an argument like `dotnet new web --list` now, it only shows me things with `web` in the Short Name column.

[2019-07-02 05:33] livarcocc opened #1979 "Template engine failing with a NRE."
dotnet new is failing when trying to instantiate a windows desktop app in a non-windows OS. That template does not exist on that OS and the template engine is failing with a NRE.

The last failing build is here: https://dev.azure.com/dnceng/public/_build/results?buildId=247050&view=logs&jobId=8343823b-2716-595a-91eb-aabe1d9c8b1a

I am going to disable the test for now.

We must investigate this be

[2019-07-02 23:05] vijayrkn opened #1983 "Mark the 3.0 template packages as shipping packages"
This is needed to ensure that dotnet new search works for the newer console & class lib templates.

[2019-07-02 23:06] #1979 closed

[2019-07-04 17:51] Jjagg opened #1987 "How does the VS wizard work?"
I've been trying to use the TemplateEngine Wizard to embed a dotnet templating template in a VSIX package. I know SideWaffle v2 does exactly that, but I want to understand how the wizard works instead of relying on a third-party tool. So far I have failed to get a template working without SideWaffle in VS2019.
Here's what I got from @sayedihashimi's explanations:

- The nupkg that contains the tem

[2019-07-08 10:02] ggoyal-Axum opened #1991 "post-action to add project to a solution fails as path string is not updated with sourcename"
I am using dotnet version 2.2.300 and template version 1.0.2-beta4
**Have the following template**
{
  "$schema": "http://json.schemastore.org/template",
  "author": "Me",
  "classifications": ["Empty" ],
  "name": "Project",
  "identity": "Project.CSharp",
  "groupIdentity":"Project",
  "shortName": "MyProject",
  "tags": {
    "language": "C#",
    "type": "project"
  },
  "sourceName": "[hello]

[2019-07-08 15:40] hananiel commented on #1878
Also, I was having trouble with the performance of this project running inside a Web Context.  This call new TemplateCreator(EnvSettings).InstantiateAsync(...) seems to be taking over a second. Is there any way to make it faster?

[2019-07-08 16:26] phenning opened #1993 "Display issue with DotNetResorePostAction when specifying args"
The way the path building works, we end up with the following output.
This is only an issue when specifying file args explictly to the post action.

Running 'dotnet restore' on C:\tmp\a\./a.csproj...

[2019-07-09 20:32] crhairr opened #1995 "Update documentation with YAML/YML extensions support content"
The comment syntax for yaml/yml files is not supported, but should be treated as identical to ["Language Constructs"](https://github.com/dotnet/templating/wiki/Reference-for-comment-syntax#language-source-files) listed in the wiki. YAML comments start with a #, and would work identically with the preprocessor syntax.

[2019-07-10 17:25] phenning commented on #1987
What is likely going on there is that a template matching the group id specified in the vstemplate file could not be found.

To diagnose further:
Check your %userprofile%\.templateengine\vs-2017.3\[instance]\packages folder and see if your nupkg is there.

Are you able to create other .NET Core projects?

[2019-07-10 20:12] #1993 closed

[2019-07-10 20:29] Jjagg commented on #1987
I will try that, thanks! The built-in .NET Core templates work, and so does a template built with SideWaffle.

[2019-07-10 23:11] sayedihashimi commented on #1987
@Jjagg FYI SIdeWafflev2 is open source (https://github.com/ligershark/sidewafflev2/), I'd be happy to have you as a contributor.

[2019-07-10 23:57] nguerrera opened #2003 "first dotnet new run -> null ref"
### Repro steps

1. Grab latest preview 8 SDK daily build
2. Make sure you don't have .templateengine folder for that version yet or delete it (e.g. c:\Users\nicholg\.templateengine\dotnetcli\v3.0.100-preview8-012830)
3. `dotnet new tool-manifest`

### Expected result

Creates new tool manifest from template and no errors emitted to console.

### Actual result
[code]

Noite: It returns exit code 0

[2019-07-11 06:20] msallin opened #2004 "Template Pack installation not correct"
**Problem**

I want to create a template pack, containing multiple templates. I followed the approach documented here: https://docs.microsoft.com/en-us/dotnet/core/tools/custom-templates
When I install the resulting NuGet-Package, I get the following behavior.

1) `dotnet new` shows only one template ("Test.1") but `dotnet new -u` shows both ("Test.1" and "Test.2" from "AdatumCorporation.Utility.T

[2019-07-11 06:29] Jjagg commented on #1987
@sayedihashimi For the project I'm interested in we already have dotnet templating templates, and I would like to have a simple CLI tool that can create .vstemplate files to match and pack templates together in a vsix, so I planned on creating a dotnet global tool. It seemed to me like that would be a better fit for a separate project.
SideWaffle v2 and your videos helped me a lot in figuring out

[2019-07-11 06:56] Jjagg commented on #1987
@phenning It is missing. How should the templating engine find and copy over the nupkg?

[2019-07-11 14:41] vijayrkn commented on #2003
@phenning had fixed the first time null ref issue 8 days ago - https://github.com/dotnet/templating/pull/1982/files

@phenning - Can you please check if this is a different issue. Else, we need to track down why this didn't flow to the CLI.

[2019-07-11 15:03] nguerrera commented on #2003
Possible the stage 0 / lkg used in the PR to dotnet/sdk was slightly behind latest. I'll check if bumping that works.

Please, please also look into the architectural issue where you're catching bugs and hiding stack traces.

[2019-07-11 22:41] nguerrera opened #2006 "Add MyType to VB console and classlib templates"
This is needed in support of getting VB code that uses `My.*`  working out of the box.

Sync with @KathleenDollard on the correct content, but I *think* we want the following for VB console app:

[code]

And eventually the following for VB class library, but only Console may work there now.

[code]

(Strangely, in classic projects, VS UI shows Application type == Class Library and persists as MyTy

[2019-07-11 23:51] nguerrera commented on #2006
Note: VB runtime doesn't work in netstandard, minimum TFM is probably NETCoreApp 3.0+ and nothing else.

[2019-07-15 14:34] sayedihashimi commented on #1987
@Jjagg yes having a global tool would be cool. If it's open source, please share the link.

[2019-07-15 14:36] Jjagg commented on #1987
I first need to figure out what I'm doing wrong. If you can point me in the right direction or know how to best debug this, any help would be appreciated :)

[2019-07-16 23:07] nguerrera opened #2014 "Don't show help when syntax is structurally correct, but argument is out of range"
Suppose I have a typo in my target framework argument to dotnet new or the target framework I passed isn't supported for the given template

`dotnet new console -f netcoreapp7.0`

Then I get a lot of output including a bunch of  help

![image](https://user-images.githubusercontent.com/75470/61335744-7a226500-a7e3-11e9-878f-f8df2f6a573e.png)

The main relevant thing is this:

[code]

But it's hard

[2019-07-16 23:12] nguerrera opened #2015 "Don't show help when the command did what I asked successfully"
Here I'm running `dotnet new -i Microsoft.DotNet.Web.ProjectTemplates.2.2::2.2.5` as instructed by a prior attempt to do dotnet new web --framework netcoreapp2.2 with 3.0 SDK.

It succeeded, but showed me a bunch of help, which is also what happens when things fail so I get the impression that it failed. I don't think all this help output is necessary when the operation to install a template succe

[2019-07-17 19:44] phenning commented on #2004
You have the same groupIdentity for both templates, so it will only be listed once.

GroupIdentity serves as a rollup to group together templates which are semantically the same template, but may have different symbols to differentiate. For example, the templates contained in the following template packs, all have the same groupIdentity, but each one has a distinct id and only supports one version

[2019-07-17 19:48] phenning opened #2017 "Nupkgs are using the DefaultInstallUnitDescriptor"
This results in a few things:

The uninstall commang becomes:
dotnet new -u c:\users\user\.templateengine\dotnetcli\v3.0.0\packages\package.nupkg
instead of:
dotnet new -u package

Also, when performing the dotnet new -u command, the author and version information is missing.

In order to fix, we need to explicitly register the NupkgInstallUnitDescriptorFactory in ComponentManager.cs, similar to h

[2019-07-18 01:58] #2017 closed

[2019-07-19 16:40] ryanbrandenburg commented on #2015
Sounds like a duplicate of https://github.com/dotnet/templating/issues/1694, but if the new issue means we re-evaluate leaving this in the backlog I'm on-board 😄. I think this is super confusing for even fairly basic templating scenarios.

[2019-07-23 14:09] TroyWalshProf commented on #1920
You also see this issue when the working directory has a space or dash.

So if I am in "C:\Users\TroyW\Desktop\Sample\With Space" and run:

 `dotnet new fabulous-app --Android=false --iOS=false`

The new sln file will now have this:
`
Project("{6EC3EE1D-3C4E-46DD-8F32-0CC8E7565705}") = "With_Space", "With_Space\With_Space.fsproj", "{C2EF5A38-20E3-4B7D-BA17-6AE9A217B390}"
EndProject
`

[2019-07-25 15:18] #2004 closed

[2019-07-29 02:09] pholden77 commented on #1995
I was having the same problem and ended up trying to setup a specialCustomOperation for **/*.yml files based on the [runnable targets](https://github.com/dotnet/templating/wiki/%22Runnable-Project%22-Templates) wiki article.

I couldn't get it to work by setting up the if/else/else if configuration based on that, but there's another open issue [1641](https://github.com/dotnet/templating/issues/164

[2019-07-29 11:50] crhairr commented on #1995
Awesome! I'll give this a shot.

It would still be nice if Yaml was supported our of the box given its overseeing increasing prevalence in the software world. Especially vis-a-vis Docker.

[2019-07-31 16:14] grahamehorner opened #2038 "Q: parameter regexp"
does the templating engine support validation of parameter values using regex? and/or displaying of error message valid regex is violated?

[2019-08-02 21:19] dseefeld opened #2044 "[source-build] DotNetCliCommandLineVersion property is incorrectly named"
The `DotNetCliCommandLineVersion` property is incorrectly named, so it's not picking up the source-built package when building in source-build.  This is causing source-build to use a prebuilt version of Microsoft.DotNet.Cli.CommandLine.  The name of the property should be changed to `MicrosoftDotNetCliCommandLinePackageVersion`.

[2019-08-03 00:17] vijayrkn commented on #2044
@phenning - Can you please update this?

[2019-08-04 11:51] GaProgMan opened #2047 "Installed templates are not persisted after SDK updates"
### Steps to Recreate

1. Install vLatest -1 minor of the SDK (for example: 2.2.301)
1. Install a template (I have a number of them in a [repo that I maintain](https://github.com/GaProgMan/DotNet-New-Templates))
1. Verify that the template is installed with `dotnet new`
1. Install vLatest of the SDK (at the time of writing, this is 2.2.401)
1. List the installed templates
1. Template installed in

[2019-08-04 14:42] Jjagg commented on #1987
@phenning Sorry for the bump. How should the templating engine find and copy over the nupkg? It's not getting copied over to the .templateengine folder.

[2019-08-05 08:56] thomaslevesque opened #2053 "dotnet new sln creates a VS2017 solution"
## Steps to reproduce
Install .NET Core 3.0 SDK Preview 7
Create a new solution with `dotnet new sln`

## Expected  behavior
The new solution is created with `VisualStudioVersion` set to 16.* (VS2019)

## Actual behavior
The new solution is created with `VisualStudioVersion` set to 15.* (VS2017)

I realize it's a problem with the template rather than with the `dotnet new` command, but I don't know

[2019-08-05 21:43] nguerrera commented on #2006
Please hold off on making this change, there may need to be some things reverted from 3.0 and deferred to 3.1 such that MyType=Console would not work.

[2019-08-09 15:23] svick opened #2062 "The table in "dotnet new" is too big"
When I open a new terminal on Windows and run `dotnet new`, this is what I see:

![](https://user-images.githubusercontent.com/287848/62788671-acb03c80-bac7-11e9-8114-b7791975390c.png)

Notice that:

1. Most of the visible templates are some of the least used ones (I think). Accessing the interesting information requires quite a lot of scrolling or resizing the terminal window.
2. Many of the visi

[2019-08-13 19:30] npuc85 opened #2068 "Restore postAction does not work when primaryOutputs renamed with sourceName"
My template includes 3 projects:

- src/My.Project.csproj
- test/integration/My.Project.Test.Integration.csproj
- test/unit/My.Project.Test.Unit.csproj

I am utilizing the "sourceName" property of the template.json to rename these to whatever name is passed into `dotnet new`, and I want to run restore on all 3 of the projects to restore nuget packages. My template.json looks something like this:

[2019-08-17 23:43] jasondentler opened #2072 "Post-action chmod fails on Mac"
On Mac, the chmod post-creation action fails. Just to be difficult, it also swallows the exit code, and outputs a generic error message.

This is not a duplicate of #1743 as the execute bit wasn't actually set.

### Details
I have a single post action, copied directly from the docs [here](https://github.com/dotnet/templating/wiki/Post-Action-Registry#change-file-permissions).

[code]

[code]

[cod

[2019-08-19 12:25] dasMulli commented on #1654
Cross-linking https://github.com/dotnet/cli/issues/12163 for a discussion about potentiall not cluttering `dotnet publish` with too many options for new features but moving things to publish profiles, for which templates with publish options would become of importance.

[2019-08-19 21:02] phenning opened #2073 "double.Convert fails on PLK locale when used in an expression"
The following code template code will result in an exception
[code]

[code]

This is due to PLK having a space as the group separator character, and a , as the decimal character.

Other European locales all specify . as group separator if , is the decimal separator, so we don't see this in other languages.

We should use the invariant culture when converting doubles and floats for use in expressio

[2019-08-23 12:29] hez2010 opened #4138 "Opt-in Nullable Reference Types by default in templates"
# Opt-in Nullable Reference Types by default

`Nullable Reference Types` is a significant feature to decrease the possibility of bugs and it can improve robustness.
People who don't follow the Microsoft DevBlogs even don't know the existence of this feature, why not opt-in this feature in `dotnet new` template by default? If it was opted-in by default, new projects will consider the nullable issue

[2019-08-24 21:05] davidortinau opened #2079 "dotnet new strips our conditional compile code"
I have an `AppDelegate.cs` file in my project with the following code. It is being stripped out when `dotnet new` is executed. I have verified the code is present in my packed NuGet.

[code]

Is there a way to escape this and protect it?

[2019-08-24 21:12] dansiegel commented on #2079
Yes @davidortinau you'll need to escape it in your AppDelegate like the following:

[code]

Keep in mind that all of your conditional properties and groups in the csproj will also be stripped out if you do not escape them.

[code]

[2019-08-24 22:25] davidortinau commented on #2079
Per @sayedihashimi this is working for me:

[code]

[2019-08-25 00:55] sayedihashimi commented on #2079
Regarding project files, I think that bug was fixed. Would be good to hear for sure though.

[2019-08-25 03:23] dansiegel commented on #2079
@sayedihashimi I don't believe that's a bug... Conditions are used to dynamically add/remove entire PropertyGroups and Properties, etc... it's ultimately the same issue you're seeing in the C# code where the condition evaluates to false thus it's stripped out

[2019-08-25 14:50] sayedihashimi commented on #2079
@dansiegel it was a bug and it was fixed see https://github.com/dotnet/templating/issues/1195

[2019-08-26 08:50] michelesolytic commented on #1248
I also encountered this problem today, and I disapprove the decision of keeping this behaviour by design. If there are some editors on Windows which have troubles handling LF endings, then it should be their responsibility to fix their behaviour, not yours.
I believe you should rather provide instructions to those users (or a command flag, or a tool) to counter the issue in those scenarios: once t

[2019-08-26 12:21] davidortinau commented on #2079
Where is this documented? I looked for similar with no luck.

[code]

[2019-08-28 18:53] RehanSaeed commented on #481
The VS tooling team just finished a redesign of the new project dialogue, lets hope they can now work on a UI for `dotnet new`.

I've started to think that it would be great to make a `dotnet new ui` command as a kind of global tool, not requiring Visual Studio at all. If you've seen the Vue CLI which does this, it's a pretty amazing experience?

[2019-08-28 22:05] bitbonk commented on #481
@DamianEdwards talks a little about their plans with templating on [this ASP.NET Core community standup](https://youtu.be/a2lq4yEfJpk) (somewhere around minute 50). The bad news is that it will probably still take quite a long time (far beyond .NET Core 3.1 timeframe would be my guess). The good news is that they are going for a solution that works across VS, VSMac and the CLI. I heard him saying

[2019-08-29 19:18] adamcroissant commented on #2072
I ran into the same issue. versions:
dotnet 2.2.104
GNU bash 5.0.3(1)-release
dotnet new 1.0.2-beta4

[2019-08-31 00:06] davidortinau commented on #2068
I'm having the same issue.

[code]

@sayedihashimi is there a workaround for this?

Looking to see if I could contribute a fix, but still learning the code. It looks like right about here the restore process needs to account for the provided name replacing sourceName.

https://github.com/dotnet/templating/blob/e92ed67914f2fffe79fbce1e6cac4096e3ccfd19/src/Microsoft.TemplateEngine.Cli/PostActionProc

[2019-08-31 13:55] robertmclaws opened #2087 "Update Wiki with content to open file in IDE or browser"
There is a section in the template.json reference that talk about presenting templates in groups (groupIdentity). It has a link to "https://github.com/dotnet/templating/wiki/_new#creation-of-multiple-tamplates-shown-as-one" that does not actually exist anymore.

Also the wiki seems to be missing information on how to trigger the IDE or your web browser to open a file (https://github.com/dotnet/tem

[2019-09-02 09:54] tmds opened #2093 "dotnet new is slow with 3.0 sdk"
`dotnet new` takes much longer with 3.0 sdk. From less than half a second with 2.2, to more than 3 seconds with 3.0:

[code]

[code]

The message `The template "Console Application" was created successfully.` appears as fast, but then the program still idle for some time.

[2019-09-02 19:59] guibirow commented on #282
- [ ] yaml
- [ ] yml

[2019-09-03 19:24] tillig opened #2090 "Provide better/more specific examples of SpecialCustomOperations usage"
I'm working on a project that I want as a "runnable template" for an ASP.NET Core web project, but I found that the JSON syntax for replacement doesn't always yield something usable by Visual Studio. For example, in `launchSettings.json` if you have something like this...

[code]

...then VS sees it as invalid JSON and the template isn't runnable anymore. It took several hours of guesswork and tri

[2019-09-06 22:35] phenning commented on #2068
Try using  forward slashes as path separators instead of windows style separators. There appears to be an issue with mapping the source renames in primary outputs which use windows path separators.

[2019-09-11 09:16] AlseinX opened #2103 "`dotnet new` templetes becomes incorrect on preview9 on Linux"
## Steps to reproduce
`dotnet new sln`

## Expected  behavior
Working properly, creating a solution file in the current directory.

## Actual behavior
[code]
After that I have checked the available templetes by `dotnet new`
[code]
Some templetes are missing, such as `sln` and `gitignore`.
And I believe that wpf and winforms templetes were removed on linux for not supported, but are unexpectedly ap

[2019-09-18 11:33] wendellestradairely commented on #1238
How do you parse names with relative paths so that the class name will not be replaced with directory paths? For example, my template is ServiceNameService, then, when you run the command `dotnet new --name "Services/Payroll"`, the file will be created as **PayrollService.cs** inside a folder named **Services** however the problem is that the class name also gets renamed to "Services/PayrollServic

[2019-09-20 17:05] livarcocc opened #2112 "Removing template from disk leaves dotnet new in unusable state"
_From @krwq on Friday, September 20, 2019 1:01:53 AM_

## Steps to reproduce

- `dotnet new -i <path to any template>`
- `rm -rf <path to the template>`
- `dotnet new --help`

## Expected  behavior

Warning or actionable error message

## Actual behavior

Error:

[code]

## Environment data
`dotnet --info` output:

[code]

Removing all of the ~10 entries of my app from json files under `~/.templat

[2019-09-22 11:23] alrz opened #2113 "As a dotnet new user, I want Roslyn analyzer project templates, to enhance my productivity"
It would be nice to be able to run dotnet new analyzer|codefix to create roslyn analyzer/codefix projects.

[2019-09-24 08:40] RaphaelFourdrilis opened #2114 "Access cmdline parameters from template config"
Hello,

I've been toying with the `dotnet new` templates in order to simplify my coworkers life, but I can't seem to find a way to reference cmdline parameters inside my config.
I'd like to be able to launch a postAction that runs a script inside the template, but when using the `-o` switch, my postAction cannot find the script, since it's not in `./whatever.cmd` anymore ...
I find this quite ...

[2019-09-24 15:54] livarcocc opened #2115 "Cannot use `dotnet new` to target older runtimes"
_From @richlander on Tuesday, December 18, 2018 10:51:18 PM_

I have both .NET Core 3 Preview 1 and .NET Core 2.2 SDKs installed. I want to do this:

[code]
It doesn't work. I'm not happy using global.json for this scenario. I should be able to target any .NET Core version that I want. If that version isn't supported on my machine currently, I should get instructions on what to do.

Something like

[2019-09-24 15:54] livarcocc commented on #2115
_From @livarcocc on Tuesday, December 18, 2018 11:33:57 PM_

This is an old limitation of `dotnet new`.

cc @KathleenDollard @vijayrkn @mlorbetske

[2019-09-24 15:54] livarcocc commented on #2115
_From @KathleenDollard on Wednesday, December 19, 2018 12:27:47 AM_

Rich,

It would be great to get your perspective on this...I do understand the pain.

I think this is best solved working with @Mike Lorbetske<mailto:mlorbe@microsoft.com> after he returns, which I calculate to be around Feb 1 give or take. Being able to align templates with runtimes, and then figure out the right delivery mechan

[2019-09-24 15:54] livarcocc commented on #2115
_From @KathleenDollard on Wednesday, December 19, 2018 12:40:23 AM_

+ @Angelos Petropoulos<mailto:angelpe@microsoft.com> and @Sean Peters<mailto:sepeters@microsoft.com>

It is possible to install other versions of templates into a given instance of the CLI. Sean can provide details.

Longer term, we’ve been thinking on ways to have a single “new” experience across CLI versions and better share be

[2019-09-24 15:54] livarcocc commented on #2115
_From @KathleenDollard on Wednesday, December 19, 2018 12:48:47 AM_

Sean,

Are you here this week? I think Angelos is here another day or two. I'd love to whiteboard the parts that might make sense to deliver independently here to align with other discussions about packaging (for example our packing in Visual Studio).

Kathleen

________________________________
From: Mike Lorbetske
Sent: Tuesday,

[2019-09-24 15:54] livarcocc commented on #2115
_From @seancpeters on Wednesday, December 19, 2018 1:11:16 AM_

For installing a specific version of a template, using the specific example @richlander indicated in the original post in this thread, run this command:

`dotnet new --install Microsoft.DotNet.Common.ProjectTemplates.2.2::1.0.0-*`

Then if you run `dotnet new console -h`, the framework option section of the output should look like thi

[2019-09-24 15:54] livarcocc commented on #2115
_From @seancpeters on Wednesday, December 19, 2018 1:12:33 AM_

@KathleenDollard - I am here for the rest of the week, but a bit busy. Perhaps we can get together after the holiday? I'll be back on the 2nd.

[2019-09-24 15:54] livarcocc commented on #2115
_From @angelos on Wednesday, December 19, 2018 7:13:24 AM_

As cool as this feature is, I’m pretty sure you found the wrong @angelos .
The real one would be thrilled to be involved, I’m sure!

On 19 December 2018 at 02:12:42, seancpeters (notifications@github.com)
wrote:

[2019-09-24 15:54] livarcocc commented on #2115
_From @mairaw on Tuesday, June 25, 2019 11:33:23 PM_

Probably this is the right @AngelosP

Also, what if the person wants to target .NET Framework? Is it possible to install a template for that too?

It would probably be good to cover this scenario in the docs.

[2019-09-24 15:54] livarcocc commented on #2115
_From @KevinCathcart on Tuesday, September 24, 2019 2:27:44 PM_

The bug for documenting installing older version templates into a new SDK, and using them to target older frameworks is: dotnet/docs#14572

As for if the person wants to target .Net Framework, well that would work if anybody ever created template packages for them. After all `dotnet new nunit --framework net47` works just fine.

Of c

[2019-09-25 08:22] git-Charlie commented on #2093
Hello , How do you do,

Is this **slow down** still in the  **we expected**

![image](https://user-images.githubusercontent.com/50599252/65580829-fa680200-dfac-11e9-8afe-2a897ff1a881.png)

[code]

so , may I ask,
How can I set a option so dotnet won't update template check?
I was uninstalled many things for solve this .
thank god we have google and github.

no obvious hints, even in the preview ve

[2019-09-25 08:51] git-Charlie commented on #2093
if your are not from US, you can try this  solution,

add proxy for this domain:

[code]
or nam06 change to
` *.safelinks.protection.outlook.com:443 `

or just firewall block it .

[2019-09-26 19:35] foragerr opened #2123 "How can I programmatically get template shortname?"
For a bunch of custom templates we host in-house, I'm trying to write a bootstrap script that fetches and installs a template, generates code, and optionally sticks it our git repo.

After installing the template with
[code]

I'd like to run
[code]

except shortname does not always match template-name.

I could:
* unpack the nupkg file and parse .template.config/template.json to acquire shortname,

[2019-09-27 01:40] laymanmu commented on #1248
Carriage Returns were designed for mechanical typewriters.  What year is it again? Is there seriously no option to tell the dotnet cli to not add carriage returns? There's no config file or environment variable? What bubble do you live in to think that this is Ok? I think the emperor needs to put on some clothes - I'm here to tell you that the world does not use CRLF anymore and if you depend on i

[2019-09-27 14:02] pedroreys opened #2125 "Remove retired "AspNetCore.SpaTemplates" from WIKI"
In the [Available templates for dotnet new](https://github.com/dotnet/templating/wiki/Available-templates-for-dotnet-new) wiki page there is an entry for `Microsoft.AspNetCore.SpaTemplates::*` but those templates [have been retired](https://github.com/aspnet/Announcements/issues/289).

[2019-09-27 18:11] PeterAnaniaHC opened #2126 "Derived parameter for file renaming"
Guys I'm really sorry for bothering you, but I can't seem to find any information on derived parameters.

Specifically I'm trying to use this to rename a file, and I found a reference to: https://github.com/dotnet/templating/pull/1194

From this post: https://github.com/dotnet/templating/issues/1238

And I tried implementing the a derived parameter for file renaming as shown, but it wouldn't work

[2019-09-28 07:41] AClerbois opened #2127 "dotnet new -u - add double quotes on the list where the source is a folder that contains space"
Hello,

I'm face to something interesting.

When I'm executing the command ```dotnet new -u```, I retrieve the complete list of my installed dotnet template.

This list contains the uninstall command to remove the template. But if your initial path contains spaces, it should be interesting to encapsulated the path with double quotes.

![image](https://user-images.githubusercontent.com/50712277/658

[2019-10-01 14:56] kolluri-rk commented on #1663
I have similar issue. I was able to make it work on Mac with bash script, but not able to get it work on windows machine with batch file.

I tried to describe my workflow as clear as possible. please let me know how can I get this working on windows.

my use case is -
* user provides an input swagger file (configured as symbol)
* template output will have an empty spec folder
* user provided input

[2019-10-01 22:30] volkoff-pro commented on #1248
This behavior of dotnet cli is very frustrating for me. I'm waiting maybe some flag for line ending, or something else like this.
If I generating big project using built-in templates it is very hard to change crlf to lf(

[2019-10-03 18:55] Odonno commented on #179
`dotnet new` really (really really) miss an interactive mode like yeoman. How is this feature going on? And hopefully, how can we help?

[2019-10-03 21:14] tillig commented on #1538
Scenario: We have an internal template published at version 0.3.0. A fix is made, version 0.3.1 gets published.

When 0.3.0 is published, it gets installed with `dotnet new -i TemplatePackage --nuget-source https://our.internal.nuget.server`.

Now 0.3.1 is published. Running `dotnet new --update-check` does not find version 0.3.1. Running `dotnet new --update-check --nuget-source https://our.inter

[2019-10-04 11:13] am11 opened #2129 "Display template version with dotnet-new --list"
## Steps to reproduce

[code]

## Expected  behavior
[code]

## Actual behavior

[code]

## Environment data
[code]

[2019-10-04 19:14] allysonjoses commented on #1747
Any update on this issue?

[2019-10-08 02:14] doggy8088 opened #2130 "[Feature] Create an item template with an custom event handlers"
I'd like to have a feature that can create an item template with some event handlers.

For example, I need to create a set of classes in my existing project. Before/After generated files in my project, I'd like to modify some files of my project such as some config files or some other classes.

[2019-10-10 07:14] hanslai opened #2133 "dotnet cli: dotnet new failed when there is a private nuget package"
I have a private nuget package setup in Visual Studio.

![AIS Internal nuget](https://user-images.githubusercontent.com/20576491/66546180-0b00a680-eb6f-11e9-9ab5-43dcae189c23.png)

When I run the following CLI command `dotnet new -i "Amazon.Lambda.Templates::*"` in Powershell , `dotnet new `will failed with Status Code 401.   Please see error message below.

![Dotnet new failed with private nuget]

[2019-10-12 14:24] bravo-kernel commented on #2114
Variables are not available in postActions as explained here https://github.com/dotnet/templating/issues/1728. The last comment has a hint on how to solve it using a `generated` variable.

[2019-10-18 22:36] dannycarrera commented on #1663
I'm running into this issue as well.

[2019-10-22 16:05] bradygaster opened #2134 "Sorting and/or Filtering"
Has there ever been a discussion on providing sorting capabilities when someone calls dotnet new without a template? Like maybe items like these below. Adding an issue per discussion with @KathleenDollard

`dotnet new --sort name` (sorts by template name)
`dotnet new --sort short` (sorts by short name)
`dotnet new --filter WPF` (gives me only the templates that have WPF in their Tags)
`dotnet new

[2019-10-22 17:12] sayedihashimi commented on #2134
For filter you can already do that with a partial match passed to `-l`, it's not ideal though. In the case that the name matches fully, all the results are not shown.

For example

[code]

[2019-10-22 19:45] fabriciomurta opened #2135 "Update incorrect NuGet packaging documentation"
While I written this report I was using:
- Windows 10 10.0.17763.737
- DotNet CLI 3.0.100
- Visual Studio Community 16.3.1

In the [Custom templates for dotnet new](https://docs.microsoft.com/en-us/dotnet/core/tools/custom-templates#packing-a-template-into-a-nuget-package-nupkg-file) article, linked from the first link [in the _Template Authoring_ section of the main wiki page](https://github.com/

[2019-10-28 15:24] nbalakin commented on #2093
@git-Charlie I've just finished profiling the code. Here is the place in the code:
https://github.com/dotnet/templating/blob/master/src/Microsoft.TemplateSearch.Common/BlobStoreSourceFileProvider.cs#L19

So setting `DOTNET_NEW_LOCAL_SEARCH_FILE_ONLY` env variable to 1 disables the update check.

But still... The json returned looks like the whole template package list. So it will work slower with

[2019-10-30 07:36] Jepson109 opened #2137 "[Loc]Run “dotnet new --help” in Japanese, the output are not localized."
1.	Prepare a clean Japanese environment machine
2.	Install SDK [3.1.100-preview2-014562](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdotnetcli.blob.core.windows.net%2Fdotnet%2FSdk%2Frelease%2F3.1.1xx%2Fdotnet-sdk-latest-win-x64.exe&data=02%7C01%7Cv-pejian%40microsoft.com%7C356ba53cf70d499839d308d75d09592c%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637080167041418611&sdata=U

[2019-11-06 14:23] jzabroski opened #2140 "Is there a nicer API for this?"
Other than using the Visual Studio Project menu's Export Template menu, is there a fluent API for this so we don't twiddle with JSON?

The JSON document structure for templates looks like it was designed for consumption by Visual Studio, but not meant to be written by humans.

Ideally, I want to write `dotnet new` plug-ins as C# programs that use whatever templating system I want for customizing t

[2019-11-06 15:52] jzabroski commented on #2140
Given that dotnet templating is basically a re-write of yeoman, it might be inspiring for the team to look at something like Yeoman-Easily https://www.freecodecamp.org/news/creating-yeoman-generators-easily-with-yeoman-easily-cf552aef0d2f/

[2019-11-12 16:36] Adrian10988 opened #2148 "Is it possible to create a template which modifies existing files?"
EG:
I execute some template to
- modify an existing controller by adding a new endpoint
- modify an existing domain class to add an entry method which the controller can use
- modify an existing repository to add an entry method with the domain can use

I understand that I can use template for anything greenfield, but I would like to add functionality for brown field development. I find myself con

[2019-11-12 17:18] jzabroski commented on #2148
You used to be able to do this with .NET Framework and nuget packages like WebExtensionEx (this is how logging frameworks like Elmah grew to huge popularity among novice ASP.NET engineers because it was so easy), but due to the move to [Microsoft.Extensions.DependencyInjection](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection?view=dotnet-plat-ext-3.0) interfaces

[2019-11-18 14:21] LeaFrock commented on #2127
I met this problem right now! If I don't add double quotes, the template can't be uninstalled and *CMD.exe* will tell '*Invalid Input Switch: ......*(Skip here)'.
Thank you for helping me!

[2019-11-22 09:24] hillin commented on #1991
Same here.
[code]

[2019-11-22 20:10] mbalmes commented on #1922
Looks like those files were removed in [6492bb69](https://github.com/dotnet/templating/commit/6492bb69) when the build process was simplified with the ArcadeSDK. Setup.sh and setup.cmd have been replaced with build.sh and build.cmd.

[2019-11-22 20:28] mbalmes commented on #1922
I'll create a pull request to update the README but the [contributing](https://github.com/dotnet/templating/wiki/Contributing) page on the wiki needs an update too.

[2019-11-29 01:11] vb-software opened #2173 "Force parameters to be specified if another is specified"
Documentation doesn't indicate this is already a feature but it would be nice if specifying one parameter forces other parameters to required only if that initial parameter is used.

[2019-11-29 01:12] vb-software opened #2174 "Exclusions not working for files without an extension"
I have a template that I intend to create a Jenkinsfile and Dockerfile only if --useJenkinsfile is set to true.  Therefore, I added these files as exclusions if the condition is not true.

The files are still appearing regardless of the value of the flag.

I'm assuming it's because they don't have file extensions.

[2019-11-29 18:16] vb-software opened #2176 "If conditions for .sln or alternative"
In one of my templates, I have a useTests flag that will include test .csproj boilerplate.  I also have a .sln file in my template but find it difficult to have to support this with conditionals (and documentation does not mention .sln as an MSBuild project for conditionals).

Although I could use if/else for .sln if it is supported I actually foresee a better approach...

Can there be post steps

[2019-12-09 12:05] bugproof opened #3196 ""dotnet new template""
Add some command to create a custom template that creates `./.template.config/template.json` for you?

[2019-12-10 00:51] GregYankovoy opened #2212 "dotnet new -i templates --nuget-source does not support --interactive auth"
Hi,

dotnet sdk version 3.1.100

Attempting to install dotnet CLI templates from a secured Azure Artifacts NuGet repository does not seem to be working.  The command correctly outputs that an --interactive authentication flow may be required.  However, the dotnet new -i command does not actually support the --interactive flag.

Using the same repository, csproj dependencies can be restored via the

[2019-12-10 22:52] AllanRegush opened #2189 "Dotnet new fails: Object reference not set to an instance of an object"
# Steps to reproduce
dotnet new console and dotnet new
# Expected behavior
Creates a new console app / lists help for dotnet new
# Actual Behavior
[code]
# Environment Data
[code]
[code]

Tried Fixes in [Dotnet new fails: Object reference not set to an instance of an object #657](https://github.com/dotnet/templating/issues/657)

ie.
[code]
Did not have this problem with dotnet sdk 2.0.

[2019-12-10 23:28] AllanRegush commented on #2189
I installed dotnet core 3.1 via snap - works fine. Could be something missing in the official opensuse package or due to tumbleweed having a different libicu package (libicu-suse65_1).

[2019-12-12 16:56] antonrademaker opened #2191 "Enable tab completion via CLI to `System.CommandLine` Migration"
Dotnet cli supports tab completion, it would be really handy to have support for template parameters / symbols as well?

https://docs.microsoft.com/en-us/dotnet/core/tools/enable-tab-autocomplete

To allow tab completion, dotnet new CLI needs to migrate to [System.CommandLine parser](https://github.com/dotnet/command-line-api).

## Subtasks

### Done
- [x] https://github.com/dotnet/templating/issu

[2019-12-21 08:08] mdx0111 commented on #2189
I'm having exact same problem on Fedora 31.
Running dotnet new throws the following:

`Getting ready...
Object reference not set to an instance of an object.
   at Microsoft.TemplateEngine.Edge.Settings.SettingsLoader.Save(TemplateCache cacheToSave)
   at Microsoft.TemplateEngine.Edge.Settings.SettingsLoader.Save()
   at Microsoft.TemplateEngine.Cli.Installer.InstallPackages(IEnumerable`1 installa

[2019-12-24 07:04] mdx0111 commented on #2189
I fixed it by wiping the "/usr/share/dotnet/templates" and "~/.templateengine" folders. Then reinstalling dotnet core 3.1 and then running dotnet new --debug:reinit.

Everything works fine now.

[2019-12-28 22:47] dannyyy commented on #1538
I'm experiencing the absolute same behaviour as @tillig do.
Please fix this as soon as possible. All these workarounds aren't very convenient in everyday life.

This is what I do (other workaround)
[code]

[2019-12-30 14:14] RehanSaeed opened #2208 "Conditionals Fail in .editorconfig Files"
I have an `.editorconfig` file with the following conditional in it:

[code]

In my `template.json` file, I have then added the following boolean option:

[code]

When I create a project using `dotnet new` and turn off the `StyleCop` option, the `.editorconfig` file failes to remove the code above. Is there a bug with files that start with a `.` or have no file extension?

[2019-12-30 14:15] RehanSaeed commented on #2174
It seems I have a similar issue in https://github.com/dotnet/templating/issues/2208

[2019-12-30 14:25] RehanSaeed opened #2209 "Complex Conditionals Fail if not Wrapped in Parentheses"
This conditional fails to execute correctly and you end up with the code below in the final project output:

[code]

This successfully removes the code if the condition fails:

[code]

This only seems to be the case with complex conditionals. A simple conditional succeeds with or without brackets:

[code]

The reason I'd like this fixed is that it's very easy to get this wrong and I also get warni

[2019-12-30 14:50] jzabroski commented on #2209
@RehanSaeed How do you reproduce this issue?  It looks like you're complaining about a C# language standard specification, not dotnet templating.

Also, did you mean "Complex Conditionals Fail if not Wrapped in **_Parentheses_**"?

[2019-12-30 15:10] RehanSaeed commented on #2209
I don't think it's related to just `.cs` files but affects all templating engine `if` statements in other file types too. I would have thought `if` statements should work with or without parenthesis.

Reproducing it is as simple as adding the above conditions in a file.

Fixed the title.

[2019-12-30 23:18] ardove opened #2210 "Allow sourceName to be used as source for casing generator"
I'm after a way to get the lowercase version of the main template name. The below template configuration produces the issue with the below csproj file. Maybe I've got invalid syntax or an something else isn't correct. I can't just specify the lowercase name as the -n command because I want to support a mixed case for that parameter (e.g. I want the user to specify FooDomain instead of foodomain be

[2019-12-30 23:40] sayedihashimi commented on #2210
Have you tried with a different string for the lower casing? For ex AppNameLower instead of ApplicationNameLower? Since ApplicationName is a substring of ApplicationNameLower I could see how that may introduce issues.

[2019-12-30 23:44] ardove commented on #2210
@sayedihashimi, unfortunately, I'm seeing the same behavior. dotnet cli version => 3.1.100

[2019-12-30 23:47] sayedihashimi commented on #2210
@ardove that’s a bummer, let’s see what the team here says. I’m curious about this one as well.

[2020-01-02 19:37] orangudan commented on #1922
Also stumbled across this. Perhaps unrelated but I ran `./build.sh` anyway and it didn't enable the `dotnet new3` command.

[2020-01-02 20:41] ajaybhargavb opened #2217 "File encoding is not maintained when first line of file is a conditional statement"
The file generated after doing `dotnet new` has a different encoding than what was in the original file for the template.

Repro:
- Install dotnet 3.1 sdk
- Unzip `C:\Program Files\dotnet\templates\3.1.0\microsoft.dotnet.web.projecttemplates.3.1.3.1.0.nupkg` and go to `Web.ProjectTemplates/content/BlazorServerWeb-Csharp/`
- Verify the encoding of `App.razor` (It should be UTF-8 with BOM)
- Now cre

[2020-01-02 21:39] phenning commented on #2217
This looks like a bug when the first line of the processed file contains a conditional construct such as #if.

I just verified that either adding a blank line to the top of the file, or moving the #if to the next line as follows results in the encoding being preserved.

@*
#if (NoAuth)
<Router AppAssembly="@typeof(Program).Assembly">

@ajaybhargavb You could use this as a workaround until the root

[2020-01-03 03:10] GregYankovoy commented on #2212
Hi @fabiomilheiro, I was able to find a workaround for the time being.  You can get cached nuget credentials to the private repository via dotnet restore --interactive (with a project incorporating a package from the protected repository).

The dotnet template installation command supports alternative NuGet sources, and actually suggests running with the interactive flag upon authentication failur

[2020-01-03 03:14] GregYankovoy commented on #2212
After looking through some open pull requests, it looks like someone took a first pass at correcting the problem:
https://github.com/dotnet/templating/pull/2064/commit

[2020-01-03 14:45] jack2gs commented on #2093
same issue here

[2020-01-09 00:36] ajaybhargavb commented on #2217
@phenning,
[code]
doesn't work.

Adding a newline before the @* works but it ends up adding a blank line at the top of the generated file.

[2020-01-09 02:18] phenning commented on #2217
You are right, I wasn't looking at the generated file correctly with that version of the workaround.

[2020-01-09 18:49] ajaybhargavb commented on #2217
Is there a workaround that wouldn't add a newline at the top of the generated file?

[2020-01-09 19:04] mkArtakMSFT commented on #2217
@phenning I'm concerned regarding taking a workaround for this in a template as that would be a per-file fix, and we can potentially run into this issue again in the future.
What about treating /forcing all the files to be UTF8? This should be very small change in the templating engine.

[2020-01-09 19:12] phenning commented on #2217
That seems rather heavy handed, and is not the right fix either.

Not all files are UTF-8. The right fix should be to fix the fact that the BOM gets stripped when the first line contains a conditional statement. The conditional itself gets stripped, so there is likely some sort of issue with that code when that line happens to be the first line in the file after the BOM.

AFAIK, this is the only f

[2020-01-09 19:25] mkArtakMSFT commented on #2217
That is probably true but the fact that future changes in templates can potentially re-introduce this issue make me believe that fixing the file is not a good way moving forward. I agree, that for now it'll work, but the `right fix` you mention is required too.

[2020-01-09 19:47] phenning commented on #2217
Also, for what it's worth, the encoding is preserved, only the BOM is removed. This template file though does not contain any non-ANSI characters. To verify this, I inserted a Chinese character into the template file locally, and while the BOM was removed when the project was generated, the generated file was still UTF-8 encoded.

[2020-01-09 20:50] ajaybhargavb commented on #2217
@phenning this is not what we observed. In fact, this bug was discovered because the generated file was not UTF-8 (with or without BOM). Right now if you run `dotnet new blazor` with a 3.1 SDK, and check the encoding of `App.razor` you'll see that it is Windows Code Page 1252 and not UTF-8. The encoding of the original template file is UTF-8 BOM.

[2020-01-09 21:18] phenning commented on #2217
@ajaybhargavb The template as it exists now does not have any UTF-8 characters in it, so without a BOM, it would be detected as an CP-1252 file when it is generated.

I manually updated the App.razor file within the template's nupkg in my %userprofile%\.templateengine\dotnetcli\v3.1.100\packages folder to include a Chinese character; I just added one to the first <p> tag in the first block.

The g

[2020-01-09 21:22] ajaybhargavb commented on #2217
In that case, isn't the real bug still is that the actual encoding (not just BOM) isn't preserved right?
E.g, if my template file is UTF8 without BOM and it doesn't contain any unicode characters yet. Then the templating engine would generate it as CP-1252 instead of UTF8. But we would want it to preserve UTF-8 regardless of whether any unicode characters are present in the original template or no

[2020-01-09 22:15] phenning commented on #2217
In the case of the absence of the signature, it is up to the consumer of the file to determine whether a file should be treated as UTF-8 (or not), as well as how it wants to treat it by looking at the contents of the file - a file can still still be treated as UTF-8 even if it only contains ANSI characters - but thats up to the editor.

For example: VS Code detects and treats this file as UTF-8:

[2020-01-09 22:31] ajaybhargavb commented on #2217
Thanks for the deeper investigation @phenning. If the editor treats the file as UTF-8 or not based on the contents of the file then as in the original customer report of this issue, when they add some unicode characters in `App.razor` and press `Ctrl+S`, the file is not considered as UTF-8 by Visual Studio. Is there a bug in the VS editor then?

[2020-01-09 22:48] phenning commented on #2217
I just tried this, I added a Chinese character in Visual Studio and got the following dialog upon saving, clicking Yes here then saved it as UTF-8 with BOM, so I don't think it blocks the customer, but it does seem like a less then optimal experience that the Visual Sudio editor chooses not to just treat the file as UTF-8 by default and throws up this additional dialog. Additionally, if you chose

[2020-01-10 17:38] ardove commented on #2210
@sayedihashimi any updates from the team?

[2020-01-15 04:10] limup commented on #2189
Thanks!

[2020-01-15 04:24] limup opened #2232 "dotnet error : Unable to obtain lock file access on '/tmp/NuGetScratch/lock/..."
## Steps to reproduce

dotnet build or dotnet run

## Expected behavior

Run or Build app
## Actual Behavior

[code]

## Environment Data

dotnet --info

.NET Core SDK (reflecting any global.json):
 Version:   3.1.101
 Commit:    b377529961

Runtime Environment:
 OS Name:     fedora
 OS Version:  31
 OS Platform: Linux
 RID:         fedora.31-x64
 Base Path:   /usr/share/dotnet/sdk/3.1.101/

Host

[2020-01-16 05:45] radu-matei commented on #233
Just cross-posting from #823 - an option to have `.gitignore` per project or per solution would be extremely helpful.

[2020-01-16 13:53] limup commented on #2232
Guys!
I fixed this with commands below:

export TMPDIR=/tmp/NuGetScratch/
mkdir -p ${TMPDIR}

See ya!

[2020-01-16 13:53] #2232 closed

[2020-01-19 17:26] kamabery opened #2238 "Installing template from Nuget server vs installing locally"
- [Nuget Package](https://www.nuget.org/packages/Kam.Console/1.0.0)
- [GitHub project](https://github.com/kamabery/Kam.Console)

If I run `dotnet new -i .\` (install from local directory)  the install works fine, but if I try to install from Nuget I get the following error:
`error NU1202: Package Kam.Console 1.0.0 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Package Kam.Console

[2020-01-21 18:44] luizmotta01 commented on #1084
anyone knows a way to go around and check which version is installed? I've looked into the "dotnet/templates" folder, but not founded any custom  template with the ".nupkg" extension

[2020-01-21 18:52] phenning commented on #1084
@luizmotta01, are you trying to find which version of a custom template is installed?
Running `dotnet new -u` will enumerate the list of template which are installed, along with version information and uninstall commands needed to unsintall if desired.

[2020-01-22 00:20] luizmotta01 commented on #1084
@phenning yes, I actually have a team of developers using a custom template and I have to ensure that when the custom template gets updated everyone in the team can verify the installed version. But I've tried your command suggestion and it solves it. thank you very much!

[2020-01-22 20:48] divinebovine opened #2240 "Add support for fileRename to Generated Parameters"
According to the wiki, it appears that you can use fileRename with any symbol type (parameter, computed, generated), but it only works with parameter. We have some templates that we would like to generated symbols (using casing and/or regex generators), but have to supply an additional command line parameter. If this is something that is too difficult to support or not high on the list of prioriti

[2020-01-24 17:06] RehanSaeed opened #2243 "[Bug] Cake Build (.cake) Files Not Supported"
I have a `build.cake` file that I am trying to do replacements in:

[code]

A [Cake build](https://cakebuild.net/) file is essentially a C# `.cs` file. When I run `dotnet new nuget --appveyor=true` or `dotnet new nuget --appveyor=false`, the output I always get is:

[code]

My understanding is that unsupported file types fall back to using `#` for the comments (which is why I also tried it above).

[2020-01-24 21:23] seesharprun opened #2244 "Async Entry Point for ConsoleApp project template."
I always wondered why the default **consoleapp** project template does not have an [asynchronous entry point](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-7-1#async-main)?

Here's the code I am referencing:

[template_feed/Microsoft.DotNet.Common.ProjectTemplates.3.0/content/ConsoleApplication-CSharp/Program.cs](https://github.com/dotnet/templating/blob/5bd81ea15df351cc042c7c48f

[2020-01-24 23:26] MichaelSimons opened #2245 "Add support for 5.0 templates"
1. Install the latest SDK builds from `master` (e.g. 5.0.100-alpha.1.20073.4)
2. run `dotnet new console`
3. inspect the `TargetFramework` in the project

**Expected:**
The project would target 5.0

**Actual**
The project targets 3.1

4. run `dotnet new console --framework netcoreapp5.0`

**Expected:**
Error: Invalid parameter(s):
--framework netcoreapp5.0
    'netcoreapp5.0' is not a valid value

[2020-01-27 14:47] RehanSaeed commented on #1438
Another question I have is how to escape a `Condition`, so that it gets output in the final project instead of resolved and then removed. For example, lets say I have this in my `.csproj`:

[code]

How do I get the exact output above to be created in my project? The `Condition` always gets removed and I end up with this:

[code]

[2020-01-29 06:53] GeorgeGomez commented on #2189
sweet!

[2020-01-29 13:47] julianbartel commented on #1991
Same here.
Works when
`    "primaryOutputs":
    [
       { "path": "<sourceName>.csproj" }
    ],`

but fails when
 `    "primaryOutputs":
    [
       { "path": "<sourceName>\<sourceName>.csproj" }
    ],`

Tested with `3.1.101`

[2020-01-29 14:45] joacar opened #2250 "[Question] Suppress printing usage when calling dotnet-new"
Hi,

Is there a way to suppress listing usage before example `dotnet new nx -l`?

Thanks

[2020-02-01 22:05] RobotOptimist commented on #1423
Just in case anyone needs to know
You can do this by providing the exact version in this format:

`dotnet new -i TheTemplateNuget::0.0.1-the-exact-version`

I hope this is helpful. Seems the issue can be closed?

[2020-02-02 21:02] wli3 opened #2255 "Add FILTERING & SORTING capabilities for dotnet new templates"
_From @davidfowl on Sunday, February 2, 2020 2:58:18 AM_

Typing `dotnet new` yields a list of templates that do not look organized whatsoever. A few observations:

- The templates don't seem ordered
- The templates aren't filtered based on the platform you're running on. I've gotten feedback that it's bizarre that WPF shows up when running `dotnet new` on non windows platforms.
- It's not clear w

[2020-02-05 06:22] satyajit-behera opened #2258 "Templating output path to azure blob/file storage"
By default, template engine redirects the output to a hard disk drive location.
Is it possible to redirect the output of a template engine to an azure blob/file storage path?

Thanks

[2020-02-08 10:57] bartelink commented on #1641
Can confirm this is sadly still an issue
[code]

This is very painful as it falls foul of `.editorconfig` rules dictating [arguably!] redundant CR at EOF so it's easy to leave a template malformed

[2020-02-08 11:02] jayantadas1 commented on #601
Hello, Is  there a possibility of adding -s to this functionality so that I can add packages from a different source?

[2020-02-11 10:14] scottkirwanthomas opened #2266 "Can not get the template pack to install with certain folder included"
Hi,

I've created a template pack for a solution that contains everything we need for our project.

As part of the solution, we include an opencover folder (attached as a zip) this is required for our dev ops process.

The issue I have is if i include this folder, the package never installs with dotnet new but if i take it out the package installs fine.

Is this by design?
[opencover.zip](https://

[2020-02-11 21:14] Eilon commented on #1694
I have a PR to fix this here: https://github.com/dotnet/templating/pull/2268

[2020-02-11 21:14] Eilon commented on #2015
I have a PR to fix this here: https://github.com/dotnet/templating/pull/2268

[2020-02-11 21:14] Eilon commented on #2250
I have a PR to fix this here: https://github.com/dotnet/templating/pull/2268

[2020-02-11 22:18] Eilon commented on #1423
@RobotOptimist indeed the syntax you showed works great if you know the version (or care about it). But sometimes I just want "the absolute latest, even if it's pre-release" and there's no syntax for that.

[2020-02-12 18:02] Thraka commented on #2266
It would be easier to see your template project used to generate the nuget package.

[2020-02-13 00:28] Eilon commented on #361
I have a PR for this here: https://github.com/dotnet/templating/pull/2270

[2020-02-13 00:28] Eilon commented on #1815
I have a PR for this here: https://github.com/dotnet/templating/pull/2270

[2020-02-13 00:28] Eilon commented on #2062
I have a PR for this here: https://github.com/dotnet/templating/pull/2270

[2020-02-14 00:22] #1694 closed

[2020-02-14 00:22] #2015 closed

[2020-02-14 00:22] #2250 closed

[2020-02-14 07:45] peterbomers opened #2274 "[feature] Add project(s) to a solution directory"
The post action `Add project(s) to a solution file` with id `D396686C-DE0E-4DE6-906D-291CD29FC5DE` allows us to add projects to an existing solution.

It's however not possible to add a project to a solution folder inside the existing solution.
The dotnet cmd used by the template engine supports this by adding the `--solution-folder` argument.

It would be nice if could specify it like this:
[code

[2020-02-19 00:16] #361 closed

[2020-02-19 00:16] #1815 closed

[2020-02-19 00:16] #2062 closed

[2020-02-19 21:56] Eilon commented on #1922
BTW to run a local build here's what I've done:

1. Run `build.cmd`, which will build DLLs, NUPKGs, etc., and run tests
1. Run `dotnet .\artifacts\bin\dotnet-new3\Debug\netcoreapp2.1\dotnet-new3.dll --list` (or whatever other command)

[2020-02-20 04:00] nxtn opened #4853 "'dotnet new sln' should create version 16 .sln files"
## Expected behavior

It's now [documented](https://docs.microsoft.com/dotnet/core/tutorials/with-visual-studio?tabs=csharp) that Visual Studio 2019 version 16.4 or a later version is required to develop .NET Core applications.

[code]

## Actual behavior

[code]

[2020-02-24 10:59] Jepson112 commented on #2137
This bug is also reported in the Turkye environment(SDK:3.1.200-preview-014977).

[2020-02-27 08:28] MikeRosoft commented on #1538
But as other users mentioned, the `dotnet -i` command first checks the cache, so you have to do:
[code]

[2020-02-27 23:24] eerhardt opened #2297 "Add Dev Container templates"
I should be able to do the following:

[code]

And my directory would look roughly like

https://github.com/microsoft/vscode-remote-try-dotnetcore/

specifically I would have a `.devcontainer` folder that was set up for usage in VS Code (See https://code.visualstudio.com/docs/remote/containers).

Making it easier to get a `.devcontainer` folder up and running with my application would be great. Th

[2020-03-03 16:02] marclena opened #2302 "Replace different strings"
Hi I have created a templatre with some parameters
"symbols": {

    "slnName": {
      "type": "parameter",
      "datatype": "string",
      "isRequired": true,
	  "replaces": "Vueling.XXX",
      "fileRename":"Vueling.XXX"

This works ok,it replaces all the strings like Vueling.XXX with the value yoiu pass on the command line.
However apart of replacing the value Vueling.XXX I would like to rep

[2020-03-05 15:54] rainersigwald commented on #2191
Another upvote from Twitter: https://twitter.com/buhakmeh/status/1235581946853392386?s=20

cc @donJoseLuis

[2020-03-05 18:51] phenning opened #2303 "Provide mechanism for using defaultName instead of Currentfolder name as fallback if --name is not specified"
See the following issues for more details:

This impacts https://github.com/dotnet/aspnetcore/issues/11824 and associated PR https://github.com/dotnet/aspnetcore/issues/11824

The relevant areas of templating code are:
https://github.com/dotnet/templating/blob/f15388ee6e45a8923fba0f54f55154aee991fb84/src/Microsoft.TemplateEngine.Cli/TemplateInvoker.cs#L153

https://github.com/dotnet/templating/blo

[2020-03-09 12:57] bvkeersop commented on #1995
You can do the following for yaml:

[code]

[2020-03-09 17:22] grinrag commented on #1248
Looks like this issue is resolved. I have just checked on Linux, all files contain LF endings.
The issue will be closed next triage session.

[2020-03-09 20:47] grinrag commented on #1661
I also see a problem with this, moreover, the statement `If no name is specified, the name of the current directory is used` is incorrect because I can set different output directory with option `-o`.
Should be like `...name of output directory`
I will open a PR shortly.

[2020-03-10 09:24] marclena opened #2305 "default value for a symbol"
Hi, si there a way to have an optional symbol defined as requiered false which defaultvalue is the value passed on another parameter.

By example I have a symbol called -slnName and another called dbName. I would like the default value of dbName be the value passsed on the slnName parameter.
Thanks

[2020-03-10 11:04] genalt opened #2306 "`dotnet-new3` not in the PATH after building."
According to our instructions, right after the build, the command `dotnet new3` should be available.
Currently, there is a bug in build scripts. Output of `dotnet new3`:
[code]

if pass a full path to `dotnet-new3.dll` works ok:

[code]

[2020-03-10 11:05] grinrag commented on #1922
Instructions are fixed. The problem with `dotnet-new3` will be fixed, I created a separate issue #2306. The current issue will be closed.

[2020-03-10 11:12] grinrag commented on #1983
Looks like this issue is obsolete. Current `dotnet-sdk` version 3.1 is shipped with console & class lib templates. Everything is working. Mark this issue for grooming the next triage session.

[2020-03-10 22:12] nuzolx opened #2308 "dotnet new --update-* searches source only in public feed"
Hi,

You can install packages from a private event feed if it's little bit tricky without --interactive option.
However, as far as I understand, the update search is only done from the public feed (from a blob storage).

Would it be possible to manage private feeds for both installation and update?

Thanks for your help.

[2020-03-11 13:04] grinrag opened #2309 "Build `dotnet-new3` for the latest LTS target framework"
### Description

I have installed dotnet sdk and runtime version `3.1`.

I am trying to build templating engine using `build.sh` script in the root of repo.

The result is:
[code]

I am running `dotnet-new3` and it says:
[code]

So, the `dotnet-new3` is built for the target framework 2.1.

Is there a way how to pass the target framework version to build for?

[2020-03-15 12:49] tanero commented on #2189
I have recieved same error today while installing dotnet 3.1 on centos7.  First try was, i've removed all versions by calling  yum remove dotnet* and install dotnet 3.1 but no success. (same error.)

Second, uninstalled dotnet 3.1 and deleted remaining files with folder, /usr/share/dotnet.  In this time, server were clean and installed dotnet 3.1 again.

Voila, everything working as usual.

[2020-03-17 13:16] grinrag commented on #1338
The link to the official docs was added.

[2020-03-17 13:16] #1338 closed

[2020-03-17 13:18] #1699 closed

[2020-03-17 13:20] #1922 closed

[2020-03-17 13:25] grinrag commented on #1983
Also, I am going to double check that dotnet new search works for console & classlib tamplates for the version 3.0.

[2020-03-18 10:34] grinrag commented on #51
This bug is outdated (original date is Sep 2016), closing it now. Feel free reopen if it still valid.

[2020-03-18 10:34] #51 closed

[2020-03-18 10:38] grinrag commented on #65
This bug is outdated (original date is Nov 2016), closing it now. Feel free reopen if it still valid.

[2020-03-18 10:38] #65 closed

[2020-03-18 10:48] grinrag commented on #115
This bug is outdated, closing it now. Feel free reopen if it still valid.

[2020-03-18 10:48] #115 closed

[2020-03-18 10:56] grinrag commented on #179
How does this fit the experienses track for the next releases?

[2020-03-18 11:24] grinrag commented on #233
After approval from PM, we will decide which new templates from that list we can implement. Also, we will open a separate issue for every template for better progress tracking.
Consider the following list during the discussion:

- [ ]  Starter Solution - a library, a test project, and a sln file to match #3503
- [ ] Self-contained deployment with a Dockerfile
- [ ] Console application with a Docke

[2020-03-18 18:16] grinrag opened #2323 "[QUESTION] How to fix localized strings."
Related issue #1661

The help message is localized. How can I request localization for all supported languages, if I need to add some changes?

[2020-03-19 09:00] donJoseLuis opened #2324 "Adding policheck to repository"
Enable SDL checks during build process.
- use signing and SDL validation team properties based on Runtime team
- update ./azure-pipelines.yml with the required SDL configuration

[2020-03-19 10:36] grinrag commented on #282
We will discuss which of these file types fit our roadmap.

[2020-03-19 10:47] donJoseLuis commented on #285
We will add this to a bucket for which we are planning template sets improvements.  At the point when all backlog issues have been reviewed and placed in corresponding buckets; we'll then order by priority each item per bucket.  ETA: by end of March.

once this is done, we'll schedule delivery.

[2020-03-19 10:54] donJoseLuis commented on #296
This issue was last touched 3 years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 10:54] #296 closed

[2020-03-19 10:57] donJoseLuis commented on #305
We will add this to a bucket for which we are planning template sets improvements.  At the point when all backlog issues have been reviewed and placed in corresponding buckets; we'll then order by priority each item per bucket.  ETA: by end of March.

once this is done, we'll schedule delivery.

[2020-03-19 13:10] donJoseLuis commented on #1084
We moved this item to a project corresponding to the buckets we want to schedule in a road map.  Following that, items in each bucket will undergo a prioritization exercise so we can then have a proper delivery plan.

[2020-03-19 13:24] donJoseLuis commented on #285
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 13:34] donJoseLuis commented on #391
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 13:34] #391 closed

[2020-03-19 13:35] donJoseLuis commented on #421
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 13:35] #421 closed

[2020-03-19 13:39] donJoseLuis commented on #390
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 13:40] donJoseLuis commented on #388
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 13:47] donJoseLuis commented on #999
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 13:48] donJoseLuis commented on #338
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 13:50] donJoseLuis commented on #384
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 13:54] donJoseLuis commented on #389
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 16:34] donJoseLuis commented on #348
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 16:36] donJoseLuis commented on #381
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 16:36] #381 closed

[2020-03-19 16:43] donJoseLuis commented on #440
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 17:09] donJoseLuis commented on #481
Need to discuss next steps with team owning VS integration.

[2020-03-19 17:16] donJoseLuis commented on #674
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 17:17] donJoseLuis commented on #481
Need to discuss with VS integration team.

[2020-03-19 17:18] donJoseLuis commented on #677
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 17:20] donJoseLuis commented on #723
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 17:23] donJoseLuis commented on #725
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 17:24] donJoseLuis commented on #724
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 17:26] donJoseLuis commented on #740
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX

[2020-03-19 17:29] donJoseLuis commented on #765
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 17:30] #740 closed

[2020-03-19 17:31] donJoseLuis commented on #770
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 17:36] donJoseLuis commented on #806
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 17:36] #806 closed

[2020-03-19 17:40] donJoseLuis commented on #781
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 17:42] donJoseLuis commented on #823
@grinrag , maybe this is something we can do on the short-term?

[2020-03-19 17:45] donJoseLuis commented on #846
Need to discuss with the VS integration team

[2020-03-19 17:47] donJoseLuis commented on #849
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 17:47] #849 closed

[2020-03-19 17:48] donJoseLuis commented on #853
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 17:48] #853 closed

[2020-03-19 17:51] donJoseLuis commented on #1028
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 17:51] #1028 closed

[2020-03-19 17:52] donJoseLuis commented on #1083
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 17:55] donJoseLuis commented on #1154
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 17:55] #1154 closed

[2020-03-19 17:56] donJoseLuis commented on #1193
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 17:56] donJoseLuis commented on #1242
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 17:56] #1242 closed

[2020-03-19 17:57] donJoseLuis commented on #1249
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 17:57] #1249 closed

[2020-03-19 17:59] donJoseLuis commented on #1253
we should look at this within the road map bucket for improved dotnet new ux.

[2020-03-19 18:00] #1258 closed

[2020-03-19 18:01] donJoseLuis commented on #1350
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 18:04] donJoseLuis commented on #1381
let's look at this in the improved dotnet new ux road map bucket

[2020-03-19 18:05] donJoseLuis commented on #1423
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 18:06] donJoseLuis commented on #1438
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 18:07] donJoseLuis commented on #1449
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 18:08] donJoseLuis commented on #1460
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 18:08] #1460 closed

[2020-03-19 18:08] donJoseLuis commented on #1477
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 18:08] #1477 closed

[2020-03-19 18:09] donJoseLuis commented on #1491
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 18:09] #1510 closed

[2020-03-19 18:10] donJoseLuis commented on #1528
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 18:10] #1528 closed

[2020-03-19 18:10] donJoseLuis commented on #1531
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 18:10] #1531 closed

[2020-03-19 18:11] donJoseLuis commented on #1538
@grinrag let's look at this for a short-term fix

[2020-03-19 18:13] donJoseLuis commented on #1539
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 18:13] #1539 closed

[2020-03-19 18:13] donJoseLuis commented on #1544
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 18:15] donJoseLuis commented on #1550
Need to talk to the VS integration team about this one

[2020-03-19 18:16] donJoseLuis commented on #1557
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 18:16] #1557 closed

[2020-03-19 18:17] donJoseLuis commented on #1600
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 18:18] donJoseLuis commented on #1626
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 18:20] donJoseLuis commented on #1638
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 18:30] donJoseLuis commented on #1641
@grinrag , let's look at a fixing this in the short-term

[2020-03-19 19:05] donJoseLuis commented on #1642
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 19:06] donJoseLuis commented on #1646
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 19:21] donJoseLuis commented on #1650
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 19:22] donJoseLuis commented on #1655
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 19:25] donJoseLuis commented on #1654
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 19:26] donJoseLuis commented on #1663
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 19:28] donJoseLuis commented on #1661
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 19:30] donJoseLuis commented on #1660
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 19:32] donJoseLuis commented on #1680
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 19:33] donJoseLuis commented on #1666
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 19:33] donJoseLuis commented on #1673
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 19:33] #1673 closed

[2020-03-19 19:36] donJoseLuis commented on #1692
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 20:11] donJoseLuis commented on #1698
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 20:12] donJoseLuis commented on #1704
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 20:13] donJoseLuis commented on #1706
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 20:13] #1698 closed

[2020-03-19 20:16] donJoseLuis commented on #1713
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 20:24] donJoseLuis commented on #1728
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 20:36] donJoseLuis commented on #1740
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 20:46] donJoseLuis commented on #1741
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 21:24] donJoseLuis commented on #1744
hello @hersing could you please share your template JSon?

[2020-03-19 21:28] donJoseLuis commented on #1743
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 21:30] donJoseLuis commented on #1747
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 21:35] donJoseLuis commented on #1750
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 21:39] donJoseLuis commented on #1753
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something we want & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-19 21:39] #1753 closed

[2020-03-19 21:43] donJoseLuis commented on #1756
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-19 22:45] MicahZoltu commented on #806
I do not have rights to reopen this issue, but I think it or #852 should remain open.  Dumping stuff into USER_PROFILE is bad and should be considered a bug IMO.

[2020-03-20 05:08] donJoseLuis commented on #1769
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 05:11] donJoseLuis commented on #1744
this repro attempt should be easy to do.  In the case we cannot reproduce & no repro artifacts are provided we'll close the issue.

[2020-03-20 05:13] donJoseLuis commented on #1773
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 05:14] donJoseLuis commented on #1774
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 05:15] donJoseLuis commented on #1775
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 05:38] donJoseLuis commented on #1812
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 05:39] donJoseLuis commented on #1804
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 05:41] donJoseLuis commented on #1803
This issue was last touched some years ago.  We are working on a new delivery road map.  Please reopen if this is something you still want (+ your template.json) & we'll properly assess its' priority compared to other work aimed at improving the overall templating UX.

[2020-03-20 05:41] #1803 closed

[2020-03-20 05:42] donJoseLuis commented on #1788
@grinrag , can Phil and you discuss this & get back the issue creator?

[2020-03-20 05:42] donJoseLuis commented on #1788
Also, is this something that should be added to our docs?

[2020-03-20 05:46] #1814 closed

[2020-03-20 05:47] donJoseLuis commented on #1818
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 05:53] donJoseLuis opened #2329 "TemplateCreator::InstantiateAsync(...) is too slow"
Quoting @hananiel  from issue  #1818 ; "Also, I was having trouble with the performance of this project running inside a Web Context. This call new TemplateCreator(EnvSettings).InstantiateAsync(...) seems to be taking over a second. Is there any way to make it faster?"

Extracted the performance issue out of  #1818 .

[2020-03-20 05:54] donJoseLuis commented on #1878
@hananiel greetings.  Created #2329 to track the perf issue you mentioned above.

[2020-03-20 05:54] #1878 closed

[2020-03-20 05:56] donJoseLuis commented on #1896
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 05:58] donJoseLuis commented on #1900
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 05:58] donJoseLuis commented on #1902
@grinrag , can Phil and you discuss this & get back to the issue creator?

Also, is this something we should add to our documentation?

[2020-03-20 05:59] donJoseLuis commented on #2072
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 06:02] donJoseLuis commented on #1926
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 06:04] donJoseLuis commented on #1920
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 06:06] donJoseLuis commented on #2024
this is a duplicate of an issue logged for the French language.  Let's confirm, track a single issue for the problem in the DOTNET NEW UX project, as we plan our roadmap.

[2020-03-20 07:07] donJoseLuis commented on #1971
this makes sense.
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 07:09] donJoseLuis commented on #1959
@tmat greetings\ahoj.  The above link is regretfully now gone.  Can you please provide the details again (apologies) if the issue remains something you want us to triage?

[2020-03-20 07:10] donJoseLuis commented on #1955
sounds like a bad UX.
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 07:11] donJoseLuis commented on #1942
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 07:13] donJoseLuis commented on #1983
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 07:16] donJoseLuis commented on #1987
greetings @Jjagg , it's been a while since there was action on this issue. Do you still need help on the following...?
- NuGet package is not getting copied over to the .templateengine folder
Can you share more details?

[2020-03-20 07:17] donJoseLuis commented on #1991
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 07:18] donJoseLuis commented on #1995
@grinrag ,  let's update the docs with the above.

[2020-03-20 07:20] donJoseLuis commented on #2003
let's review what's been fixed & what remains unresolved.

[2020-03-20 07:25] donJoseLuis commented on #2308
greetigns @grinrag , can Phil & you please discuss this one?

- Basically, is private feed support for install & update currently available?

[2020-03-20 07:28] donJoseLuis commented on #2006
Please reopen if this remains relevant

[2020-03-20 07:39] #2006 closed

[2020-03-20 07:41] donJoseLuis commented on #2047
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 07:43] donJoseLuis commented on #2044
fixed

[2020-03-20 07:43] #2044 closed

[2020-03-20 07:43] donJoseLuis commented on #2053
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 07:44] donJoseLuis commented on #2068
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 07:44] donJoseLuis commented on #2073
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 07:46] donJoseLuis commented on #2303
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 07:47] donJoseLuis commented on #2305
greetings @marclena , we'll discuss & get back to you.

[2020-03-20 07:48] donJoseLuis commented on #2297
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 07:49] donJoseLuis commented on #2274
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 07:49] donJoseLuis commented on #2266
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 07:51] donJoseLuis commented on #2191
we need to find the right place for this issue.

[2020-03-20 07:53] donJoseLuis commented on #2208
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 07:53] Jjagg commented on #1987
@donJoseLuis Yes, I haven't solved my issue yet. Thank you for picking this up :) I will upload my project to GitHub later today with my reasoning, that should help us figure out what I'm missing.

[2020-03-20 07:54] donJoseLuis commented on #2210
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 07:56] donJoseLuis commented on #2255
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 07:58] donJoseLuis commented on #2245
f

[2020-03-20 07:58] #2245 closed

[2020-03-20 07:59] donJoseLuis commented on #2244
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 08:05] donJoseLuis commented on #2212
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 08:06] #2189 closed

[2020-03-20 08:06] nuzolx commented on #2308
@donJoseLuis You can install and _update_ from private feed. But only with '`new -i foo --nuget-source bar`'.
My issue is about '`new --update-check`' and '`new --update-check`'.

We can say that it works but it would still be cool to have it, without being mandatory.
All the same what is done with the templates is worderful!

[2020-03-20 08:07] donJoseLuis commented on #2240
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 08:15] donJoseLuis commented on #2079
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 08:16] donJoseLuis commented on #2093
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 08:17] donJoseLuis commented on #2090
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 08:18] donJoseLuis commented on #2103
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 08:20] donJoseLuis commented on #2137
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 08:23] donJoseLuis commented on #2133
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 08:25] donJoseLuis commented on #2112
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 08:26] #2114 closed

[2020-03-20 08:26] donJoseLuis commented on #2113
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 08:27] donJoseLuis commented on #2115
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 08:31] donJoseLuis commented on #2127
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 08:32] donJoseLuis commented on #2129
1. Adding item to specific project corresponding to a targeted delivery area
1. Once this has been done for the entire backlog, the next steps will be to prioritize within each project & output a delivery roadmap.
1. At that point, the issues will be assigned to a corresponding milestone
1. The team will then begin to deliver against the road map, contributions always welcome

[2020-03-20 09:48] donJoseLuis commented on #2324
remaining work: add ado variables to the recipe

[2020-03-20 16:03] Jjagg commented on #1987
@donJoseLuis Well I looked into this again to upload the project and gave it another go from scratch in the process and... It works! I don't have a clue what I did wrong before or what I did differently this time, but I have it working right now :) I'll reopen or open a new issue if I figure out what happened and it turns out to be a bug, but for now I'll assume I did something wrong.

[2020-03-20 16:03] #1987 closed

[2020-03-20 18:40] grinrag commented on #2238
@kamabery hmm, I have just checked the nupkg and it doesn't contain `.template.config`, so I cannot install it at all. But your error message says that you are using the incorrect version of dotnet runtime.

Is the issue still valid for you?

[2020-03-23 10:54] grinrag commented on #1983
@vijayrkn Could you, please, write steps to reproduce? Currently I cannot reproduce the bug. Thanks.

[2020-03-23 21:29] genalt opened #2333 "Add unit tests for the EncodingUtil.Detect"
The file with unit test fro the encoding util does nothing.

https://raw.githubusercontent.com/dotnet/templating/master/test/Microsoft.TemplateEngine.Core.UnitTests/EncodingTests.cs

We need to test:
1) all possible encoding types detection
2) bom is never null

[2020-03-23 21:32] grinrag opened #2334 "Fix Orchestrator unit tests"
I have found out that the code in the Orchestrator unit test file is completely commented out.

https://github.com/dotnet/templating/blob/master/test/Microsoft.TemplateEngine.Core.UnitTests/OrchestratorTests.cs

We need to uncomment it and fix if it necessary.

[2020-03-24 00:06] vijayrkn commented on #1983
This issue is to track publishing the older versions of Console/ClassLib packages to NuGet.org. Also to make sure that 5.0+ packages do get published to NuGet.org for the search functionality to work.

[2020-03-24 12:10] donJoseLuis commented on #2238
We discussed this issue in triage.
**Conclusion**: were able to install the template from GitHub & unable from NuGet as @grinrag mentioned, due to missing template config file.  Please get back to us if you have additional information

[2020-03-24 12:20] donJoseLuis commented on #2173
Let's add a page in the Wiki describing the behavior of related parameters.
Minimum content:
1. description
1. example

[2020-03-24 12:30] donJoseLuis commented on #2135
We should verify the repro & updated documentation accordingly.

[2020-03-24 12:31] donJoseLuis commented on #2125
Update wiki page.

[2020-03-24 12:35] donJoseLuis commented on #2090
"It took several hours of guesswork" that's not the UX we want in templating!
Let's update documentation.

[2020-03-24 12:41] donJoseLuis commented on #2087
Update the documentation for correctness

1. update the dead link
1. update info on triggering IDE or browser, if still relevant

[2020-03-24 12:49] donJoseLuis commented on #384
This item is not as specific about the other items we are currently triaging in our road map; which aim to improve the wiki's content.  Let's close this item & track the work in the other specific issues.

[2020-03-24 12:49] #384 closed

[2020-03-24 12:53] donJoseLuis commented on #388
Not a P1 issue, but we'll include in the road map.

- not many community votes
- quite old an issue
- will require research for correctness prior to creating the document

[2020-03-24 15:38] donJoseLuis commented on #390
This issue acts a parent "epic" to the tracked issues.  We'll include the issues in the road map & close this item, as in it's own is not actionable.

[2020-03-24 15:38] #390 closed

[2020-03-24 16:27] donJoseLuis commented on #285
This issue is over 3 years old & last updated around the same time.

[2020-03-24 16:27] #285 closed

[2020-03-24 16:55] donJoseLuis commented on #389
Last updated about 3 years ago.

[2020-03-24 16:55] #389 closed

[2020-03-24 16:56] donJoseLuis commented on #1083
last updated about 2.5 years ago.

[2020-03-24 16:56] #1083 closed

[2020-03-24 17:24] donJoseLuis commented on #1646
Hello @ido-namely .  This issue evolved to the point you suggested...

1. post action support for special substitutions
1. support for extended constructs
1. RegEx generator accepting args to uppwer|lower-case input

Can you confirm you are still championing for these items?
If yes, we'll track each distinct ask in an issue.

[2020-03-24 17:37] donJoseLuis commented on #1728
Hello @srsaggam.  This issue has evolved through its' discussion.  The last comment was made over a year ago. Can you please...?
1. Summarize what is the remaining "ask" in this issue?

[2020-03-24 17:48] donJoseLuis commented on #1775
Hello @XomegaNet , can you please confirm this remains something you're interested in?

[2020-03-24 17:53] donJoseLuis commented on #1818
Hello @ardove , we're prioritizing active items & produce a delivery plan against a prioritized backlog.  Is this something you are still interested in?

[2020-03-24 18:11] donJoseLuis commented on #2068
Hello @davidortinau , how did it go with phenning's work around?

[2020-03-24 18:33] ardove commented on #1818
@donJoseLuis - yes, I think this feature would still be useful.

[2020-03-24 18:44] donJoseLuis commented on #2324
fixed

[2020-03-24 18:44] #2324 closed

[2020-03-24 19:19] srsaggam commented on #1728
Hi I don’t remember what was the ask here. We moved away from this to use T4 templates that worked for our use case back then. So you can mark this ask as absolute and close this. Thanks for followup though!

[2020-03-24 19:19] #1728 closed

[2020-03-24 20:33] XomegaNet commented on #1775
Hi @donJoseLuis, yes, sure. Given the limitations of the glob patterns to cover multiple file extensions or any special cases, I think it's important to be able to define reusable configurations for operations to avoid bloating templates with duplicate operations.

[2020-03-25 04:49] donJoseLuis commented on #2266
Hello @scottkirwanthomas , can you please share the relevant template project?

[2020-03-25 04:58] donJoseLuis opened #2337 "uninstall templates by short name"
Extracted from #1750 which tracked many issues

Quoting an entry from the above  issue...
 short name or name are intentionally not unique, they are used as a beginning disambiguator for which set of content to use. Consider the short name console - there's a template for the 1.0/1.1 targeting flavor of console, 2.0, 2.1, 2.2 and 3.0, each is a different template in a different package, multiple c

[2020-03-25 05:00] donJoseLuis commented on #2337
quoting an entry from #1750

 short name or name are intentionally not unique, they are used as a beginning disambiguator for which set of content to use. Consider the short name console - there's a template for the 1.0/1.1 targeting flavor of console, 2.0, 2.1, 2.2 and 3.0, each is a different template in a different package, multiple can be installed at the same time and they collapse into a sin

[2020-03-25 05:04] donJoseLuis opened #2338 "ability to see a version in the list of installed templates"
issue extracted from #1750

quote from the above issue...
version in terms of individual templates is also one of those things that seems like a straightforward proposition but really is not. Version may not apply at all (at least not in a meaningful way) to templates if installed from a disk location, network share, or (eventually) a git repo. Even in the installation via package case, multiple p

[2020-03-25 05:09] donJoseLuis commented on #1750
Tracking the individual issues called out in this one...

- #2338 uninstall templates by short name
- #2337 ability to see a version in the list of installed templates
- #1706 can be used to track including provenance information in detailed help for a template
- #1655 can be used for installation experience improvements

Moving forward we'll track one item per issue & close bulk issues, respectiv

[2020-03-25 05:09] #1750 closed

[2020-03-25 05:24] donJoseLuis commented on #2103
Hello @AlseinX , we are prioritizing dotnet new UX issues.  Does this remain an issue for you?

[2020-03-25 05:26] #1741 closed

[2020-03-25 05:43] donJoseLuis commented on #765
the last update on this issue was ~3 years ago.  We are working on prioritizing dotnet new ux issues, where priorities are: new items & issues with many votes

[2020-03-25 05:43] #765 closed

[2020-03-25 05:44] donJoseLuis commented on #440
last update was ~3 years ago.  Please reopen if this is some thing that is still desired.

[2020-03-25 05:44] #440 closed

[2020-03-25 05:45] donJoseLuis commented on #674
the last update was ~ 3years ago.  Pleas reactivate if this is still desired

[2020-03-25 05:45] #674 closed

[2020-03-25 05:54] #1423 closed

[2020-03-25 06:03] donJoseLuis commented on #2323
@grinrag this looks like a "task to learn string localization" versus an issue.  Looks like the issue tracked is #1661

[2020-03-25 06:03] #2323 closed

[2020-03-25 06:08] #1491 closed

[2020-03-25 06:13] donJoseLuis commented on #725
Hello @grinrag, please create an issue for each distinct proposal and...

1. label them "needs-prioritization"
1. add them to the "dotnet new help" project
1. bring them up, asap in our next triage

[2020-03-25 06:22] donJoseLuis commented on #724
Though an old issue, let's include it in our roda map.

[2020-03-25 06:36] donJoseLuis commented on #305
closing as the last activity was over 2 years ago.  Please reopen if this is still desired.

[2020-03-25 06:36] #305 closed

[2020-03-25 12:19] #2217 closed

[2020-03-25 13:18] pranavkm commented on #2217
Thanks for fixing the issue @grinrag. Do you know what version of the .NET Core SDK this fix would appear in?

[2020-03-25 19:20] grinrag commented on #1774
@jlchavez as I understand this is VS only related issue. We are going to create an issue in the VS bug tracker. I will update this issue with the result as I get feedback. Probably this is not P1 for the VS roadmap.

[2020-03-25 19:42] grinrag commented on #2123
@foragerr actually, there is another way how to do this.
All the information about installed templates is in the cache `<USER>\.templateengine\dotnetcli\v3.1.200\en-US.templatecache.json`
So, this is a json file. You can parse it, before installation, build a list of shortnames for all installed templates. Then, after running the installation of new packages, you can parse the cache file again and

[2020-03-25 19:42] #2123 closed

[2020-03-26 03:19] Eilon commented on #1423
I wonder why was my comment deleted? My comment gave a clear example of why this feature would be useful. It's fine not to do it, but the comment I think was still valuable.

The comment was to this effect:

[2020-03-26 23:32] richlander commented on #725
I am curious what we are doing in this space. The `dotnet new` experience needs be fully thought through, IMO.

/cc @KathleenDollard

[2020-03-27 09:38] grinrag opened #2342 "update help output for "dotnet new -h""
This item is about improving the general help message and usage examples for the `dotnet new -h` tool.
The help message should not contain information about installed templates.
There is also a problem with some option descriptions (see the proposal).

This issue is a result of splitting bigger issue #725.

We also should take into account the localized strings.

[2020-03-27 18:30] grinrag opened #2346 "update information in the listing of all installed templates."
The command `dotnet new -l`, to list all available templates, should not additionally show help message since we have `dotnet new -h` for this.

In case if the `-lang` option was provided, it should show only templates for the specified language and additional message, like this:
[code]

and if the provided language doesn't exist, the message like this:
[code]

For the provided search pattern, the

[2020-03-27 18:45] grinrag opened #2347 "Fix error message when provided template doesn't exist."
If the provided template name doesn't exist, would be better to show information of how to list all available templates.
[code]

This issue is a result of splitting #725

[2020-03-27 18:51] tamlin-mike commented on #1926
Even the synopsis is broken.

`Usage: new [options]`

This in no way or form allows an argument before options.

Seriously people, when Microsoft can't even get _that_ right, what hope do you think there is they even have the capability to fix this problem?

[2020-03-27 18:54] genalt opened #2348 "More informative help message for '--install' and '--uninstall' options"
Help for the install and uninstall should show more information about the usage of these options, than just general help about `dotnet new`

Expected result:

See the [ proposal and diff for install](https://github.com/sayedihashimi/sayed-tools/pull/12/files#diff-a5c12d0d3e5643dc60e013dad95bc51c)

See the [ proposal and diff for uninstall](https://github.com/sayedihashimi/sayed-tools/pull/12/files

[2020-03-27 19:08] genalt opened #2349 "More information about template in the help message if '-h' provided"
In case if '-h' option was provided after a template name, we should emphasise our help message on that template. For example, first, show the template information and then general help for the `dotnet new` itself.

This issue is a result of splitting #725

[2020-03-27 19:18] grinrag commented on #725
I have split this issue into several small ones. There are several reasons:

1. different proposals have could have different priority
3. some of these proposals are duplicates
4. we can start to work on those items independently and close and deliver them sooner.

All of these items + additional requests about help improvement were put [dotnet new HELP](https://github.com/dotnet/templating/projec

[2020-03-27 19:26] grinrag commented on #725
list of new items:

- general help information (`dotnet new` , `dotnet new -h`) #2342
- listing of available templates (`dotnet new -l`, `dotnet new -l -lang F#`, `dotnet new we -l`, `dotnet new -l -lang NotExists`) #2346
- the error message, when the provided template doesn't exist  (`dotnet new dotnet new -l -lang NotExists`) #2347
- more information for the install and uninstall options (`dotne

[2020-03-27 19:48] KathleenDollard commented on #725
@richlander Understanding/triaging existing bugs and creating a path is part of the process.

[2020-03-27 21:40] theimowski opened #2350 "sdk 3.1.201 omits hidden files"
For [this](https://github.com/SAFE-Stack/SAFE-template/blob/master/SAFE.Template.proj) template project, when using .NET SDK 3.1.201, it doesn't include the `.gitignore` or `.editorconfig` files in the nupkg.
When packing with .NET SDK 3.1.101 includes these files.
Not sure if this is part of the templating engine, or maybe nuget pack command itself?

[2020-03-30 10:29] BigFat0 opened #2351 "NullReferenceException during "dotnet new console" execution"
I am attempting to use visual studio code to get into CSharp however as I was trying to create a new project using the `dotnet new console` command within the terminal, it came up with an error:
`Getting ready...
Object reference not set to an instance of an object.
   at Microsoft.TemplateEngine.Edge.Settings.SettingsLoader.Save(TemplateCache cacheToSave)
   at Microsoft.TemplateEngine.Edge.Setti

[2020-03-30 10:43] grinrag commented on #2351
@BigFat0 thank you for reporting this issue.

What platform are you trying to execute the command (Windows, Linux, macOS)?
What is the version of the installed dotnet sdk and how did you installed it?
Execute `dotnet --info`

[2020-03-30 10:46] BigFat0 commented on #2351
`.NET Core SDK (reflecting any global.json):
 Version:   5.0.100-preview.1.20155.7
 Commit:    1c44853056

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18363
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\5.0.100-preview.1.20155.7\

Host (useful for support):
  Version: 5.0.0-preview.1.20120.5
  Commit:  3c523a6a7a

.NET Core SDKs installed

[2020-03-30 11:08] grinrag commented on #2351
I will try to reproduce this bug using .Net 5 preview.
The current latest stable version is .Net Core 3.1.  I would recommend it to install if you don't need .Net 5.
https://dotnet.microsoft.com/download

[2020-03-30 11:24] BigFat0 commented on #2351
I have done so and the result was as follows:

Getting ready...
Object reference not set to an instance of an object.
   at Microsoft.TemplateEngine.Edge.Settings.SettingsLoader.Save(TemplateCache cacheToSave)
   at Microsoft.TemplateEngine.Edge.Settings.SettingsLoader.Save()
   at Microsoft.TemplateEngine.Cli.Installer.InstallPackages(IEnumerable`1 installationRequests, IList`1 nuGetSources, Bool

[2020-03-30 12:02] grinrag commented on #2351
@BigFat0 have you removed .Net 5, installed .Net Core 3.1 instead and still see the error?

[2020-03-30 12:19] BigFat0 commented on #2351
Yes the error still comes up even with .NET 3.1

`.NET Core SDK (reflecting any global.json):
 Version:   3.1.201
 Commit:    b1768b4ae7

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18363
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.1.201\

Host (useful for support):
  Version: 5.0.0-preview.1.20120.5
  Commit:  3c523a6a7a

.NET Core S

[2020-03-31 10:58] grinrag commented on #2351
Cannot reproduce so far, have never seen other reports about this or similar problem. Will try to find out what could be the root cause.

[2020-03-31 11:38] grinrag commented on #2349
This item needs more discussion with PM, update the item with result.

[2020-03-31 13:30] ladipro commented on #2351
@BigFat0, would it be possible to zip up your template engine data directory at **C:\Users\<user>\.templateengine** and share it with us? Deleting this directory might help unblock you but please preserve the contents if possible so we can investigate what went wrong. Thank you!

[2020-03-31 16:44] donJoseLuis commented on #725
Please track the individual issues called out above by @grinrag .

[2020-03-31 16:44] #725 closed

[2020-04-01 09:54] grinrag opened #2353 "Show warning if no template name or any parameter was provided to "dotnet new""
We need to discuss the behavior of `dotnet new` in case if neither template name nor parameters were provided, with our PM.

Currently, `dotnet new` shows a list of installed templates.

We probably wee need to show an warning message with usage information and also mention `-h` option for more information.

[2020-04-02 12:19] donJoseLuis opened #2356 "Enable previewing vaule replacement consequences"
Currently the template authoring UX suffers from unpredictable values replacement
- lacking capability to show replacements’ consequences
- ideally could simulate what the file will look like without needing to build

What's desired in this issue is to enable previewing the outcome of value replacements.

[2020-04-02 12:46] donJoseLuis opened #2357 "Improve managing templates with many auth options"
- large amount of template required code
- difficult to read the files with so many options

Example: [Razor Startup.cs](https://github.com/dotnet/aspnetcore/blob/master/src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Startup.cs)

[2020-04-02 12:47] donJoseLuis commented on #2357
Need to understand from the aspnet team what specific deliverable is desired to improve this UX.

[2020-04-02 22:42] brianrob opened #2359 "Proposal to Expand the TemplateEngine / CLI Interface"
## Motivation
The primary motivation for this proposal is to eliminate unnecessary process creation overhead when communicating from the template engine back to the SDK.  Not only does this allow for reduction in additional "chaining" processes when performing actions in the SDK, but this also allows us to remove the managed overhead (JIT, R2R initialization, etc.) associated with these additional

[2020-04-02 22:45] brianrob commented on #2359
@donJoseLuis, @dsplaisted I'd like to get your feedback on this.
cc: @DamianEdwards, @davidfowl, @KathleenDollard

Note: Right now, in order to restore a newly instantiated template, there are 3 processes involved:
1. `dotnet new <template>`: The user typed this.
2. `dotnet restore new-project.csproj`: Started by process 1 because there isn't currently a clean way to call back into the SDK to do t

[2020-04-05 22:18] timheuer opened #2562 "Completion of --install lacks helpful result information"
When installing something using `--install` the resulting feedback from the CLI is not helpful.  Example, when installing a new template it says:

[code]
'Restore' isn't what I'd expect to say on a successful install.

It also spews the `--help` output afterwards everytime, which scrolls any helpful message away in a reasonable terminal window so any status needed you need to scroll back up.

[2020-04-07 11:05] grinrag commented on #348
This bug is quite old, the last comment was 3 years old.
I am closing this bug. If the bug is still remans important for you, feel free reopen it.

[2020-04-07 11:05] #348 closed

[2020-04-07 11:12] grinrag commented on #2350
I am going to discuss this issue with @phenning
Then we will decide how to proceed with the issue. If it belongs to us, we will assign priority and put it into the right bucket.

[2020-04-07 11:17] grinrag commented on #2353
The goal of this issue is to be consistent with other .Net CLI tools.

[2020-04-07 11:22] grinrag commented on #2359
@brianrob let's have a call, discuss the proposal and then we can post the summary and next steps for this issue here.

[2020-04-07 11:33] grinrag commented on #2357
Probably, our next steps will be:

1. Discuss the problem with ASP.Net guys.
2. Assign the right priority.
3. Investigate & Discuss possible solutions within our team.

[2020-04-07 14:01] phenning commented on #2359
We want to be very careful about changing the onFirstRun mechanism. The template engine interfaces are used by more than just dotnet new. Visual Studio and and Visual Studio for Mac both use these interfaces, from multiple entry points, by multiple teams.

The new mechanism should be implemented on a separate or updated interface which could be opted into by the new command so that we could mainta

[2020-04-07 14:36] MaxCrank commented on #2148
We're trying to resolve similar problem. Adding new service to nginx configs, docker-compose yamls etc. would be extremely useful in addition to plain service sources and a reference to a new project for existing solution...

[2020-04-07 14:48] grinrag commented on #2350
This issue is not related to the templating engine itself.  It looks like a behavior change for dotnet pack.

Adding the following to the project resolves the issue:
[code]

@theimowski I am closing this issue, If you still have some problems, feel free to reopen it.

[2020-04-07 14:48] #2350 closed

[2020-04-07 15:44] brianrob commented on #2359
@grinrag sounds good.

@phenning thanks for pointing this out - I definitely don't want to break other consumers in this effort.  Out of curiosity, do you know if there are other consumers such as VS that have to create new processes to do work that could otherwise be done in-proc, or is there mostly limited to the dotnet SDK?

[2020-04-07 16:55] phenning commented on #2359
I'm not as familiar with the non template creation code paths, but I think that most of the other entry points are generally invoked through the MSBuild process.

[2020-04-07 18:31] theimowski commented on #2350
Thanks @grinrag - `NoDefaultExcludes` does the job 👍

[2020-04-07 19:02] KathleenDollard commented on #2359
I would like to take this as an opportunity to formalize this interface and look for a mechanism where it can evolve and the hosts (VS, VSMac, CLI and ?) can evolve on their own schedules for new features. We have both Brian's work and the improved VS interface for UI elements going on now.

I want to assume future unknown consumers - particularly for better support for VSCode.

If we indepenently

[2020-04-07 19:13] brianrob commented on #2359
@KathleenDollard sounds completely reasonable.  Without knowing more, I don't know how similar these interfaces are/should be, but it certainly seems like a good thing to consider whether or not evolution of these interfaces should converge or diverge.

Do you have a picture of what you think things should look like?  I can imagine that the design I proposed above could be expanded for use by othe