[2017-04-14 20:16] #588 closed

[2017-04-14 20:21] livarcocc opened #589 "installation fails on debian stretch"
_From @harindu95 on March 26, 2017 2:25_

## Steps to reproduce
I tried the following method from official site.

     sudo apt-get install curl libunwind8 gettext
     curl -sSL -o dotnet.tar.gz https://go.microsoft.com/fwlink/?linkid=843453
     sudo mkdir -p /opt/dotnet && sudo tar zxf dotnet.tar.gz -C /opt/dotnet
     sudo ln -s /opt/dotnet/dotnet /usr/local/bin
     dotnet new console -o hwap

[2017-04-14 20:21] livarcocc commented on #589
_From @ofmendez on April 14, 2017 20:19_

Same here, exact result :(

[2017-04-14 20:33] mlorbetske commented on #589
@ofmendez @harindu95 can you try running `dotnet new --debug:reinit` please?

[2017-04-14 20:43] mlorbetske commented on #572
Fixed by #585

[2017-04-14 20:43] #572 closed

[2017-04-14 21:29] alfonsogarciacaro commented on #587
Thanks for the answer @mlorbetske! The `//-:cnd` trick should do for now. And sorry for the duplication, I did search for `DEBUG` in the issues but forgot to check the closed ones :/

[2017-04-14 21:29] #587 closed

[2017-04-14 21:30] alfonsogarciacaro commented on #588
Argh, another duplicate I couldn't find, I was searching for `hyphens` in previous issues. Sorry!

[2017-04-15 00:54] seancpeters opened #594 "WebApi 2.0 Work&School Single sign on Read directory data - doesn't restore"
Running dotnet restore on the project type in the title fails - this happens:

[code]

[2017-04-15 04:17] ofmendez commented on #589
@mlorbetske
Although the comand
`find /opt/dotnet -name '*.so' -type f -print | xargs ldd | grep 'not found'`
now get empty message...
I resumed the method from official site:
[code]
and in this point I get:

` [1] 18747 segmentation fault  dotnet restore`

I tried with other names and sequences, like in the official video tutorial:

[code]

And run `dotnet restore` in the built-in terminal of VSc

[2017-04-15 05:18] mlorbetske commented on #589
@ofmendez I'm not sure what the first command you mentioned is supposed to do to be honest, my Linux command line skills are rusty at best. From the sound of it though, the "new" command has produced a csproj & related artifacts in the specified folder - if that's correct & you're now facing an issue with dotnet restore, I think this issue should move back to dotnet/cli.

/cc @livarcocc

[2017-04-16 14:59] lambdakris commented on #251
I was able to manually test with new3 and created a pr https://github.com/dotnet/templating/pull/600 for the 1.x version. I'll wait on feedback then work on the 2.0 version.

[2017-04-17 16:44] leastprivilege opened #601 "Sample for "Add a reference to a project file""
I want to add nuget packages to an existing csproj. The [wiki](https://github.com/dotnet/templating/wiki/Post-Action-Registry) seems to indicate that this is possible. Any sample for that?

[2017-04-17 16:47] mlorbetske commented on #601
@seancpeters can you share an example of this please?

[2017-04-17 16:57] mlorbetske opened #602 "Add support for the correct form of "else if" (#elif)"
Per https://msdn.microsoft.com/en-us/library/88td0y52.aspx, what we call `#elseif` should actually be `#elif`. We should _add_ support for this, leaving support for `#elseif` as-is to avoid breaking existing templates.

[2017-04-17 17:09] sayedihashimi opened #603 "#elseif versus #elif"
I was chatting with @danroth27 and he pointed out that the usage of `#elseif` in [startup.cs](https://github.com/dotnet/templating/blob/rel/vs2017/post-rtw/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/StarterWeb-CSharp/Startup.cs#L65) should be `#elif` according to https://msdn.microsoft.com/en-us/library/ed8yd1ha.aspx

[2017-04-17 17:30] mlorbetske commented on #603
Dupe of #602

[2017-04-17 17:30] #603 closed

[2017-04-17 19:00] seancpeters commented on #601
An example post action setup for adding package references looks like the following (the required configuration will go in the template.json file for the template):
[code]
The pieces of the configuration represent the following:
description: Meant to be displayed to the user, so should be meaningful.
actionId (required):  Specifies the post action to perform, so for add package reference post acti

[2017-04-17 21:56] lambdakris commented on #251
So now I am looking to work on the 2.0 version of the template. For reference, I compared the 1.x and 2.0 versions of the EmptyWeb-CSharp template to one another and could only find the following diffs:
1. Targeting netcoreapp2.0
2. Referencing AspNetCore 2.0.0-preview1-*
3. Presence of NuGet.config with package sources to myget feeds where presumably the wip 2.0 packages are hosted
4. Logging con

[2017-04-17 22:01] lambdakris commented on #251
Also, getting this error during `dotnet restore` in the EmptyWeb-CSharp template:
[code]

Is this because I need to have some kind of nightly version of .NET Core 2.0 runtime or SDK installed or is it a problem retrieving something from the myget feeds?

[2017-04-17 23:12] danroth27 opened #606 "Add CallbackPath parameter for org auth templates"
When using Azure AD for auth the user will need to be able to specify the callback path for the redirect URI that they setup with Azure AD.

[2017-04-17 23:14] danroth27 opened #607 "Add ClientSecret parameter to the user secrets file for org auth templates"
When using the `--org-read-access` option you need a client secret to be able to talk to the graph API. This secret should be stored in the user secrets file.

[2017-04-18 01:57] #602 closed

[2017-04-18 06:10] leastprivilege commented on #601
thanks! I'll give it a try.

[2017-04-18 08:05] leastprivilege commented on #601
I tried - but doesn't seem to do anything for me - could you have a look if something is wrong:

https://github.com/IdentityServer/IdentityServer4.Templates/blob/dev/UI/.template.config/template.json

[2017-04-18 16:50] mlorbetske commented on #601
One thing worth noting here is that this is supported starting with the 2.0.0-* CLI or with the `new3` command from this repo. I'm not sure if that changes the outcome here.

[2017-04-18 18:31] leastprivilege commented on #601
it does. thanks ;)

[2017-04-18 19:33] felixbecker opened #610 "Template installation issue on OSX El Capitan"
Hi,

I have a strange issue installing the fsharp freya template on my Mac. Can anyone help and tell me what I do wrong?

I execute the following command.

`dotnet new --install "Freya.Template::*"`
and also with the exact version number...
`dotnet new --install "Freya.Template::0.1.4"`

I got the following error:
`Too many open files`

`dotnet --version = 1.0.1`
`OSX El Capitan Version: 10.11.6`

[2017-04-18 23:08] sayedihashimi opened #611 "Create Solution Template - group of projects"
Ported from: https://github.com/dotnet/cli/issues/6346 by @dyardyGIT

# Original Text

If we have a solution with a number of projects and want to make a template out of the entire package - can this be done?

I believe the answer is yes.  I have been able to put .template.config/template.json at the root level of an existing project then use dotnet new -i to install the template into the library.

[2017-04-18 23:15] sayedihashimi commented on #611
I believe the answer is yes. I have been able to put .template.config/template.json at the root level of an existing project then use dotnet new -i to install the template into the library.

Yes that is correct.

b) is it possible to use a replace parameter to float down to all projects that are a member of the template?

I think the easiest thing to do here is to apply the desired naming conventi

[2017-04-19 04:51] mlorbetske commented on #251
Yep, it needs the nightly of the 2.0 cli unfortunately. I believe that's the total set of differences, @glennc can probably point out any changes that are coming.

[2017-04-19 05:04] mlorbetske commented on #610
Sorry for the delay, was searching through issues to find a previous response to this, only to discover that I had responded to it previously in an e-mail asking about this.

This has been fixed in the template engine bits in the 2.x CLI by limiting what gets restored as part of a template install. In the 1.x CLI, templates not installed from disk get a csproj generated & then restored to a folder

[2017-04-19 05:04] #610 closed

[2017-04-19 08:27] danroth27 opened #613 "Set UseTokenLifetime to true"
This property was set to false by default, because developers setting properties to drivethe cookie MW behavior wouldn't be surprised when those settings weren’t honored. However, when using Azure AD or Azure AD B2C the templates should set this property to true so that the lifetime aligns with what was configured with the service.

[2017-04-19 16:44] #571 closed

[2017-04-19 22:25] mlorbetske commented on #613
Fixed by #615

[2017-04-19 22:25] #613 closed

[2017-04-19 22:25] mlorbetske commented on #606
Fixed by #615

[2017-04-19 22:25] #606 closed

[2017-04-20 05:46] danroth27 opened #622 "Adding missing callback path parameter to mvc b2c template"

[2017-04-20 10:52] rschiefer opened #625 "dotnet new3 Error on Linux/Mac"
I'm trying to test "dotnet new3" on Linux/Mac but received the following error on both:

I can run "dotnet new" without issue:

I first ran setup.sh to setup the new3 command from a customized fork, then pulled from the main repo and reran setup.sh.  Received the above error for both branches.  It may be that I'm not properly setting up the new3 command.  I did try the harderreset.sh script but no

[2017-04-20 15:42] mlorbetske commented on #625
It looks like this trace is from the dotnet cli itself, which build of the cli are you running? The difference between new and new3 from the cli perspective is that new calls into these assemblies directly, while new3 must be started as an external process.

[2017-04-20 18:27] rschiefer commented on #625
"dotnet --version" returns 1.0.1 on Mac and Linux.  My Windows machine says "1.0.0-rc4-004917".

What version do I need?

[2017-04-20 19:29] cdibbs opened #627 ""A <Choose> must contain at least one <When>." (MSB4085)"
I get this msbuild error after trying to turn a VS 2015 solution into a template. My template.json is very simple, as in the example, here:

[https://github.com/dotnet/templating/wiki/%22Runnable-Project%22-Templates](https://github.com/dotnet/templating/wiki/%22Runnable-Project%22-Templates)

Running `dotnet new -i ./MySolutionDir` works fine. The error happens when I try to load the solution in

[2017-04-21 09:55] RehanSaeed opened #633 "Add Remove Unused Using Statements Post-Action"
Right now, I have to add `#if` pre-processor directives around my using statements to add or remove certain features. In the example below, `System.Linq` could be used by multiple conditional symbols and it's very hard to work that out without generating the template using every combination of symbol values and then trying to build the project.

[code]

In my experience with my own templating engi

[2017-04-21 10:47] RehanSaeed opened #634 "Make Symbol Parameters Case-Insensitive"
I've just realized that the `dotnet new` CLI is case sensitive when referring to the symbol names e.g.

`dotnet new mytemplate --name Foo --MySymbol MySymbolValue`

In this case I'm using a TitleCase symbol name and value which makes sense in `#if` pre-processor directives. However, in the CLI, I if I specify them in lower-case I get an error:

`dotnet new mytemplate --name Foo --mysymbol mysymbol

[2017-04-21 11:16] rschiefer commented on #625
Not sure if this helps but I ran dotnet from the ".dotnet" folder which is the same version as is working in Windows and got the same error on Linux.

[2017-04-21 16:06] sayedihashimi commented on #633
In the asp.net templates we purposefully leave some extra using statements. I don't think this would be something that we would work on, since I don't think we would use it directly. Let's see if @mlorbetske would be interested in taking a PR for this.

[2017-04-21 16:07] sayedihashimi commented on #627
@cdibbs can you point us to a sample that reproduces this issue?

[2017-04-21 16:18] sayedihashimi commented on #625
I tried with the latest MAC cli and got a similar but different error.

[code]

[2017-04-21 16:21] sayedihashimi commented on #625
When I invoke `dotnet-new3` directly it works. Maybe this is an issue with the symlink to dotnet-new3 or however that is hooked up to `dotnet new3`.

@rschiefer can you try invoking the dotnet-new3 which is under the `dev` folder after running `setup.sh` and let me know if that works for you?

[code]

[2017-04-21 16:22] RehanSaeed commented on #356
Agreed that it would be annoying from the CLI. However, looks like you've found a workaround for that by adding a `condition` property to the post-action (I can't seem to get restore to work with the 1.0 release).

  "symbols": [
    ...
    "SkipRestore": {
      "type": "parameter",
      "datatype": "bool",
      "description": "Skips the execution of 'dotnet restore' on project creation.",

[2017-04-21 18:41] rschiefer commented on #625
Yes, that works for me too.

[2017-04-21 19:47] cdibbs commented on #627
@sayedihashimi Yes. I won't have access to the original example until Monday, but I was able to reproduce the issue simply by creating a new C# class library, and adding a Choose to the top, like so:

[code]

After running `dotnet new -i ./templatedir` and `dotnet new helloworld` in a new directory, that results in a .csproj beginning with:
[code]

which causes msbuild to throw the mentioned error

[2017-04-21 19:50] cdibbs commented on #627
Ohh, and this is with dotnet 2.0.0-preview1-005825.

[2017-04-21 21:35] felixbecker commented on #610
Thanks for getting back. Executing `ulimit -n 512` via terminal did the trick as a work around. Looking forward to CLI 2.
Thx

[2017-04-21 22:54] mlorbetske commented on #627
@seancpeters could you provide the information on how to turn off conditional processing for a block? This should be listed in the configuration for `**/*.*proj`

[2017-04-21 22:55] mlorbetske commented on #633
I'm interested, obviously it'd have to be an opt-in behavior. If we get a PR for this that'd be fantastic.

[2017-04-21 23:16] seancpeters commented on #627
I just spent a little time testing with your sample template. It demonstrates a bug - since StringA & Configuration are not known symbols in the context of this template, the condition shouldn't be processed. Until we release a fix for this bug, here's a workaround you can use to force those conditions to not be processed during template creation.

You can wrap a section of a file in flags that ex

[2017-04-21 23:33] cdibbs commented on #627
@seancpeters Awesome. That will get me moving, at least. Thank you for the info!

[2017-04-22 00:40] DamianEdwards opened #640 "Enable DI container scope validation by default for Development environment in all ASP.NET Core 2.0 templates"
Update all the ASP.NET Core 2.0 templates to turn on scope validation when in the development environment, e.g.:
[code]

@glennc @davidfowl @pakrym @mlorbetske

[2017-04-22 01:31] davidfowl commented on #640
That's not the beautiful new way to do it

[2017-04-22 01:32] DamianEdwards commented on #640
@davidfowl please share the 🌷

[2017-04-22 04:27] mlorbetske opened #644 "Re-enable BrowserLink in 2.0 templates"
The package has been removed due to a hang, re-add it when that problem has been solved

[2017-04-23 13:40] petrroll opened #649 "Two templates get merged together in listing"
I have a problem where two of my templates get merged into one in the `dotnet new -a` listing. A user can still invoke each of them just fine if he knows their (either full or short) names and it even shows both of them in the `Examples` section after calling `dotnet new <their-common-prefix>`. In the listings (`new -a`, `new -l`, ...), however, it shows just one of them.

The templates in questio

[2017-04-23 14:42] petrroll opened #650 "`dotnet new` crashes on template without `sourceName` in config"
Despite the fact that [wiki documentation](https://github.com/dotnet/templating/wiki/%22Runnable-Project%22-Templates#sourcename-optional) lists `sourceName` as an optional parameter the `dotnet new` crashes [on my templates](https://github.com/peachpiecompiler/peachpie-templates/tree/master/src/Content) when their configs don't include it.

Crash after removing `sourceName` from `peachpie-console

[2017-04-23 15:50] mlorbetske commented on #649
If the two templates have the same value for groupIdentity, this will happen and is by design. groupIdentity indicates that the templates should display as a single template (a set of equivalent templates for multiple languages is the canonical example of having two with the same groupIdentity). In the 1.0.x CLI there's a bug where all templates that do not specify a groupIdentity get unified, thi

[2017-04-23 15:54] mlorbetske commented on #650
I believe this has been fixed for the 2.0 release. @seancpeters to confirm. The workaround is to set it to some value that is not found in your template.

[2017-04-23 15:54] #649 closed

[2017-04-23 16:03] mlorbetske commented on #650
I've just verified that this has been fixed for the 2.0 release & have added a test to make sure that it doesn't regress https://github.com/dotnet/templating/pull/651

[2017-04-23 16:03] #650 closed

[2017-04-23 16:03] lambdakris opened #652 "ClassLibrary template for F# does not have a Framework parameter"
The ClassLibrary template for F# does not have a Framework parameter which makes it awkward to use alongside other templates that do have a Framework parameter.

I will try to submit a version of the template with a Framework parameter to address this.

[2017-04-23 17:55] lambdakris opened #653 "[Question] How to control whether 2.0 or 1.x template is used"
This is a silly thing but I can't seem to pin down how the 2.0 vs 1.x templates are selected by new3. It doesn't seem to be just the --framework switch... or is it?

[2017-04-23 19:16] mlorbetske commented on #653
Good question. Templates with a common groupIdentity show as one & each template in each group identity can have options and defaults. If a group identity is used by more than one template, then when resolution for invocation happens (ex. calling up help or trying to create an instance of the template), the specified parameters are used to try to narrow down to exactly one template the user might

[2017-04-23 19:16] mlorbetske commented on #652
Fixed by #645, thanks!

[2017-04-23 19:16] #652 closed

[2017-04-23 19:17] mlorbetske commented on #652
#654, oops

[2017-04-24 14:50] rschiefer commented on #625
Referencing dotnet-new3 from the "dev" folder does allow me to run new3 successfully but it doesn't have any of my changes from Microsoft.TemplateEngine.Cli.  I can copy the bin output to the dev folder and it gets my changes, partially runs my new code but then fails with

Tried copying Microsoft.TemplateEngine.Core.dll to the dev folder but same error.

Any help would be greatly appeciated!

[2017-04-24 15:44] morrisjoe opened #656 "File > New > Project > Web > ASP.NET Core Web Application (.NET Core) is broken"
Repro

- Install \\cpvsbuild\drops\VS\d15prerel\products\26423.01\bootstrappers\Enterprise
- Select workload of 'ASP.NET and web development'
- After successful VS install, check the version of .NET Core SDK/CLI installed. Confirm it is 2.0.0-preview1-005842
- File > New > Project > Web > ASP.NET Core Web Application (.NET Core)
- Pick Empty Project
- Pick Target Framework of ASP.NET.Core 2.0 from

[2017-04-24 17:02] livarcocc opened #657 "Dotnet new fails: Object reference not set to an instance of an object"
_From @sbomer on April 24, 2017 16:23_

## Steps to reproduce
dotnet new console

## Expected  behavior
Creates a new console app

## Actual behavior
`Object reference not set to an instance of an object.`

## Environment data
`dotnet --info` output:

[code]

_Copied from original issue: dotnet/cli#6395_

[2017-04-24 17:02] livarcocc commented on #657
_From @omajid on April 24, 2017 16:44_

Somewhat unrelated question: when the compiler errors out with `Object reference not set to an instance of an object`, is there any way to ask it to display more information? For example, the name of the object? From what file? If not, is this worth considering as a bug by itself?

[2017-04-24 17:03] livarcocc opened #658 "Remove Microsoft.VisualStudio.Web.BrowserLink from MVC template"
_From @JosephWoodward on April 24, 2017 14:31_

Before I create a pull request proposing changes I'm interested to know if there's any discussion around whether the `Microsoft.VisualStudio.Web.BrowserLink` should be included in the .NET Core CLI MVC template (this can be seen by running `dotnew new mvc`)

Given the .NET Core CLI supports cross platform and a variety of editors it seems odd that th

[2017-04-24 17:37] mlorbetske commented on #656
At the command prompt, please run `dotnet new` and then try again. This will cause the CLI to expand its fallback folder & register it so that the restore in VS succeeds. I've repro'd and verified that this works.

[2017-04-24 17:40] mlorbetske commented on #657
@seancpeters can you investigate please?

[2017-04-24 17:41] mlorbetske commented on #658
@madskristensen thoughts?

[2017-04-24 17:45] morrisjoe commented on #656
Ok. That workaround works. Noticed after the workaround, 1 warning still hangs around as shown in image below.

![capture](https://cloud.githubusercontent.com/assets/12700391/25350770/12c3c8ba-28db-11e7-9290-6e36f23b38e7.PNG)

[2017-04-24 17:58] cdibbs commented on #627
I can confirm this works for me. I ended up wrapping large swaths of my .csproj files in the  since there are a lot of conditions, and not only on the Choose/Whens. I left alone the sections needed for guid replacements. The end result is that I now have a working solution template with a lot less fuss than other templating options out there. :-)

Thanks, again, for all your help @seancpeters, @ml

[2017-04-24 18:17] dansiegel commented on #625
@sayedihashimi I'm actually seeing this error as well. I tried running dotnet-new3 from the dev folder to install a template and got the following error.

[code]

[2017-04-24 20:36] seancpeters commented on #657
Hi @sbomer,
I'm currently unable to reproduce this on Ubuntu16.04. If I can get more information from you, perhaps I can see what's happening. I'd like to check 2 things initially:
1) Can you copy-paste the output from running `dotnet new` with no args?
2) The first run of `dotnet new` should have created this directory: `~/templateengine/dotnet/cli/v2.0.0-preview2-005840`. Can you let me know wha

[2017-04-24 21:35] sbomer commented on #657
@seancpeters, thanks for taking a look!

I'm confirming that running with `--debug:reinit`, or wiping the `~/.templateengine` directory fixes the issue. Thanks! :)

Here's the info you requested for the investigation:

1. `dotnet new` output, after clearing my nuget cache. If I run it again the output is the same after "Template Instantiation Commands...".
[code]

2.  [v2.0.0-preview2-005840.tar.g

[2017-04-25 01:13] seancpeters commented on #657
@sbomer - just wanted to confirm that --debug:reinit or wiping the config directory did fix the problem you were having with dotnet new.

[2017-04-25 03:01] mlorbetske commented on #625
The issue when running from dev comes from a component installation ordering issue. I'll try to get a fix in for this tonight. Still not sure where the Process.Start problem is coming from though - it's happening in the CLI before it even gets to us.

[2017-04-25 04:23] DamianEdwards opened #664 "Change ASP.NET Core 2.0 templates to use new static WebHost API"
All the ASP.NET Core 2.0 templates should have their `Program.Main` method updated to use the new static `WebHost.CreateDefaultBuilder()` API, e.g.:
[code]

I think this will also require all the templates to ensure they have the `<UserSecretsId>` MSBUILD property set in their CSPROJ files too.

[2017-04-25 04:24] DamianEdwards commented on #664
@glennc @JunTaoLuo @danroth27 @mlorbetske

[2017-04-25 04:26] DamianEdwards opened #665 "Update ASP.NET Core 2.0 MVC templates to enable view precompilation"
All the ASP.NET Core 2.0 project templates that include Razor views and/or Pages must be updated to enable Razor precompilation by default. This simply requires the `<MvcRazorCompileOnPublish>true</MvcRazorCompileOnPublish>` MSBUILD property be set in the CSPROJ file.

[2017-04-25 04:26] DamianEdwards commented on #665
@mlorbetske @pranavkm

[2017-04-25 05:32] mlorbetske commented on #627
Happy to help @cdibbs, thanks for making templates!

[2017-04-25 05:32] #627 closed

[2017-04-25 05:33] mlorbetske commented on #653
Closing this, feel free to re-open if there's more info needed

[2017-04-25 05:33] #653 closed

[2017-04-25 05:35] mlorbetske commented on #442
Closing this since the relevant changes have made it in to the CLI. Feel free to re-open if there's more to be done here

[2017-04-25 05:35] #442 closed

[2017-04-25 05:35] mlorbetske commented on #625
The component ordering part should be fixed in #667

[2017-04-25 05:36] mlorbetske commented on #622
@danroth27 this is done right?

[2017-04-25 05:36] DamianEdwards commented on #640
@davidfowl *bump*

[2017-04-25 05:37] mlorbetske commented on #589
@ofmendez did I interpret the state of things correctly? If so, we should get the `restore` issue looked at by moving the issue to the `dotnet/cli` or `nuget/home` repos

[2017-04-25 05:40] mlorbetske commented on #317
Closing this as the generic support is there

[2017-04-25 05:40] #317 closed

[2017-04-25 05:49] DamianEdwards opened #668 "Update Razor Pages template to react to latest changes"
- No longer need to [set pages root to "/Pages"](https://github.com/dotnet/templating/blob/rel/vs2017/post-rtw/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/RazorPagesWeb-CSharp/Startup.cs#L27) as that's the framework default
- No longer need to use full paths to views like [here](https://github.com/dotnet/templating/blob/rel/vs2017/post-rtw/template_feed/Microsoft.DotNet.Web.Pro

[2017-04-25 05:51] DamianEdwards opened #669 "Add authentication to Razor Pages project template"
The authentication & identity features from the regular MVC project template need to be "pagified" and added to the Razor Pages project template.

Use the [example here](https://github.com/DamianEdwards/RazorPagesSample/tree/master/RazorPagesWebApplication/Pages/Account) as a guide.

This will need to include changes for Authentication 2.0 and the Identity Services features when they land. It shou

[2017-04-25 06:18] danroth27 commented on #622
Yeah:

https://github.com/dotnet/templating/blob/rel/vs2017/post-rtw/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/StarterWeb-CSharp/appsettings.json#L11

https://github.com/dotnet/templating/blob/rel/vs2017/post-rtw/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/StarterWeb-CSharp/AzureAdB2COptions.cs#L15

[2017-04-25 06:18] #622 closed

[2017-04-25 06:34] #665 closed

[2017-04-25 06:41] mlorbetske commented on #658
cc @barrytang

[2017-04-25 10:17] jchannon commented on #658
Agree. dotnet is now xplat and needs to accommodate this so as suggested provide options in the template generation to add BrowserLink if the user wants it. An opt-in approach is always wins IMO.

[2017-04-25 10:58] flytzen opened #674 "Support using templates directly from [github] URL"
One thing that would really help is to remove the need to *install* templates locally.
Something like
```dotnet new https://github.com/bob/supertemplate```
or
```dotnet new -t https://github.com/bob/supertemplate```

Installing templates locally is *friction* and also leads to ongoing versioning issues, especially for use internally in an organisation.

[2017-04-25 15:38] dansiegel commented on #625
@mlorbetske I wiped out the repo locally, re-cloned it, and re-ran the setup.sh.

[code]

While I did manage to get a new template to install, trying to create or even access the help for an installed template still results as follows:

[code]

[2017-04-25 15:42] sbomer commented on #657
@seancpeters  Yes, it did, thanks! :D

[2017-04-25 18:06] seancpeters commented on #657
Great! Please let us know if you run into a problem like this again (or any other problem).

[2017-04-25 18:12] #657 closed

[2017-04-25 18:15] mlorbetske commented on #664
Fixed by #671

[2017-04-25 18:15] #664 closed

[2017-04-25 20:06] balachir opened #677 "Improve 'dotnet new sln' message"
CLI VERSION
![image](https://cloud.githubusercontent.com/assets/8246794/25405162/45199b00-29b7-11e7-9aff-ca144ab7d425.png)

REPRO STEPS
dotnet new sln

ACTUAL
![image](https://cloud.githubusercontent.com/assets/8246794/25405173/517900e8-29b7-11e7-984b-6e8d5f784e2b.png)

EXPECTED
The message seemed a little odd - I was expecting something along the lines of "A Solution File has been created". I can

[2017-04-26 04:53] mlorbetske opened #683 "Re-enable tools"
Effectively revert #681 when tools that are compatible with the CLI are available

[2017-04-26 04:54] mlorbetske commented on #677
Maybe we could add a custom "Hello" message to the template

[2017-04-26 07:23] mlorbetske commented on #668
Fixed by #684

[2017-04-26 07:23] #668 closed

[2017-04-26 16:01] pakrym commented on #640
Worked is moved to https://github.com/aspnet/MetaPackages/pull/61

[2017-04-27 00:35] glennc opened #690 "Add CorrelationId to Error page"
If the current Activity is not null we should display it on the error page.

[2017-04-27 16:20] #640 closed

[2017-04-27 16:24] mlorbetske commented on #634
@seancpeters can you get a feel for what's involved for doing this?

We currently support making the presentation of the template parameters consistent with the presentation environment (host) via files like [this one](https://github.com/dotnet/templating/blob/rel/vs2017/post-rtw/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/EmptyWeb-CSharp/.template.config/dotnetcli.host.json).

[2017-04-27 16:32] mlorbetske commented on #658
Current plan: add a parameter to the templates that use BrowserLink to indicate whether to include it that will be defaulted to `false`, VS will pass `true` for that parameter.

[2017-04-27 16:39] mlorbetske commented on #305
This is being worked on in #660

[2017-04-27 16:46] mlorbetske commented on #594
@seancpeters can you see if this still repros?

[2017-04-27 16:46] #601 closed

[2017-04-27 16:51] mlorbetske commented on #577
This is being worked on in #678

[2017-04-27 16:51] JosephWoodward commented on #658
@mlorbetske Sounds like a great idea, glad to hear it's being looked at 👍

[2017-04-27 16:57] mlorbetske commented on #356
Two things here:
1) We'll want to add an action to the CLI that ignores this post action (as prompting the user that they may want to open a file in those scenarios feels redundant)
2) Define the parameters that are needed on the [Wiki](https://github.com/dotnet/templating/wiki/Post-Action-Registry)

[2017-04-27 16:59] mlorbetske commented on #338
Moving this to the backlog as this may be something interesting to add as a "generated" type symbol that would know how to look at existing content to try to determine the namespace. With the new fallback symbols, the user would still be able to override the value.

[2017-04-27 17:35] sayedihashimi commented on #338
Yeah this will be interesting and important. Not sure how to solve this in a good way though.

[2017-04-27 18:20] seancpeters commented on #594
I still had this generated project on disk - running restore on it succeeded with:
[code]

[2017-04-27 19:05] glennc opened #697 "RazorPages template doesn't change namespace of program.cs"
Which means that it cannot run when you actually build it after @danroth27 changes.

[2017-04-27 19:16] dansiegel opened #698 "Enhance EntityFramework Provider options in Templates"
The templates currently provide a possible outcome for generating a template using either SqlServer or Sqlite. I think that this could be further enhanced by providing choices for the EntityFramework Provider.

- SqlServer => Microsoft.EntityFrameworkCore.SqlServer
- SQLite => Microsoft.EntityFrameworkCore.SQLite
- MySQL => MySql.Data.EntityFrameworkCore
- PostgreSQL => Npgsql.EntityFrameworkCore.

[2017-04-27 21:05] #570 closed

[2017-04-27 21:49] sayedihashimi commented on #698
I would like to expand the list of options as well. I would love some community help in this area.

[2017-04-28 01:55] rynowak opened #704 "Consider adding an xunit.runner.json to xunit projects"
There's a bunch of useful settings for xunit that are only configurable via the `xunit.runner.json` file, but it's not very discoverable. See https://xunit.github.io/docs/configuring-with-json.html

We should think about including this in the templates.

This has come up many times for projects that test ASP.NET MVC and it usually looks something like this: https://github.com/aspnet/Razor/issues/1

[2017-04-28 05:45] mlorbetske commented on #697
Fixed in #699

[2017-04-28 05:45] #697 closed

[2017-04-28 05:47] #594 closed

[2017-04-28 05:48] mlorbetske commented on #240
@seancpeters can you verify this is fixed on a non-Windows machine tomorrow please?

[2017-04-28 07:55] RehanSaeed commented on #634
It would be nice if the user could use any case. I don't thing using dotnetcli.host.json would give you that. One additional reason for doing this is that the name parameter is always lower case.

[2017-04-28 15:06] mlorbetske commented on #634
Yep, I was referring to two different things. The CLI, by convention uses all lower case, hyphen separated words for full switch names and prefers (with the exception for things like -lang) single letter sort forms with lower case indicating positive use of the switch and upper case referring to the switch's inversion (ex. -m turns something on and -M explicitly turns it off). This means that the

[2017-04-28 15:19] dansiegel opened #707 "Token based Authentication"
Authentication is something that honestly leaves a lot of dev's scratching their heads because it's not something they have to actively think about on a daily basis. Because Token Based authentication is much easier for a dev to work with for connecting their Xamarin Application, the templates should include this either as a new default. If any additional setup is required within the template to e

[2017-04-28 15:51] sayedihashimi commented on #707
@dansiegel we are working on something that aligns with this I believe. @danroth27 can you comment?

[2017-04-28 15:54] dansiegel commented on #707
@sayedihashimi I thought I might have seen something about Token based auth... just an issue I know has certain been something slowing me down on some projects, and had stumped several dev's I've spoken with. So I wanted to be sure it was something on this team's radar :)

[2017-04-28 15:57] sayedihashimi commented on #704
@rynowak I'm not familiar with this file. Can you help me understand when the file is needed and when it is not needed? What % of xunit projects are likely to need that file?

[2017-04-28 16:02] danroth27 commented on #707
In PR: https://github.com/dotnet/templating/pull/700

[2017-04-28 16:19] sayedihashimi commented on #698
Any community members interested in sending a PR?

[2017-04-28 17:29] sayedihashimi commented on #658
For Core projects can we enable BrowserLink in the same way that we are doing with AI? To be more specific can we do the automatic "Platform lightup" when running in VS so that we don't need the artifacts in the project? I think this would be a better user experience.

[2017-04-28 20:12] dansiegel commented on #698
I'm happy to take a look at this over the weekend.

[2017-04-28 20:58] sayedihashimi commented on #698
@dansiegel thanks! I'll mark the item as assigned. Let me know if you need any info or decide to move on from the feature.

[2017-04-28 20:59] sayedihashimi commented on #698
@dansiegel it looks like I can assign this item to you. I'll assign it to you, so that we know someone is looking at it.

[2017-04-28 21:55] seancpeters commented on #240
Testing with dotnet 2.0.0-oreview2-005905 on Ubuntu 16.04-x64 the created files have 664 permissions (-rw-rw-r--), which is the expected outcome with the fix in place.

My umask is 0002

[2017-04-29 00:31] rynowak commented on #704
This file isn't needed if you want to use the default settings.

The link that linked to is the description of what kinds of things are configurable. We frequently need to use this file to disable shadow copying. Another common use is so configure how xunit displays the test names in the test explorer in VS. You also use this to configure how tests are parallelized.

It looks like we're using this

[2017-04-29 03:14] #240 closed

[2017-05-02 03:18] mlorbetske opened #715 "[Announcement] Active work branch has switched to rel/vs2017/3-Preview2"
The default branch has been updated to rel/vs2017/3-Preview2, please submit any new PRs to that branch.

Existing PRs that are not slated for Preview 1 should be targeted to this branch.

While the work for Preview 1 winds down, we'll be updating the rel/vs2017/3-Preview2 branch with merges from rel/vs2017/post-rtw.

[2017-05-02 04:16] #445 closed

[2017-05-02 08:24] mlorbetske commented on #658
@sayedihashimi I talked with @madskristensen about this. That's where we want to go for 2.0+; for the 1.x projects though, a switch is probably the best we can do.

[2017-05-02 14:57] #683 closed

[2017-05-02 21:46] sayedihashimi opened #723 "Consider adding supported framework version to list output"
Talking to @shanselman he's suggesting that we display the supported framework version in the output of `dotnet new --list`.

Thoughts?

[2017-05-02 22:03] shanselman commented on #723
Current:

[code]

Suggested, **very similar to Language**

[code]

[2017-05-02 22:11] sayedihashimi opened #724 "Consider adding framework version to default output when a project is created"
After talking to @shanselman after a project is created on the CLI it would be nice to include the framework version (if known) that was created.

For example:

`
C:\Users\scott\Desktop\poop>dotnet new console
The template "Console Application - 2.0" was created successfully.
`

For templates that are not targetting .NET or when the target fx is not known we can leave that off.

Thoughts?

[2017-05-02 22:18] dansiegel commented on #723
That would be a lot nicer!

[2017-05-02 22:26] mlorbetske commented on #723
This concerns me in the context of class library. It supports `netstandard1.0` ... `netstandard1.6`, `netstandard2.0`, `netcoreapp1.0`, `netcoreapp1.1`, `netcoreapp2.0` which will get super long & we've already had issues with the table getting too wide.

Moreover, these versions are expressed as the full value for TargetFramework - trimming to the major/minor will work as long as the TFM prefix i

[2017-05-02 22:27] mlorbetske commented on #724
Would the full TFM be ok instead?

`The template "Console Application - netcoreapp2.0" was created successfully.`

[2017-05-02 22:55] shanselman commented on #724
Sure, whatever you have lying around in context that wouldn't require you to do any lookups/transformations/maps or localization. ;)

[2017-05-02 22:57] shanselman commented on #723
Good point @mlorbetske. Are those values the same as the ones they pass in with -framework? Perhaps some abbreviation like s2.0 or a1.0 with a legend at the bottom.

[2017-05-02 22:58] mlorbetske commented on #724
Those aren't the things I'm worried about though :) It's the class library case where there are netstandard1.0/netstandard1.1/netstandard2.0 and netcoreapp1.0/netcoreapp1.1/netcoreapp2.0 where a shortening to just the major/minor pair could be ambiguous.

[2017-05-02 23:00] mlorbetske commented on #723
Yep, those are the same values accepted by --framework. Short forms of the TFMs are interesting, we can do that.

[2017-05-03 02:01] sayedihashimi opened #725 "Proposal to update help output"
I was looking through the help output, and I think there are a few areas that we can improve.

To **start the discussion**, I've created a PR that captures the changes that I'm proposing at https://github.com/sayedihashimi/sayed-tools/pull/12. Below you'll find direct links for each command that I looked at.

adding @mlorbetske @seancpeters @shanselman @richlander

| Command | diff from existing |

[2017-05-03 04:08] mlorbetske commented on #725
What would the proposed verbosity switch do in non-default modes (assuming the current output is the default verbosity)?

Quiet is obvious, but would detailed for example start printing the operations being performed/files being manipulated/etc.?

[2017-05-03 04:32] mlorbetske commented on #511
This has been added with #700

[2017-05-03 04:32] #511 closed

[2017-05-03 04:41] mlorbetske commented on #129
This has been superseded by #725

[2017-05-03 04:41] #129 closed

[2017-05-03 14:55] sayedihashimi commented on #725
@mlorbetske for verbosity maybe we should just have on/off. The other commands are calling MSBuild so it makes sense for the diagnostic/detailed/minimal/quiet. But for templating maybe thats overkill. I can update it to be a switch instead of having parameter values. Does that make more sense?

[2017-05-03 19:04] sayedihashimi commented on #725
Also adding @andrew-msft

[2017-05-03 20:05] dansiegel opened #729 "Xamarin Templates"
I was working on some Xamarin templates and was running into a couple of issues that hopefully someone might have some ideas on how to best handle. The core project is converted over to NetStandard1.4 using the new csproj format, but the Android and iOS projects are still using the older format. I'm sure I'm missing something simple.

1. I want the template to generate an `#if DEBUG` in the iOS te

[2017-05-03 20:37] sayedihashimi commented on #729
For the #if debug it sounds like the same issue as https://github.com/dotnet/templating/issues/587

[2017-05-03 21:41] dansiegel commented on #729
@sayedihashimi that was the missing link... since the issue is already being tracked I'm going to close this issue.

[2017-05-03 22:10] mlorbetske opened #730 "Re-add VB templates"

[2017-05-03 22:38] mlorbetske commented on #730
Not needed, the PR was abandoned

[2017-05-03 22:38] #730 closed

[2017-05-03 22:39] mlorbetske opened #734 "Include support in the dotnetcli host file for indicating that the template should not be used"

[2017-05-03 23:06] JacsonF commented on #589
@mlorbetske
Thank you for the solution.

[2017-05-04 00:19] mlorbetske commented on #734
Fixed by #736

[2017-05-04 00:19] #734 closed

[2017-05-04 00:24] mlorbetske commented on #582
@madskristensen is working on this right now :)

[2017-05-04 00:32] seancpeters opened #738 "Explicit support for "string" & "integer" data types"
We currently explicitly recognize "text" & "int", but some templates use "string" & "integer".

[2017-05-04 00:33] seancpeters opened #740 "Add inferred param types to template cache"
This will make it easier to use the cache info in hosts, particularly VS - @phenning

[2017-05-04 01:21] seancpeters opened #743 "Grouped template help shouldn't hide a param unless all templates in the group hide it."
Currently, if any template in the group hides the param, it's hidden.

[2017-05-04 01:46] #738 closed

[2017-05-04 02:43] #743 closed

[2017-05-04 02:44] #658 closed

[2017-05-04 06:07] ErikSchierboom commented on #677
I would argue that the current message looks like a solution template was created, not that a solution was created using a template.

[2017-05-04 12:11] kasperlauge opened #748 "dotnet new3 -i "folderpath" doesnt work"
Hi
I was experimenting with the dotnet new3 by making a custom template. I ran into a problem and another post suggested to run dotnet new3 --debug:reinit.

After that my install command doesnt work anymore. I have a template which used to work and i could install it before, but now when i run: dotnet new3 -i "folderpath" nothing happens. No error messages. It just prints all the existing template

[2017-05-04 12:30] kasperlauge commented on #748
False alarm, i made a change in template.json which broke it. Though i still think there should be some kind of error message when that happens...

[2017-05-04 15:41] #748 closed

[2017-05-04 17:19] sayedihashimi opened #749 "[Announcement] JSON Schema now available for template.json"
@madskristensen has created a JSON Schema for `template.json` that is hosted on [schemastore.org](http://schemastore.org/).

Visual Studio 2017 should automatically pick up the new schema, but if you're not seeing it then you can manually refresh the schemas with the right click shown below.

![reloadschemas](https://cloud.githubusercontent.com/assets/1283154/25716193/186f3256-30b3-11e7-8def-24e47

[2017-05-04 17:33] mlorbetske commented on #582
Fix is mentioned in #749

[2017-05-04 17:33] #582 closed

[2017-05-05 01:23] dansiegel commented on #729
@sayedihashimi it looks like I'm still running into a couple issues with my templates.

1) I haven't been able to prevent the templating engine from removing elements or blocks in my csproj file that require conditional statements. See the [iOS csproj](https://github.com/dansiegel/Prism-Templates/blob/master/content/MobileApp-CSharp/src/MobileApp.iOS/MobileApp.iOS.csproj#L4) for an example. I have

[2017-05-05 06:38] sayedihashimi commented on #729
@dansiegel can you share a sample?

[2017-05-05 06:44] #403 closed

[2017-05-05 06:54] mlorbetske commented on #729
For conditions in XML & proj files, the syntax for ignoring conditions is `` and  `` (note that this is not available in the 1.0.x CLI, it's being fixed to include it in the 2.0.0-preview1+ CLI, VS & VS4M).

For 2 & 3 can you hook up with @seancpeters to debug?

[2017-05-05 06:54] mlorbetske commented on #690
This was fixed by #728

[2017-05-05 06:54] #690 closed

[2017-05-05 06:54] #715 closed

[2017-05-05 06:55] mlorbetske commented on #577
Fixed by #678

[2017-05-05 06:55] #577 closed

[2017-05-05 07:09] mlorbetske commented on #707
#700 has been merged

[2017-05-05 07:09] #707 closed

[2017-05-05 17:33] dansiegel commented on #729
@mlorbetske thanks, that did the trick. I had tried that as ``, ``, ``, and even just `//-cnd` each with and without the `noEmit`. I'm using the latest available 2.0 version of the cli.

@sayedihashimi @seancpeters I linked directly to the files above. The project can be found [here](https://github.com/dansiegel/Prism-Templates)

[2017-05-05 17:34] seancpeters commented on #729
@dansiegel I wrote up a pretty detailed explanation of the -:cnd +:cnd type syntax in #627 - - it may be helpful.

[2017-05-06 01:41] dansiegel commented on #698
For MySql there are actually three different providers. The Official MySql package is also the only one that has yet to release a stable package. Is there a preference to only support the Official MySql provider, all three, or .....

[2017-05-06 06:54] dansiegel commented on #729
I took at look at the schema and found the problem with the dotnetcli.host.json file. Thanks @madskristensen

Also looks like problem I was having with some of the computed symbols wasn't actually with the symbols themselves, but how I was using them.

[code]

What finally did work was to change it to only evaluate a single symbol like the following:

[code]

The only problem is that I haven't bee

[2017-05-06 13:58] mlorbetske commented on #729
It looks like `packages.config` isn't covered in the [default configurations](https://github.com/dotnet/templating/blob/9703a93a90c6cb91e4d265857c54963102c27ef6/src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/SimpleConfigModel.cs#L405-L428). It should be possible to add the handling for it to the template.json for the time being similar to how [this](https://github.com/dotnet/templating

[2017-05-06 14:04] Yutsa commented on #589
I followed @mlorbetske instructions and I have the same issue as @ofmendez when trying to do `dotnet restore` or `dotnet run`.

I guess Stretch isn't supported yet unfortunately. I hope I'll find a way to use dotnet core on my Debian Stretch soon though.

[2017-05-06 14:22] mlorbetske commented on #589
Thanks for the clarification. I'll move this back to the CLI repo for further investigation.

[2017-05-06 14:24] mlorbetske commented on #589
This issue was moved to dotnet/cli#6537

[2017-05-06 14:24] #589 closed

[2017-05-06 17:12] dansiegel commented on #729
Thanks @mlorbetske. PR #762 looks good, definitely has support for some files in Xamarin templates that I may want to get crazy with down the road.

[2017-05-06 19:51] sayedihashimi commented on #353
@mlorbetske can we use the descriptions from VS?

[2017-05-06 20:01] #729 closed

[2017-05-06 21:38] mlorbetske commented on #353
Sounds reasonable

[2017-05-06 22:50] sayedihashimi commented on #353
Ok let's go with that. It would be good if VS actually gets the description from the template. Let me know if you need anything else from me.

[2017-05-07 01:31] dansiegel opened #764 "Template Documentation"
The documentation needs a little cleanup particularly for Post Actions. For example in the ["Runnable Project" Templates](https://github.com/dotnet/templating/wiki/%22Runnable-Project%22-Templates#configuration) configuration section there is an example of what a template configuration could look like, and it includes some post actions. Several properties in the example do not meet the official sc

[2017-05-07 01:42] dansiegel opened #765 "Post Actions user confirmation"
After doing some testing with the Post Action to [Run a script](https://github.com/dotnet/templating/wiki/Post-Action-Registry#run-script), specifically to run `git init`, `git add *`, and `git commit -m "Initial Commit"`, everything succeeds, but the user is prompted `Do you want to run this action (Y|N)?` for each command which quickly can become a bad user experience, particularly if you have a

[2017-05-07 01:56] mlorbetske commented on #765
If the user passes `--allow-scripts yes`, then the prompts will be dismissed. This options should be visible in the template's help if it has script type post-actions. Generally though, we discourage the use of script type post actions as there's usually not a guarantee that the user has support for the command that's being run.

cc @blowdart

[2017-05-07 02:02] dansiegel commented on #765
It's a bit of a hack for now. If there was a git init action like there is for NuGet restore I'd use that instead, and ultimately I would like to open a readme if the project is created in Visual Studio of VS for Mac.

[2017-05-07 10:51] grokys opened #767 "Add an EmbeddedResource"
I need to add an `<EmbeddedResource>` to the `.csproj` in my template. I've looked through the examples and it would seem I need an `ActionId`, is there one for adding embedded resources? Are the available action IDs listed anywhere?

[2017-05-07 15:57] sayedihashimi commented on #767
@grokys are you asking how you can create a project template which lays down a .resx file? If so, in that case it's no different from creating a regular template. There should be no need for a post action.

[2017-05-07 16:03] grokys commented on #767
Hi @sayedihashimi, no I want to create an item template and I need to add an `<EmbeddedResource>` element to the `.csproj` for the file that's is being added.

Also, I wondered if the available action IDs are listed anywhere, they seem to be magic numbers without any explanation afaics.

[2017-05-07 16:38] sayedihashimi commented on #764
Hi @dansiegel thanks for the feedback. I just made a bunch of [changes](https://github.com/dotnet/templating/wiki/%22Runnable-Project%22-Templates/_compare/5b14fe0701686a125e4b5b1fde5c5c801c1cf863...95b32ecd29215a57291d3b5fcc6e8b0c2732eaf2) to [runnable projects](https://github.com/dotnet/templating/wiki/%22Runnable-Project%22-Templates#configuration) based on this.

The sample `template.json` fil

[2017-05-07 16:45] sayedihashimi commented on #767
I see you're creating an item template, and it needs to get listed in the .csproj. Let's see what the team says.

About the ActionID we have a wiki page at  https://github.com/dotnet/templating/wiki/Post-Action-Registry

[2017-05-07 16:53] dansiegel commented on #767
@grokys I see you're embedding XAML files. Your best bet is to update the way you handle the XAML files in your csproj. Oren has a great write up on how to do this on his [blog](https://oren.codes/2017/04/23/using-xamarin-forms-with-net-standard-vs-2017-edition/).

[2017-05-07 17:12] dansiegel commented on #764
@sayedihashimi that looks a lot better! One minor thing I might add is `"$schema": "http://json.schemastore.org/template"`, I believe both VS and VS for Mac pick up the schema automatically, but VS Code and some other text editors don't pick it up without that defined, so it may not be bad to add the schema reference as well :)

As for the PAR page, I might add based on the feedback from @mlorbets

[2017-05-07 17:31] dansiegel opened #768 "Item Templating Name Generation"
Certain item templates like `solution files` or `web.config`'s can simply be created in the directory. Other item templates, for instance a `Class.cs` item however would have two names it needs to be concerned with. First being the name of the Class/File and second the namespace it should use.

You could currently try a work around where you force the user to specify one name or the other and repl

[2017-05-07 21:03] dansiegel opened #769 "Item Template copies .template.config"
I'm seeing some really weird behavior when working with some Item Templates where when I create the item it also copies over the `.template.config` directory. You can see the template [here](https://github.com/dansiegel/Prism-Templates/tree/item-templates/content/XamarinItems). This results in a failure when trying to create a subsequent item since it finds a duplicate template.json and dotnetcli.

[2017-05-07 21:42] dansiegel commented on #698
@sayedihashimi another question for you, and I suppose this could be an issue of it's own as well.

Will the `2017.3.host.json` need updating so that you can choose the EF Provider from within Visual Studio? From looking at the spec it seems like the host file is pretty much set for custom template dialogs centered around web projects. I don't know if maybe this would be an area where you could wo

[2017-05-07 21:43] grokys commented on #767
Thanks @dansiegel - I'd actually just remembered that you can do that (we already do it elsewhere)! The link to the post action registry was useful anyway ;)

[2017-05-07 21:43] #767 closed

[2017-05-07 22:46] sayedihashimi commented on #764
@dansiegel FYI I've added `$schema` as you suggested. I also have updated the formatting of the PAR page. I'll discuss with @mlorbetske next week and see if we can get the Run Script section improved.

FYI the wiki pages are editable by anyone. If you see anything that can be improved and are up for it, then feel free to go for it.

[2017-05-08 00:49] mlorbetske commented on #768
This is a duplicate of #338. To sum up current state - what you've suggested is correct, name and namespace come in as two separate parameters. #338 has the current proposal for how automatic detection might be implemented and still be overridable if the user chooses to.

[2017-05-08 00:49] #768 closed

[2017-05-08 01:03] mlorbetske commented on #769
This is because the `.template.config` directory is excluded in the defaults for sources rather than being globally ignored ([source](https://github.com/dotnet/templating/blob/39608eb0b341175d6e1cbcaba437c70d9d3bc006/src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/SimpleConfigModel.cs#L22-L32)). If instead of doing top level sources (which overrides the defaults), you used `modifiers` e

[2017-05-08 01:08] dansiegel commented on #338
I'm not sure how set in stone the template.json schema is. It would seem to me, if you could add a parameter to the schema that would allow the template generator to know it needs to go look for a project file and grab the root namespace that would certainly help.

[2017-05-08 01:12] mlorbetske commented on #698
@dansiegel we are the VS team for that too 😉 We're doing a bunch of work right now to provide a UI that can adapt to the options the template has available & some of those capabilities will flow back in to the web project creation (OneASP.NET) dialog. This could certainly be one of those capabilities.

[2017-05-08 01:24] dansiegel commented on #769
changing that up to use modifiers instead fixed the problem. Thanks @mlorbetske

[2017-05-08 01:24] #769 closed

[2017-05-08 03:06] dansiegel commented on #765
@mlorbetske is it possible to condition my post action scripts on the user specifically passing in `--allow-scripts yes`? I tried updating the logic to either: `"condition": "(AllowScripts)"` or `"condition": "(AllowScripts == \"yes\")"` and in both cases the generated help doesn't even show the allow-scripts symbol....

[2017-05-08 03:54] dansiegel opened #770 "Post Action Certificate Creation"
It would be highly valuable for a number of templates from UWP to Web to include a built in post action to create a self signed certificate for the project. In the case of UWP I believe this would need to also update the manifest while a web template wouldn't have such a requirement.

Having this as a built in post action would alleviate the need to write a custom script for each template requirin

[2017-05-08 04:01] mlorbetske commented on #338
Properties can be added as they won't be understood by older versions. However, the approach mentioned doesn't require a schema modification (it fits nicely within the existing extensibility model); it's also the approach used for port generation & has evolution steps planned to pretty up the syntax.

Moreover, for .NET Core, the namespace isn't usually defined in the project file, the tooling mak

[2017-05-08 04:07] mlorbetske commented on #765
The `allow-scripts` parameter isn't processed as a template parameter to avoid tampering with the value (imagine being able to set up a run script post action to format the user's hard drive & declare a duplicate symbol that would override the system's default). It would be possible for us to pass the value in to the template's parameter collection and ignore any mutation of that value when doing

[2017-05-08 04:11] mlorbetske commented on #770
The current plan of record (no timeline yet though) for this is to offer the ability to create a certificate as a standalone tool & to pass in the certificate to the template as a set of parameters. Once that works, we're playing around with the notion of pre-actions that would work just like post-actions with the exception that they'd be able to generate input values - effectively combining the s

[2017-05-08 04:12] mlorbetske commented on #765
WRT to --allow-scripts not showing up in help, @seancpeters, can you take a look at that?

[2017-05-08 04:20] dansiegel commented on #765
I'm thinking perhaps a better option here would be to evaluate a template one time like when I install or update the template. If I'm installing a template that has scripts it could alert me and ask me at that time do I want to be prompted each time allow the scripts or disable them. That way I don't get pestered every time I create a new template. Then if the template is updated it could be evalu

[2017-05-08 04:36] mlorbetske commented on #765
That's interesting. We'd have to think about the UX (do we show all possible things that could be run - possibly quite verbose vs that scripts may be run in general - not enough info/how this works once parameterization of post-actions is allowed/etc.) and get blessing from @blowdart, but I think that could make the prompting a bit less obnoxious.

Another option would be to make the prompt quad-s

[2017-05-08 06:09] mlorbetske opened #771 "Print a message when a template is discovered but is detected to be invalid"
We run in to this with testing all the time (others are running in to it as well, with #748 for example), we should really add some sort of messaging when the template artifacts are founds but the template isn't valid for some reason.

[2017-05-08 15:48] sayedihashimi commented on #771
+1

[2017-05-08 15:50] sayedihashimi commented on #749
FYI if the editor you're using has schema support but you're not seeing it try adding

[code]

As the first element in the `template.json` file.

[2017-05-08 15:50] #749 closed

[2017-05-08 15:51] sayedihashimi commented on #725
FYI the team is going to review this proposal tomorrow. If the community has any comments please let us know, ideally before tomorrow if possible.

[2017-05-08 15:51] sayedihashimi commented on #725
FYI the team is going to review this proposal tomorrow. If the community has any comments please let us know, ideally before tomorrow if possible.

[2017-05-08 15:57] sayedihashimi commented on #698
FYI we are having discussions with the team that owns the broader File->New Project experience to get 1st class support for Template Engine templates. Those discussions are more long term discussions. The discussions recently got started. I will keep you posted on progress.

[2017-05-08 16:15] dansiegel commented on #698
Since I'm on a Mac about 90% of the time, I do hope this is being done for VS for Mac as well? And hopefully we'll see a parallel or near parallel release?

[2017-05-08 18:09] seancpeters commented on #765
Regarding --allow-scripts not showing up in help, I haven't been able to reproduce the problem. From my testing, and examination of the code, --allow-scripts is displayed in the template help if-and-only-if the template contains a script running post action, i.e. a post action whose:
`"ActionId": "3A7C4B45-1F5D-4A30-959A-51B88E82B5D2"`

@dansiegel - Could you provide an example template.json conta

[2017-05-08 18:22] seancpeters commented on #765
For the issue of having to specify allow-scripts (or be prompted) on every invocation of a template, with #563 a user could setup an alias for a template with --allow-scripts yes as part of the alias specification. For example, if I have installed a template named 'foo', which has post action scripts, I could make an alias:
`dotnet new foo -a fooY --allow-scripts yes`

Then running `dotnet new foo

[2017-05-08 19:37] sayedihashimi commented on #698
@dansiegel everything that we do will target VS and VS4Mac from now on. In VS4Mac we have a lot of catch up to do so I'm not sure where it will land priority wise, but we are not in the business of developing VS specific tooling anymore.
From a template perspective we are already working with the VS4Mac team to integrate the Template Engine. That will first be happening for .NET Core projects but

[2017-05-08 20:15] dansiegel commented on #698
@sayedihashimi good to hear. With my templates targeting Xamarin I want to be sure that I can provide a first class experience regardless of platform. I'm happy to get you and the VS4Mac team the templates for testing.

More on topic for this thread though... any thoughts on my previous question:

[2017-05-09 16:45] MiloszKrajewski opened #772 ""dotnet new -i" downloads internet"
Hi,

First of all I need to say that I really like .NET templating. I really love the "running-template" approach. I have a question though. Should "dotnet new -i" download whole internet every time?

1. Steps

```dotnet new -i "dotnet-new-nspec::*"```

...and a lot of assemblies are being downloaded. Do it again:

```dotnet new -i "dotnet-new-nspec::*"```

and same assemblies are downloaded again

[2017-05-09 17:05] sayedihashimi commented on #772
This is already fixed in our dev branch and should be in the next release. In the next release install should be significantly faster than it was in the past. I'm going to close this issue because I think it's resolved. If I missed anything please reopen with details.

[2017-05-09 17:05] #772 closed

[2017-05-09 18:18] sayedihashimi commented on #669
We have the following auth types in the One ASP.NET dialog

 - Individual Auth
 - Work and School
 - Windows Auth

Is this issue specific to Individual Auth? If so, what about Win and Work & School?

[2017-05-09 19:53] mlorbetske opened #774 "Evaluate whether the change in #773 is needed after the next rev of EF"
This change may be able to be rolled back https://github.com/dotnet/templating/pull/773

cc @bricelam

[2017-05-09 20:30] bricelam commented on #774
Related to aspnet/EntityFramework#8164 & aspnet/DependencyInjection#524

[2017-05-09 21:22] dansiegel commented on #765
@seancpeters what I was trying to do was to avoid asking someone twice if they want to do a git initialization on the project by removing my initial symbol and making the post action conditioned on the AllowScripts flag being true. From the feedback that @mlorbetske gave, it sounds like that isn't currently possible and likely why it got ignored since it would always evaluate to false. I would be

[2017-05-09 21:29] danroth27 commented on #669
We should have the same auth options for Razor Pages that we do for MVC.

[2017-05-10 14:28] livarcocc opened #776 "Deepin15.2 dotnet restore failure"
_From @Hareis on May 10, 2017 13:37_

## Steps to reproduce
按照官方的教程安装的

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

areis@hareis-pc:/media/hareis/娱乐/CSharpSolution/myBlog$ dotnet restore
段错误
hareis@hareis-pc:/media/hareis/娱乐/CSharpSolution/myBlog$   Restoring packages for /media/hareis/娱乐/CSharpSolution/myBlog/myBlog.common/myBlog.common.csproj...
  Rest

[2017-05-10 18:52] mlorbetske commented on #776
Please run `dotnet new --debug:reinit`, this should cause the configuration to get rebuilt. The next time `dotnet new` runs, things should be back to normal.

[2017-05-11 01:09] Hareis commented on #776
@mlorbetske  按照你说的做了，但是这个错误，怀疑是这个deepin的底层去掉了某些依赖，导致的问题

[2017-05-11 17:52] mlorbetske opened #778 "Add $schema to all template files"

[2017-05-11 20:06] grokys opened #779 "dotnet new --install no longer works after update to VS15.2"
I recently installed the VS15.2 update which I assume also updated my version of `dotnet`. Now when I try to install templates using `dotnet new --install [path]` nothing seems to happen. Have things changed?

[2017-05-11 20:17] sayedihashimi commented on #779
Hmm that should work. We had a bug before where the if the path ended in a trailing slash the call wouldn't work. I think that was fixed though.
Let's see if @mlorbetske or @seancpeters have any ideas.

[2017-05-11 20:53] grokys commented on #779
Just to clarify, when I run the command it produces its usual output but doesn't seem to install my templates. The templates I'm trying to install are these: https://github.com/AvaloniaUI/avalonia-dotnet-templates

[2017-05-11 21:35] sayedihashimi commented on #779
Did you pass a relative path or full path? I just tried on Mac with `dotnet new -i .\` and that didn't work but when I passed `dotnet new -i /Users/sayedhashimi/mycode/avalonia-dotnet-templates` the new templates showed up.

[2017-05-11 22:05] grokys commented on #779
Ah the problem was indeed the trailing slash! I'm sure it used to work with a trailing slash before? Anyway, working now so closing - thanks.

[2017-05-11 22:05] #779 closed

[2017-05-12 02:00] dansiegel commented on #778
should the schema be added to otherwise empty host specs? [Sample](https://github.com/dotnet/templating/blob/rel/vs2017/3-Preview2/template_feed/Microsoft.DotNet.Common.ItemTemplates/content/Nuget/.template.config/dotnetcli.host.json)

[2017-05-12 02:02] mlorbetske commented on #778
I think that'd be good, but I'm not sure if we have host-specific schemas yet

[2017-05-12 02:04] dansiegel commented on #778
Yes there is a schema for dotnetcli.host and vs-2017.3.host

[2017-05-12 02:20] mlorbetske commented on #776
Sorry, I'm not sure I understand. Did running that command fix the issue?

[2017-05-12 03:12] mlorbetske commented on #778
Fixed in #780

[2017-05-12 03:12] #778 closed

[2017-05-12 03:16] Hareis commented on #776
@mlorbetske  没有的

[2017-05-12 04:04] mlorbetske commented on #776
@seancpeters can you take a look?

[2017-05-12 04:05] mlorbetske commented on #776
@Hareis if you do `dotnet new console --debug:ephemeral-hive` does it work?

[2017-05-12 04:12] Hareis commented on #776
@mlorbetske  没有截图 那是家里的电脑

[2017-05-12 04:50] dansiegel opened #781 "Azure Backend Api's"
# Problem
A very common issue I keep hearing from the Xamarin community is a complaint that the Microsoft.Azure.Mobile.Server project only supports the classic ASP MVC and not Net Core. This is also problematic because it prevents the development of solutions that need to run off the cloud in a purely Linux environment.

# Proposal
The new WebApi templates I believe would get you mostly there. I b

[2017-05-12 05:11] mlorbetske commented on #781
I'm not very familiar with the particulars here, let's see what @sayedihashimi and @mhutch think is the best way to proceed

[2017-05-12 17:56] sayedihashimi opened #782 "Add descriptions to all elements in the schema"
We have the following json schema files:

 - https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/template.json
 - https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/dotnetcli.host.json
 - https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/vs-2017.3.host.json

We should add descriptions to all fields.

[2017-05-12 18:08] sayedihashimi commented on #781
Seems like a great idea. Shouldn't this issue be on the https://github.com/Azure/azure-mobile-apps-net-server repo though? We've enabled all the features they need to create this template.
With that said, if they are not interested in creating these templates then my team may be interested. I'd like to see if they are up for it though first. Thoughts?

[2017-05-12 18:18] seancpeters commented on #776
@Hareis
Please run this command and copy the output here:
`dotnet --info`

Also, please run this command and copy the output here:
`dotnet new --debug:showconfig`

[2017-05-12 18:19] sayedihashimi commented on #781
FYI related I found https://github.com/Azure/azure-mobile-apps-net-server/issues/215

[2017-05-12 19:41] dansiegel commented on #781
@sayedihashimi I actually had raised the issue Azure/azure-mobile-apps-net-server#210 the other issue is actually a duplicate. It had also been raised here Azure/azure-mobile-apps-net-server#97. It would seem that they previously decided that it wasn't something they were going to pursue in that issue and also looks like Adrian is no longer with Microsoft so I'm not sure what's going on with the p

[2017-05-13 00:37] dansiegel opened #783 "Template files getting renamed"
One of my templates has several image assets named `Icon@1x.png`, `Icon@2x.png`, etc. I'm not sure when/where this bug came from but the actual assets are being renamed in a url safe name `Icon%401x.png`, `Icon%402x.png`, etc.

None of the files in that directory should be getting renamed at all. This is using dotnet cli v 2.0.0-preview2-006062 with just `dotnet new`

[2017-05-13 18:14] mlorbetske commented on #783
If you look in the nupkg, do the files have the encoded names?

[2017-05-13 18:17] #353 closed

[2017-05-13 18:52] sayedihashimi opened #785 "[docs]: Populate Available Parameter Generators"
I've created a new wiki page for the [Available Parameter Generators](https://github.com/dotnet/templating/wiki/Available-Parameter-Generators). We should document the current generators there. The list of generators is at https://github.com/dotnet/templating/tree/rel/vs2017/3-Preview2/src/Microsoft.TemplateEngine.Orchestrator.RunnableProjects/Macros/Config

[2017-05-13 21:03] peterblazejewicz opened #786 "Bundling/minifying CSS/JS in 2.0 preview released templates"
The `mvc` and `razor` templates ship with `bundleconfig.json` but I think the integration is broken. I'm not using VS. The 2.0 uses blank platform meta package dependency `Microsoft.AspNetCore.All` and cli tool for Secret manager tool `Microsoft.Extensions.SecretManager.Tools` and that's all. Whenever I made a changes in content client code (JS, CSS that is) I would expect new minified version to

[2017-05-14 00:35] mlorbetske commented on #786
@glennc @madskristensen thoughts?

[2017-05-14 06:27] RehanSaeed opened #789 ".NET Core 2.0 Preview 1 Tooling Breaks Symbols"
Using the `dotnet new` 2.0 Preview 1 tooling causes all code wrapped in symbols to disappear even if they are selected for output. Putting a global.json file in the folder pointing to the 1.0.4 tooling makes it work again. What changes actually made it out to 2.0 Preview 1 if any and are there any breaking changes?

[2017-05-14 06:51] mlorbetske commented on #789
Most of what went in to preview 2 were feature adds, 1.x/2.0 side by side work (unifying 1.x & 2.0 templates visually) - there should be no breaking changes. Are you seeing this for all file types or just some?

[2017-05-14 07:26] RehanSaeed commented on #789
It's for the `#region (Kestrel)` symbols used in my template. Give it a try by adding [this](https://github.com/ASP-NET-Core-Boilerplate/Templates/tree/master/Source/Boilerplate.Templates/Content/ApiTemplate) folder and notice that Kestrel is selected by default but is totally removed in the Program.cs file with 2.0 but adding a global.json file pointing to 1.0.4 fixes the issue.

[2017-05-14 07:56] mlorbetske commented on #789
Thanks for the repro, tracking down the exact cause still. We've been trying to replace our C++ evaluator with something more maintainable & stable for quite a while (it's been running all the same tests to make sure the weren't regressions) & we partially cut over to it (only for configuration condition processing) in 2.0.0 preview 1. Something appears to have slipped through in the way it deals

[2017-05-14 09:14] mlorbetske commented on #789
Found the issue:

Kestrel gets defined as a symbol with value true in the first evaluation stage.

Phased evaluation starts (so that computed symbols don't have special ordering considerations) - essentially it starts looping & re-evaluating until things stabilize.

The value "Kestrel" gets treated as "true" in the next pass which creates a comparison "Kestrel" == "true", which evaluates to false.

[2017-05-14 12:53] RehanSaeed commented on #789
So does that mean 2.0 is a write-off as far as `dotnet new` is concerned? I'll have to add  a note or something to users explaining how to add a global.json file. Perhaps `dotnet new` templates should be able to target particular versions of tooling to avoid problems like this.

[2017-05-14 16:40] mlorbetske commented on #789
No, this will be fixed in the next preview and before then in the public nightly builds of the CLI. Templates can target version ranges of the generator (that was introduced in this release as well) via a property in template.json like this   "generatorVersions": "[1.0.0.0-*)" - @seancpeters can speak to the allowed syntax. The version number being checked is the value of the AssemblyFileVersion a

[2017-05-14 17:03] mlorbetske commented on #789
[This line](https://github.com/dotnet/templating/blob/9703a93a90c6cb91e4d265857c54963102c27ef6/src/Microsoft.TemplateEngine.Core/Expressions/Cpp2/Cpp2StyleEvaluatorDefinition.cs#L80) is the cause of the problem. Dereferencing in literals is currently turned on for C++ style expressions. Turning it off & running the test battery, I'll also be verifying with your template - would you mind if we add

[2017-05-14 17:27] mlorbetske opened #791 "a call to help prevent regressions"
Would anyone be interested in adding their templates to our creation test battery?

As part of the local and CI build processes, we run a bunch of tests to ensure that content is being generated properly. Essentially, we have a Theory type test that maps command lines for instantiation of templates to JSON files that lists the expectations on what gets created on disk. It's a relatively primitive

[2017-05-14 17:27] sayedihashimi opened #792 "Error when passing a param with a space"
I'm getting an error when I pass a parameter with a space.

Below I tried various different ways of calling the command and it just fails when there is a space. This happens for built in and custom parameters for me. I have only tried on Mac thus far.
[code]

[code]

[2017-05-14 18:46] peterblazejewicz opened #794 "--dry-run option: a run through without making any changes [discussion-only]"
I'd like to propose that option to make a command no-op is added to available options/switches. As the list of options grows there is a greater chance to make wrong output. I acknowledge existence of `--force` option and default no-override behavior, but `--dry-run` has usually different behavior.
This option is usually set to `false` by default has various aliases:
`--dry-run`
`-d`
`--dryRun`
Hav

[2017-05-14 19:00] mlorbetske commented on #794
It looks like this would be pretty easy to do, the relevant logic is already [here](https://github.com/dotnet/templating/blob/9703a93a90c6cb91e4d265857c54963102c27ef6/src/Microsoft.TemplateEngine.Edge/Template/TemplateCreator.cs#L74-L75), just a matter of exposing a switch & splitting out the logic (and not only showing "destructive" type changes).

[2017-05-14 19:01] peterblazejewicz opened #795 "Razor pages template is missing jQuery.Validate unobtrusive minified bundle file"
The shipped Dotnet 2 Preview tool is missing minified file in Razor pages. I've got this error when being offline (I'm intrigued by the @Pages, so I'm poking here and there):

Other templates have that minified content.
https://github.com/dotnet/templating/tree/rel/vs2017/3-Preview2/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/RazorPagesWeb-CSharp/wwwroot/lib/jquery-validation-u

[2017-05-14 19:04] peterblazejewicz commented on #795
and BTW other team in MS has missed publishing it to NPM as well:
https://unpkg.com/jquery-validation-unobtrusive@3.2.6/jquery.validate.unobtrusive.js
https://unpkg.com/jquery-validation-unobtrusive@3.2.6/jquery.validate.unobtrusive.min.js

[2017-05-14 19:05] sayedihashimi commented on #794
I don't think that we've discussed this but I think it's a great idea. PowerShell has built in support for `--whatif`, and this is very similar to that. It would also be nice to have support for `--install`/`--uninstall` to see what templates will be added/removed.

[2017-05-14 19:33] mlorbetske commented on #656
This is fixed in preview 1

[2017-05-14 19:33] #656 closed

[2017-05-14 20:55] #795 closed

[2017-05-15 08:21] RehanSaeed commented on #789
`generatorVersions` is a sensible addition. If I specify the older 1.1.1 CLI version will that work? How does it work? Does it just error if you use the wrong dotnet cli version or does it handle using the correct version itself? It should be documented in the [wiki](https://github.com/dotnet/templating/wiki/%22Runnable-Project%22-Templates) along with current CLI versions.

[2017-05-15 15:11] madskristensen commented on #786
Installing the `BundlerMinifier` NuGet package will automatically run the bundleconfig.json on build. Just install it and build your project.

[2017-05-15 16:25] mlorbetske commented on #789
It's not the CLI version, it's the version of the runnable project generator assembly. For versions before the one that supports it, specify a max version of 1.0.0 (exclusive). We'll be documenting this on the wiki soon, though it should be captured & documented in the JSON schema already.

[2017-05-15 16:30] dansiegel opened #797 "Web Templates"
The new templates have quite a bit more going on than templates in the past, which is a good thing. However, if I create a new project like `dotnet new webapi -au Individual` the current result is a little less than desirable.

If I do `dotnet run` I get the following error
[code]

If I try to deploy to an Azure Web App I get the following error:

[code]

The templates really could use some sort o

[2017-05-15 17:23] sayedihashimi commented on #797
Do you have the `ASPNETCORE_ENVIRONMENT` set to `Development`? That should help.

cc @danroth27

[2017-05-15 17:49] #789 closed

[2017-05-15 18:04] sayedihashimi commented on #785
I've added a bunch of content to https://github.com/dotnet/templating/wiki/Available-Parameter-Generators. I think we are good for the time being. Closing for now. If any community members would like to improve that is welcome.

[2017-05-15 18:04] #785 closed

[2017-05-15 18:36] peterblazejewicz commented on #786
Mads, thanks! I'm aware about those tools.
The problem is that I cannot make them work witn 2.0 preview version.

### Using `BuildBundleMinifier` in 2 Preview does nothing

[code]

### using `BundleMinifier.Core` does nothing on build as well

[code]

### Using `BuildBundleMinifier` under 1.1 version produces expected output and is visible in terminal immediately:

[code]

Except of actual minific

[2017-05-15 21:10] dsplaisted opened #799 "Rename "Unit Test Project" to be better describe it"
_From @davkean on November 17, 2016 5:27_

It's confusing that there's a project called "Unit Test Project" and "xUnit Test Project" - can we rename the former to better indicate that it's MSTest based:

![image](https://cloud.githubusercontent.com/assets/1103906/20377349/ba3ee9d2-ace2-11e6-8004-73cf1bff44c5.png)

_Copied from original issue: dotnet/sdk#402_

[2017-05-15 21:10] dsplaisted commented on #799
_From @pvlakshm on November 22, 2016 9:17_

This is a convention that has been in use across various app platforms, and over multiple releases of VS. Therefore, recommend retaining it as-is.

[2017-05-15 21:10] dsplaisted commented on #799
_From @davkean on November 22, 2016 9:18_

The difference between this release and last, is that there is another unit test project with the same name barring one letter.

[2017-05-15 21:10] dsplaisted commented on #799
_From @singhsarab on November 22, 2016 9:39_

@codito Please share your thoughts ?

[2017-05-15 21:10] dsplaisted commented on #799
In VS 2017 we are renaming the templates that were "Class Library" and "Console Application" to "Class Library (.NET Framework)" and "Console Application (.NET Framework)".  So I think it makes sense to also rename the unit test templates to disambiguate them too.

[2017-05-15 21:10] dsplaisted commented on #799
_From @singhsarab on November 23, 2016 12:46_

I agree with @dsplaisted, we should make them consistent.
Regarding the other concern, I guess changing the icon for Xunit template should help.
@bradwilson Can you please help us with icon for Xunit template.

[2017-05-15 21:52] danroth27 opened #800 "Consider adding an option to the MVC auth template that only does cookie auth without OIDC"
We had some requests to provide an option for only doing cookie auth with the OIDC stuff:

https://github.com/aspnet/Identity/issues/1187#issuecomment-301602256

We should see based on the preview1 feedback how many folks want this and react accordingly.

Daniel Roth

[2017-05-15 21:56] bradwilson commented on #799
@dsplaisted  Our [media repository](https://github.com/xunit/media) contains appropriate logos in [PNG](https://github.com/xunit/media/blob/master/logo-512-transparent.png) and [SVG](https://github.com/xunit/media/blob/master/logo-transparent.svg) format.

[2017-05-15 22:04] Ponant commented on #800
Somewhat related (feedback on preview 1)
https://github.com/aspnet/tooling/issues/1040
https://github.com/aspnet/tooling/issues/1041

[2017-05-15 22:07] dansiegel commented on #797
That was the result with `ASPNETCORE_ENVIRONMENT` set to `Development`

[2017-05-15 22:11] danroth27 opened #801 "OpenID appears in tfp/IdentityService/Manage/ManageLogins VS 2017 15.3 Preview 1"
_From @Ponant on May 14, 2017 21:29_

OpenID appears as button in the ManageLogins for a registered user in ASP.NET Core 2.0 in-app Identity whereas it is not expected, a priori.
Furthermore, clicking on this button leads to the Server Error `The view 'AccessDenied' was not found. `

_Copied from original issue: aspnet/Tooling#1040_

[2017-05-15 22:20] danroth27 commented on #797
Yup, this is a big gap in Preview 1 that we don't have an easy way to setup a development certificate for HTTPS on non Windows platforms. You have to setup one manually using openssl (see https://go.microsoft.com/fwlink/?linkid=848054).

For Preview 2 we plan to provide tooling that you run once to setup a development certificate for local HTTPS development.

[2017-05-15 22:23] davkean commented on #799
@dsplaisted Why was this put in templating? The templates live in project-system.

[2017-05-15 22:29] dansiegel commented on #797
If the local environment will be taken care of in Preview 2 that will be helpful. But still would be good to provide some documentation / checklist for here's what you need to do before deploying to a remote server like Azure/IIS/Linux

[2017-05-16 01:53] mlorbetske commented on #799
Yep, the contents live here but the VSTemplate file that hooks it in to VS is over there. Moving the issue.

[2017-05-16 01:53] mlorbetske commented on #799
This issue was moved to dotnet/project-system#2183

[2017-05-16 01:53] #799 closed

[2017-05-16 05:23] danroth27 commented on #797
Yup, will do: https://github.com/aspnet/Docs/issues/3367

[2017-05-16 15:57] mlorbetske opened #804 "Bump assembly version with the CI build number"
We already set the assembly file versions, so there's infrastructure for it.

[2017-05-16 16:26] RehanSaeed commented on #797
Why not include the pfx certificate in the template instead of creating one. It's self signed certificate so it will show red a security warning but that's totally expected. If the worry is that many people will have trusted the certificate, it should still show red in the browser address bar.

[2017-05-16 16:55] danroth27 commented on #797
@RehanSaeed We've been trying really hard to avoid putting certificates in the project because we think it's an anti-pattern. In general, certificates should be carefully protected and not put in source control.

[2017-05-16 17:05] dansiegel commented on #797
@danroth27 couldn't agree more that putting certificates in source control is generally a bad thing. That said the issue I wanted to highlight was that we currently have a poor developer experience.

From the perspective of being able to go from `File -> New` or in this case `dotnet new`, to having something running it wouldn't be a horrible thing imho to have a self signed cert included until the

[2017-05-16 18:49] danroth27 commented on #797
Instead of using a .pfx in the project we will be improving the experience in preview2 by providing xplat tooling for generating a development HTTPS certificate into the current user store.

[2017-05-16 18:52] dansiegel commented on #797
@danroth27 I would hope that the tooling provided would work for generating a temporary certificate for a UWP template as well.

[2017-05-16 20:43] mhutch opened #806 "Configurable cache location"
Instead of the `~/.templateengine/{HostName}` cache location, it would be great if it were configurable by the host.

On VS for Mac, for example, we have an existing cache directory in the more idiomatic location `~/Library/Caches/VisualStudio/7.0`. Similarly in MonoDevelop for Linux, we follow the XDG convention and use `${XDG_CACHE_HOME:-$HOME/.cache}/MonoDevelop/7.0`.

It would be great to be a

[2017-05-17 05:26] dasMulli opened #809 "Can't get coalesce feature to work."
Been playing around with this for a few hours but can't get it to work - I tried to make a global.json template that falls back to the host cli version if no override is set. I did this by copying from how the kestrel port generation is implemented, but haven't been able to get it to work (using the "final" 2.0.0 preview1 build):

[code]

The `"replaces": "1.0.0"` works great on the other two symb

[2017-05-17 07:43] mlorbetske commented on #809
This is due to the explicit registration that currently happens in the dotnet CLI of components used by the engine - the registration of the new component that handles this was missed. In 2.0.0 Preview 2, this will be changed to dynamic discovery, so this should be picked up. You can try this out now by building this repo & trying it with `dotnet new3`.

[2017-05-17 15:17] snebjorn opened #811 "Case-sensitive issue with sources/modifiers"
This is probably related to #398

If the condition compares a string, then only lower case strings will work.

The below will fail.
[code]
Lower casing Core and Full works. Is this intended?

[2017-05-17 20:33] DamianEdwards opened #813 "Add project templates for ASP.NET Core 2.0 apps running on .NET Framework"

[2017-05-17 21:19] dansiegel commented on #783
@mlorbetske the names of the files in the nupkg don't appear to be encoded

[2017-05-17 21:37] mlorbetske commented on #813
The 2.0 templates already support passing full framework TFMs via TargetFrameworkOverride (the same mechanism for 1.x) - this option is currently filtered out in the VS UI. Is there more to do here than just not hide them?

[2017-05-17 21:38] mlorbetske commented on #811
@seancpeters any ideas?

[2017-05-17 21:40] seancpeters commented on #811
Strange, I'll take a look.

[2017-05-17 22:08] DamianEdwards commented on #813
Yes, the templates will require other changes, e.g. the packages referenced.

[2017-05-17 22:38] seancpeters commented on #792
This will be fixed with #814

[2017-05-17 23:11] seancpeters commented on #811
@snebjorn,
I'm unable to reproduce the behavior described. Can you copy-paste an entire template.json that is configured in a way that causes the problem, and the exact command you're running to instantiate the template? If you have a dotnetcli.host.json file for the template, please paste its contents here also.

Thanks!

[2017-05-18 06:15] #792 closed

[2017-05-18 06:18] mlorbetske commented on #804
Fixed in #808 - @phenning is working on getting the pkgdef to have appropriate binding redirects for VS

[2017-05-18 06:18] #804 closed

[2017-05-18 11:09] snebjorn commented on #811
Sure.

This is the troublesome part: (the entire thing is further down)
[code]
When I run `dotnet new3 mytemplate foofolder` both paths are excluded.

Now that I think about it. I might be running an older version. I can see my clone is 72 behind the master. I'll try to reinstall and see if that helps.

template.json
[code]
dotnetcli.host.json
[code]

[2017-05-18 17:22] anurse opened #823 "Drop a gitignore file as part of project/sln templates"
My workflow for creating a new project with `dotnet new` is generally something like this:

1. `mkdir MyNewProject`
2. `cd MyNewProject`
3. `dotnet new console`
4. `git init`
5. Browse to github.com/github/gitignore
6. Find `VisualStudio.gitignore`
7. Click "Raw"
8. Copy the content
9. Edit a new `.gitignore` file in the repo
10. Paste
11. Save

(I only recently realized that I could use `dotnet n

[2017-05-18 18:57] livarcocc opened #824 "Can't Install templates in 2.0.0preview1 with dotnet new -i"
_From @JonathanLoscalzo on May 18, 2017 18:3_

## Steps to reproduce

### Expected behavior
The CLI downloads the templates, and reports installing them, then lists them in the available templates for "dotnet new"

### Actual behavior
After a time, show list of Templates, but not install any:
$ dotnet new --install Microsoft.AspNetCore.SpaTemplates::*

## Environment data

_Copied from original is

[2017-05-18 19:51] sayedihashimi commented on #824
Can you try with quotes:

    dotnet new --install "Microsoft.AspNetCore.SpaTemplates::*"

[2017-05-18 20:04] JonathanLoscalzo commented on #824
- With quotes or without, it's the same behavior.
 - Running the terminal "as Administrator"
Have "-install" got a Verbosity, -v, or similar option?

[2017-05-18 20:08] JonathanLoscalzo commented on #824
#https://github.com/aspnet/JavaScriptServices/issues/948
#https://github.com/aspnet/Announcements/issues/243

Maybe, issue will fix in 2.0.0.preview2?

[2017-05-18 20:45] sayedihashimi commented on #823
It seems for .NET projects that the git repo is at the solution level not the project level. Are you suggesting an optional switch to add git support or suggesting it should be the default? I like the idea of having this behind a command line switch, but I'm not sure if it should be the default.

Alternatively, we can add Item Templates for .gitignore/.gitattributes. We don't have a good experienc

[2017-05-18 21:06] seancpeters commented on #811
@snebjorn I'm still unable to reproduce the problem against a current new3 build, so I'd say it's most likely the result of an old bug that has since been fixed.

One thought I had was if those conditionally excluded folders have no files in them in the template source, that would cause them to be always excluded. But as you'd mentioned, with lower-casing, the behavior is as expected, so that shou

[2017-05-19 05:04] mlorbetske commented on #809
The change fixing this has made its way into CLI with https://github.com/dotnet/cli/pull/6629

[2017-05-19 05:04] #809 closed

[2017-05-19 05:05] mlorbetske commented on #774
This has been fixed with #826

[2017-05-19 05:05] #774 closed

[2017-05-19 09:05] snebjorn commented on #811
Thanks for the quick feedback. I can confirm that it works in the current released CLI (1.0.4) when using `dotnet new` (not new3).
But it seems I broke the new3 install, so I can't confirm if it's working there. But I assume :) So I'm closing the issue.

[2017-05-19 09:05] #811 closed

[2017-05-19 09:54] snebjorn commented on #824
I have a similar issue when installing my custom template running the current master and using new3.

## Steps to reproduce

### Expected behavior

The CLI reports installing it, then lists it in the available templates for "dotnet new3"

### Actual behavior

Doesn't install my template.
Doesn't show any error message.

## Environment data

[2017-05-19 11:02] dasMulli commented on #233
I'd have a global.json template at https://github.com/dasMulli/global.json-template/tree/master/DasMulli.Templates.GlobalJson/content/GlobalJson

If there is interest, i could contribute it to the item templates in this repository.

[2017-05-20 05:36] mlorbetske commented on #233
@davidfowl global.json item template for dotnet new - thoughts?

[2017-05-20 15:13] vRITHNER opened #837 "AddOpenIdConnectAuthentication doesn't work with 2.0.0-preview2-25108"
Hi,
FYI, any app I try to create with aspnetcore 2.0.0 then upgrade to 2.0.0-preview2-25108
doesn't work anymore with OpenIdConnectOptions
ex: the sample showned at build with IdentityService doesn't run anymore.

Even If I workaround the template code with :

Result:

env.  info::

[code]

Txs

[2017-05-20 17:03] mlorbetske commented on #837
@danroth27 thoughts?

[2017-05-20 23:16] JonathanLoscalzo commented on #824
No problem in Ubuntu :+1:

[2017-05-21 17:50] peterblazejewicz opened #840 "Bower package manager migration while in maintenance"
Hi folks,
Just to let you know, the Bower package manager tool has been put into maintenance mode officially:
https://github.com/bower/bower/commit/0bd318de53daf9dc3b52bfd7bc753d4d2c2c9948
The related issues was closed on the Bower project discussion list:
https://github.com/bower/bower/issues/2298
The templates ships with Bower configuration and implicit dependency (as precaution the dependencies

[2017-05-21 19:13] mlorbetske commented on #840
I mentioned this to @madskristensen yesterday as well. This seems like as good a place as any to start the discussion on what the plan for client side package management should be going forward.

[2017-05-21 22:41] enricosada commented on #233
yes, please.

Is really useful to teach how to create templates (`dotnet new template`).
Awesome if this contains also props to show things (how to add a prop, how to add a conditional in source file, or csproj/fsproj).
So more a guidance, but working

[2017-05-22 17:09] mlorbetske commented on #791
The basic infrastructure for this is out for PR as https://github.com/dotnet/templating/pull/838. Feel free to comment on what capabilities should be added.

[2017-05-23 00:04] dansiegel opened #846 "Environmental Conditions"
It would be fantastic if we could evaluate the developer environment when deciding certain things for a template. Specifically say I want to customize the template based on an IDE extension that the user may have in VS or VS4Mac.

As an example, say the user has MFractor installed in VS4Mac and we're creating on the Mac then I might want to include the ValueConverionAttribute in the template, and

[2017-05-23 02:01] dansiegel opened #847 "Sort & Remove"
It would be super helpful to clean up both the templates and generated output if a sort was added to the namespace imports as well as removing any duplicate namespaces. This would simplify templates since you could just focus on making sure that your conditions import all of the namespaces you need for that single condition without worrying about what the possible combinations are with your symbol

[2017-05-23 03:29] mlorbetske commented on #847
This is a duplicate of #633

[2017-05-23 03:29] #847 closed

[2017-05-23 03:36] mlorbetske commented on #846
I think this is interesting, but more of a host concern. When an engine host is configured, an object that provides default values/preferences is passed in. If an extension were to register with the service that set these defaults to indicate its presence & templates were built to check for whatever value the extension is supplementing the defaults collection with, this would already work (in the

[2017-05-23 03:37] dansiegel commented on #633
@mlorbetske I think it would be safe as a default if duplicates were automatically removed. That would seem to resolve the issue that @RehanSaeed and I both have with our templates. Only removing unused namespaces should be an opt in feature... and I would say more often than not I'm adding some extra namespaces to make life easier when you start coding.

[2017-05-23 09:05] vRITHNER commented on #837
FYI, I just made a new test with the following steps:
-From VS2017 enterprise preview: `add new web app core 20 identity individual`
-I can see the version today is: "2.0.0-preview2-25149"
-`dotnet restore`
-F5 or `dotnet build -c debug` + `dotnet run -c debug` give the same issue

[2017-05-23 10:04] SteveSandersonMS opened #849 "Can't use 'script' post action to run 'npm install'"
Glad to see the improved postActions support!

I've tried to add this to the ASP.NET Core SPA templates. The postAction for `dotnet restore` works well, but I've not succeeded in configuring a `postAction` to run `npm install`.

With this config:

[code]

... it instantly fails with this error:

[code]

... even though running `npm install` manually in the same command line works fine.

I think th

[2017-05-23 15:04] mlorbetske commented on #849
@SteveSandersonMS let's chat about this as soon as possible. For VS, our ability to easily make changes for preview 2 ends tomorrow at 6 pm, for CLI it's on Friday I believe. Is the intention to ship the spa templates with VS or CLI or both?

@phenning @seancpeters

[2017-05-23 15:10] SteveSandersonMS commented on #849
Both, but it's less important to have the `npm install` postAction in the VS host, because VS natively restores NPM packages anyway. It matters more with the CLI, where NPM packages aren't automatically restored.

I'm available via email or Skype.

[2017-05-23 16:06] neman opened #850 "How to exclude .vs folder from template"
I tried to exclude .vs folder from template following instructions at https://github.com/dotnet/templating/wiki/%22Runnable-Project%22-Templates#sourcesexclude-optional
but it does not work.

If I enter  "exclude": ".vs/**/*" I got following error:
[code]

SDK is 1.0.4

[2017-05-23 16:17] mlorbetske commented on #850
The issue you're seeing is that if the value of one of the include/exclude/copyOnly properties is a string (rather than an array), it's assumed that the string is a file that contains a list of newline separated patterns.  In the case that you're setting the exclude property on sources, it overrides the defaults, whereas you're looking to exclude something additional. Modifiers is the thing to use

[2017-05-23 17:54] mlorbetske commented on #837
@javiercn any ideas what the value of clientId should be in the case of the in-app STS?

[2017-05-23 18:24] mlorbetske commented on #849
Ok, all caught up with context. Since there'll be a 2.0 flavor of these templates (and we only plan to include the 2.0 version), then all we have to do is to set up the insertion into CLI & make sure the VS metadata is set correctly. Please work with @phenning to get the VS metadata in place. Once a new package version for the templates carrying the 2.0 bits & VS artifacts, we'll be able to do tha

[2017-05-23 18:30] neman commented on #850
Ok, I added that way, now there is no error, but I have .vs folder inside my generate project.
![image](https://cloud.githubusercontent.com/assets/350314/26369991/ad9a1b3c-3ff6-11e7-955b-659ad6902e67.png)

[2017-05-23 18:47] mlorbetske commented on #850
@seancpeters ideas? This is the 1.x CLI

[2017-05-23 19:02] mlorbetske commented on #770
Related to https://github.com/aspnet/DotNetTools/issues/296

[2017-05-23 20:18] neman commented on #850
I forgot to mention that this is a multiproject template.

I also tried to exclude Logs folder, which resides within some project in src folder like this
[code]
with no effects

[2017-05-23 20:59] seancpeters commented on #850
@neman - could you post the entire "sources" section of your templates?

[2017-05-23 22:22] mlorbetske commented on #837
I talked this over with @javiercn offline. He's indicate that this is because a lot of the APIs have changed between preview1 and the build you're using. There's a bunch of changes/simplifications coming that will require changes to the templates.

[2017-05-23 22:22] #837 closed

[2017-05-23 22:33] seancpeters commented on #849
@SteveSandersonMS
Without creating a specific npm install post action, if we could come up with a set of process start post action configurations that each correctly run on some platform(s), and collectively cover all targeted platforms, then we could set them up with platform-based conditions on the post actions so that only the appropriate one runs on each platform.

Something like:
[code]

[2017-05-23 22:48] SteveSandersonMS commented on #849
@seancpeters Thanks for looking into it!

Having a set of platform-specific configs would be an OK stopgap measure. I know time is very tight. But is there a reasonable way to do it on Windows at all? The closest I got was the `cmd /c "npm install"` approach, which is not really viable since it provides no progress feedback on a process that can take minutes. I think it would be better to go back

[2017-05-23 23:02] seancpeters commented on #849
Regarding the problem of the output not being displayed until the end, I'm currently writing up a change to the script handler post action that reads the command stdout & stderr async, and reports it to the console. If I can get that working, we may be in business.

[2017-05-24 03:19] neman commented on #850
This is entire `sources` section. There are no additional options. I was fine with defaults and just wanted to add modifers to default.

[2017-05-24 04:54] MicahZoltu opened #852 "Do not put files in %USERPROFILE% on Windows."
Related to #806

On Windows, dotnet templating should be a good citizen and follow Microsoft recommendations for folder locations.  Currently it appears a folder called `.templateengine` in `%USERPROFILE%`.  `%USERPROFILE%` should _NOT_ contain any files that the user doesn't put there themselves aside from the OS defaults.  `%USERPROFILE%` is where the _user_ puts files, e.g., via a save dialog b

[2017-05-24 05:20] livarcocc opened #853 "Suppress creation of Class1.cs file when running dotnet new <type> --force"
_From @brunzefb on May 24, 2017 3:2_

When converting an old-style .csproj to dotnet core/standard, I typically run 'dotnet new classlib --force' from cmd line to re-create the .csproj file.  If other .cs files are detected in the folder or subfolders, the creation of the Class1.cs file should be suppressed, as it useless.  For a new project, it is useful to have, but not when using --force.

## S

[2017-05-24 07:58] neman opened #855 "Installing template from Nuget throws error"
When I try to install any template from nuget.org, I got the following error:
[code]

![image](https://cloud.githubusercontent.com/assets/350314/26392366/a5d6c132-4066-11e7-9d71-c573587ec9ca.png)

C:\> dotnet --info
[code]

[2017-05-24 17:17] SteveSandersonMS commented on #849
@seancpeters Does that approach look like it's going to work out?

Also, do you know whether the VS host will honour and execute the script postActions, or is that only a CLI concept?

[2017-05-24 17:37] seancpeters commented on #849
@SteveSandersonMS - I've got it basically working so the script running console output is reported to the console in real-time. But I haven't been able to capture output if the post action runs `cmd <whatever>`

[2017-05-24 17:38] seancpeters commented on #849
VS can run post actions, but the implementation is host-specific. So there can be cases where the CLI implements certain post actions, and but VS does not, or vice-versa.

[2017-05-24 17:55] SteveSandersonMS commented on #849
Great, thanks for the update.

Is there a plan then for how a postAction could be usable to invoke `npm install`, or preferably also other `npm` commands like `npm run {task}`? @mlorbetske

OK. I know it might not be your area of work, but do you happen to know if VS does implement the "script" postAction in particular?

[2017-05-24 18:20] seancpeters commented on #849
No, VS doesn't currently implement the script running post action.

[2017-05-24 22:31] seancpeters commented on #850
@neman I believe I see the problem now. The modifiers needs to be an array, like this:
[code]
Please let us know if that works for you, or if it's still causing problems. Thanks!

[2017-05-24 23:25] mlorbetske commented on #849
The current plan is this (barring major objections):
- For now, we'll just message that `npm install` needs to happen (turning off the messaging for VS which will do the restore automatically) - VS2017.3 Preview 2
- We'll fix up the execute script post-action to be able to handle batch files appropriately on Windows (we've got some ideas on how to do this & there's prior art) - VS2017.3 Preview 3/

[2017-05-25 00:00] mlorbetske commented on #853
I don't think that conditionally emitting a part of the template based on what is or is not on disk in the target location is the right move - as the template is intended to be a coherent set of content to be used as a starting point. In non-trivial cases where it's just class library or console app where it's one code file plus the project file, there can be worse side effects (overwriting custom

[2017-05-25 00:04] mlorbetske commented on #855
Please check to see whether `%userprofile%\.dotnet\NuGetFallbackFolder` exists. If it does not, there are two options - either create the folder (it's fine if it's empty) or update `%appdata%\NuGet\NuGet.config` to not reference that folder.

[2017-05-25 00:31] neman commented on #855
Great! For some reason, there was no .dotnet folder at all. I know I had it, but somehow I probably manage to delete it.
When I created `%userprofile%\.dotnet\NuGetFallbackFolder` everything went fine.

[2017-05-25 00:31] #855 closed

[2017-05-25 00:56] neman commented on #850
It's working now. Good troubleshooting (how in the world did I miss that square bracket)

[2017-05-25 00:56] #850 closed

[2017-05-25 04:52] srivatsn opened #856 ".Net Core class library template actually creates .Net Standard class library"
_From @richaverma1 on May 19, 2017 22:34_

The template for .Net Core class library incorrectly creates a .Net Standard class library. This is on 15.3 internal preview

_Copied from original issue: dotnet/project-system#2247_

[2017-05-25 04:52] srivatsn commented on #856
_From @jmarolf on May 19, 2017 22:42_

@richaverma1 what version of the SDK do you have installed?

[2017-05-25 04:52] srivatsn commented on #856
This turned out to be an issue in the templating engine and fix is being prepared. Moving to the dotnet\templating repo

[2017-05-25 05:59] dasMulli opened #858 "Naming of unit test project templates"
The MSTest and xUnit templates are currently named:

* Unit Test Project (.NET Core)
* xUnit Test Project (.NET Core)

This is confusing since you don't see the difference between these two (e.g. [SO Question](https://stackoverflow.com/questions/44165832/visual-studio-2017-unit-test-project-vs-xunit-test-project)).

They should be renamed to clearly indicate that one uses MSTest. For example:

* U

[2017-05-25 06:01] mlorbetske commented on #625
This will be fixed in #857

[2017-05-25 06:04] mlorbetske commented on #858
@srivsatn @singhsarab would you be OK with this name change?

[2017-05-25 06:07] mlorbetske commented on #669
@phenning could you drive this please?

[2017-05-25 06:09] mlorbetske commented on #704
@sayedihashimi is this something we want to do? If so, where does this fit in in terms of the other things?

[2017-05-25 06:21] mlorbetske commented on #776
Are you still running in to this?

[2017-05-25 06:26] mlorbetske commented on #781
Where are we on this one? Is it something we're going to pursue or are we thinking that the mobile apps folks will be doing something tailored for their service?

If we do intend to do this - do we intend to make a new template that has these customizations, change the WebAPI to always have it or add a switch to the WebAPI template that would bring these changes in?

[2017-05-25 06:30] mlorbetske commented on #797
Closing this as the UWP concerns are discussed in #770 and the item tracking the certificate generation utility is here https://github.com/aspnet/DotNetTools/issues/296. The approach seems to have changed a bit to now be an MSBuild task (source [here](https://github.com/aspnet/DotNetTools/commit/7ac72dd7d8032074f378484e42f6ccfcc277a528)).

[2017-05-25 06:30] #797 closed

[2017-05-25 07:12] mlorbetske commented on #786
Just tried this out (using a modified `BuildBundleMinifier` - [PR](https://github.com/madskristensen/BundlerMinifier/pull/275))

[code]

[2017-05-25 07:21] mlorbetske commented on #824
In the 2.0.0 preview, the `::*` is no longer required if you want the latest stable version, so `dotnet new --install Microsoft.AspNetCore.SpaTemplates` should work for Git Bash (operating on the assumption that the `*` is causing the problem).

We are looking at expanding the information displayed when templates are discovered as part of install. Ideally, we'll be able to list the templates that

[2017-05-25 07:23] mlorbetske commented on #823
If I'm reading this correctly, the plan is to put this behind the interactive mode work item and create an item template for the `.gitignore` file specifically, right?

[2017-05-25 07:25] mlorbetske commented on #846
Let's try this out - adding an interface that we can collect implementations of that can add to the defaults dictionary that's configured for the engine by the host

cc @mhutch

[2017-05-25 07:26] mlorbetske commented on #813
Partially addressed in #825

[2017-05-25 07:36] mlorbetske commented on #852
I'm going to move these details into #806 as this makes the most sense to do as part of that work.

[2017-05-25 07:37] mlorbetske commented on #806
From @MicahZoltu in #852

[2017-05-25 07:40] mlorbetske commented on #806
When we do this work:
* New runs should migrate hives under %UserProfile%/$HOME to the new location
* Additional signatures should be added to the bootstrapper/host interface to not break folks using the defaults
* An announcement will need to be made to let people know about the move, just in case people are reading the cache locations directly

[2017-05-25 07:43] mlorbetske commented on #823
If this just goes the route of item template, we should add it to #233 and track it there

[2017-05-25 12:01] dasMulli commented on #858
Seems related to https://github.com/dotnet/project-system/issues/2183
Not sure which in which repo this belongs..

[2017-05-25 12:13] singhsarab commented on #858
@codito @sbaid

[2017-05-25 15:50] mhutch commented on #806
Yeah, and on Mac and Linux it's a little more complex than I described. There isn't the concept of local versus roaming, but there are different locations for caches / settings / data files etc. FWIW, here's what we do for MonoDevelop: https://github.com/mono/monodevelop/blob/master/main/src/core/MonoDevelop.Core/MonoDevelop.Core/UserProfile.cs

[2017-05-25 16:56] anurse commented on #823
@mlorbetske I hope it won't only be available behind interactive mode. I'd want at least a command line switch (`--git`, etc.) and ideally the ability to configure it to be on by default (and I'd think it should also create the repo if it's not already in a repo).

[2017-05-25 17:01] mlorbetske commented on #823
@anurse not that it would only be available through interactive mode, but that after interactive mode is introduced that we'd add the template. The purpose of that ordering is that without interactive mode, the template listing itself gets pretty long & unwieldy - adding interactive mode will at least give us pagination/filtering. You'd still be able to create it without having to use interactive

[2017-05-25 17:08] anurse commented on #823
Cool. My dream behavior for this would be that I can set `dotnet new` up so that on any project or solution template and if the target directory isn't already in a repo it will create a new repo, `.gitattributes` and `.gitignore` files. Has there been any thought of a configuration model for `dotnet new` so that we could provide "default" values for parameters such as possible future `--vcs git` p

[2017-05-25 18:38] mlorbetske commented on #823
We've been doing some thinking around customizable preferences (I believe it'd be part of the generalized `dotnet prefs` - or whatever calling it these days) that would do things like let you set the default language & whatnot, but we've not discussed detecting the existence of various VCS artifacts & conditionally creating templates. There are very early talks of "pre-actions" that would run some

[2017-05-25 18:40] peterblazejewicz commented on #786
Appreciated

[2017-05-26 06:51] davkean opened #863 "Projects created by the templating engine aren't "considered" new projects"
CPS's ProjectFactory isn't being told that the new project being passed it from the templating engine is a new project.

This is causing it to skip all the "new project" paths in the factory.

I'm not sure how the templating engine creates us, below is the stack (sorry, not doing native debugging, so native frames are missing), but we're not being passed the __VSCREATEPROJFLAGS.CPF_CLONEFILE flags

[2017-05-26 06:52] davkean commented on #863
tag @lifengl @mlorbetske

Lifeng, can you expand on what else will be broken because of this?

[2017-05-26 14:46] mlorbetske commented on #863
Cc @phenning

[2017-05-26 14:58] mlorbetske commented on #863
@davkean the VS integration for template engine creates the project on disk and then adds it to the solution (AddFromFile on the solution IIRC). What is the effect of skipping these paths in the project factory? The only ill effect we've noticed are that the overview page doesn't show if there's not an existing solution prior to wizard launch (we're working on that now).

[2017-05-26 20:01] mhutch commented on #781
cc @pierceboggan

[2017-05-26 21:14] mlorbetske commented on #625
This should be fixed now, you'll want to get rid of any symlinks in /usr/local/bin to dotnet-new3

[2017-05-26 21:14] #625 closed

[2017-05-26 21:17] mlorbetske commented on #330
In the latest version, the ::* syntax is no longer required. dotnet new --install {packageid} will install the latest available version

[2017-05-26 21:17] #330 closed

[2017-05-26 21:19] sayedihashimi commented on #611
Closing based on no reply

[2017-05-26 21:19] #611 closed

[2017-05-26 22:50] mlorbetske commented on #863
Just checked in something that should fix this

[2017-05-27 02:25] dansiegel commented on #625
@mlorbetske was finally able to run `setup.sh` and `dotnet new3` is working! Thanks for getting that fixed. :)

[2017-05-27 04:21] mlorbetske commented on #625
No problem 😊  Sorry for the delay

[2017-05-28 15:31] espenrl opened #864 "Smarter conditional evaluator"
FYI: I'm aware of the similar issue in case #587.

What I really like about this templating system is the fact that I don't need to alter the source code. I just need a template configuration file "template.json".

This code snippet though needs some changing.

[code]

It has to be annotated or else it will simply be removed from the output when using dotnet new.

[code]

Would it be an idea that

[2017-05-29 23:39] mlorbetske commented on #864
This is one of the benefits we'll get when #51 is completed (it's used for the MSBuild evaluator that has the behavior you're looking for).

[2017-05-30 01:26] SimonCropp opened #865 "is there doco for preferNameDirectory?"
i cant see it here https://github.com/dotnet/templating/wiki/%22Runnable-Project%22-Templates

[2017-05-30 01:38] SimonCropp opened #866 "How to mark a template as a "project template""
If i have an existing sln and project open in VS and i run the following in the package console

[code]
i get

[code]

So how do you mark a template as a "project template"

[2017-05-30 05:34] mlorbetske commented on #866
In the "tags" section of your template.json, add type: "project" ([example](https://github.com/dotnet/templating/blob/rel/vs2017/3-Preview2/template_feed/Microsoft.DotNet.Common.ProjectTemplates.2.0/content/ClassLibrary-CSharp/.template.config/template.json#L14))

[2017-05-30 05:34] #866 closed

[2017-05-30 05:35] SimonCropp commented on #866
where is the documentation for that?

[2017-05-30 05:49] mlorbetske commented on #865
It doesn't seem to be documented in the article linked from the wiki (though it is used in the examples) and the property is lacking docs in the schema.

I'm the meantime: the property is used to determine whether a directory with the name given for the project should be created for the content. If true, a directory will be created for the content if the user has not specified an output directory

[2017-05-30 05:55] mlorbetske commented on #866
"tags" is a free form element in the schema, so technically anything goes (and that setting isn't guaranteed to be respected by all consuming systems). It is documented in the official schema (VS, VS4Mac & VS Code should all support referencing the schema for completion/documentation - otherwise, in looking at the source, it's at the very bottom http://json.schemastore.org/template)

[2017-05-30 05:57] SimonCropp commented on #866
so shouldn't this be called out more explicitly in the doco so you dont get another person asking the same thing?

[2017-05-30 06:13] mlorbetske commented on #865
Actually, it is called out in the introductory post on writing templates https://blogs.msdn.microsoft.com/dotnet/2017/04/02/how-to-create-your-own-templates-for-dotnet-new/

[2017-05-30 06:14] SimonCropp commented on #865
i dont like to be difficult. but blog posts are not documentation. they get out of date too easily

[2017-05-30 06:18] mlorbetske commented on #866
Sounds good, let's call this out in #390

[2017-05-30 06:20] mlorbetske commented on #390
Let's make sure to cover tags (and which ones are special in the different environments) and the meaning of preferNameDirectory.

[2017-05-30 06:27] mlorbetske commented on #865
Called this out for the docs work in #390 as well. Closing this to track it there.

I don't take your comments as being difficult, we know we've got substantial issues around docs right now and @sayedihashimi has been working to get things in a better place. Comments like this are great as it helps to know what things people are interested in knowing about the most & what specifically is currently

[2017-05-30 06:27] #865 closed

[2017-05-30 06:28] SimonCropp commented on #865
@mlorbetske awesome. thanks. i will follow #390

[2017-05-30 08:59] akerd commented on #233
With release of dotnet core 2.0.0 preview1 I read that VB.Net is now supported. It would be nice have a basic template that support that language too.

[2017-05-31 14:53] RehanSaeed commented on #367
I've written some [code](https://github.com/ASP-NET-Core-Boilerplate/Templates/tree/master/Tests/Boilerplate.Templates.Test) to run tests against a template that lets you do this:

[code]

Right now it all works but with one issue remaining. `DotnetRun` dynamically loads the published assemblies and attempts to bootstrap the Startup class using the ASP.NET Core TestHost. Unfortunately, loading `Sw

[2017-05-31 14:56] RehanSaeed commented on #367
If anyone is interested, I'll turn this into a NuGet package and get it released for public use but I'd like to get `DotnetRun` working first.

[2017-05-31 15:01] RehanSaeed commented on #791
This sounds interesting.

I've tackled the problem from a different viewpoint in https://github.com/dotnet/templating/issues/367 where I run `dotnet restore`, `dotnet build`, `npm install`, 'gulp build', 'dotnet run' using the ASP.NET Core TestHost API to test that the project is functionally operational, rather than the files being add/removed.

I think both approaches are useful and perhaps they

[2017-05-31 15:38] ajcvickers opened #869 "Use "name=..." syntax in AddDbContext"
Now that https://github.com/aspnet/EntityFramework/pull/8641 is merged, any templates that call AddDbContext could be updated so that they do not reference IConfiguration directly. For example:
[code]

@glennc @DamianEdwards @divega
Do you guys want me to send a PR for this?

[2017-06-01 00:04] divega commented on #869
@ajcvickers I am fine with this, although I am a bit confused by the state of the default templates at the moment :smile_cat:

I guess the change would go in https://github.com/dotnet/templating/blob/master/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/StarterWeb-CSharp/Areas/IdentityService/IdentityServiceStartup.cs#L30

[2017-06-01 16:11] dmitry-pavlov commented on #856
Vote++. I am experiencing this this issue too.

[2017-06-01 16:42] mlorbetske commented on #863
The fix has been merged into d15prerel

[2017-06-01 16:42] #863 closed

[2017-06-01 18:59] lifengl commented on #863
CPS will copy files from the template, if it is not copied to the location.  If the template engine has done that, it will not impact that logic.

For new projects, CPS also call some additional extensions (ProjectInitializers), which will be skipped when the flag is not set.  The flag is also passed to some other extensibility points like project loader vetoers, but I don't aware anyone uses it.

[2017-06-01 22:33] danroth27 opened #874 "Update client_info to include policy"
_From @danroth27 on May 5, 2017 6:5_

The `client_info` parameter needs to be updated to look like this:

[code]

Where <policy> = whatever policy as used for authentication. For example,

[code]

_Copied from original issue: aspnet/IdentityService#101_

[2017-06-01 22:33] danroth27 commented on #874
This only impacts the in app individual user accounts template

[2017-06-01 22:34] danroth27 commented on #874
@javiercn Are you handling this as part of your template updates

[2017-06-02 04:25] danroth27 opened #876 "Update templates to use auth scheme defaults from config"
We should update the templates to use the auth scheme defaults specified in config once https://github.com/aspnet/Security/issues/1245 is done

[2017-06-02 16:33] ajcvickers commented on #869
@glennc @DamianEdwards Ping to triage this. Do you guys want this in preview2? Post preview2? Not at all?

[2017-06-02 17:26] DamianEdwards commented on #869
Would be great to have this and it seems like a very simple template change.

[2017-06-02 17:29] ajcvickers commented on #869
Yep, very simple. I'll send a PR today.

[2017-06-02 17:57] mlorbetske commented on #869
Fixed in #879

[2017-06-02 17:57] #869 closed

[2017-06-02 21:05] mlorbetske commented on #856
The PR to get the fix in to VS has been submitted & should make it in to tonight's build

[2017-06-02 21:05] #856 closed

[2017-06-02 21:08] mlorbetske commented on #858
Yep, this change would be addressed in dotnet/project-system#2183, closing this one as the project system repo is the right one for tracking the name change for those templates in VS

[2017-06-02 21:08] #858 closed

[2017-06-05 00:57] SimonCropp opened #893 "Issue to track uninstall?"
here it says https://blogs.msdn.microsoft.com/dotnet/2017/04/02/how-to-create-your-own-templates-for-dotnet-new/

But i cant find any issue that is tracking that change.

[2017-06-05 00:58] SimonCropp commented on #893
ping @sayedihashimi

[2017-06-05 01:00] SimonCropp commented on #893
also there is no doco for `--debug:reinit` here https://docs.microsoft.com/en-nz/dotnet/core/tools/dotnet-new do u need a different issue for that?

[2017-06-05 02:19] SimonCropp opened #894 "dotnet new --install incorrectly installs unlisted versions"
If a nuget for a template is unlisted it is still installed.

I tested  this with the wildcard syntax `dotnet new --install TemplatePackageName::*` and a single unlisted nuget package

[2017-06-05 03:38] mlorbetske commented on #893
None of the --debug:* switches are intended for normal usage (bugs in the bits that ship in the 1.x CLI have necessitated it to be used counter to the intention), so they're not planned to be added to the main documentation. There is an item for scoped switch help #107. We're investigating being able to ship updated set of bits in a 1.x CLI update to eliminate the mainline need for any of the --de

[2017-06-05 03:45] mlorbetske commented on #894
Since installation is accomplished by creating a csproj that references the package (left of the :: goes in the include of the package reference, right goes in the version metadata) and calling dotnet restore on it, I think the appropriate next steps here would be to generate a csproj that references the unlisted package, verify that the behavior reproduces when just calling dotnet restore on it a

[2017-06-05 12:13] neman opened #895 "Wrong CLI command for template installation at nuget.org"
When I go tu nuget.org to search for some template I got the following page for link https://www.nuget.org/packages/NetEscapades.Templates/

![image](https://cloud.githubusercontent.com/assets/350314/26781234/bf4cc98c-49ed-11e7-9e4a-08bb168b6c62.png)

The command instruct to use `Install-Package NetEscapades.Templates` which does not work.

[code]
The correct command is `dotnet new --install "NetE

[2017-06-05 12:14] neman opened #896 "Unable to install nuget template"
I created nuget for template with nuget pack command.
When I try to install it, using CLI command ` dotnet new --install "BIB.Templates::*"`

I got the following error at the end of installation

[code]

![image](https://cloud.githubusercontent.com/assets/350314/26783654/98fa8ff6-49f9-11e7-9839-6ac15ea82072.png)

When I use the CLI command ` dotnet new --install .` to install from folder, it works

[2017-06-05 12:42] neman commented on #896
I tried with nuget packages names like

BIB.Templates.1.0.1.nupkg
BIB.Templates.1.0.2.nupkg

BIB.Templates.1.0.1-dev-00001.nupkg
BIB.Templates.1.0.2-dev-00002.nupkg

First works with star, second does not work with star.

[2017-06-05 18:15] sayedihashimi commented on #895
Thanks for filing the issue. The primary use case for nuget packages is to install them into a project. The "install-package" command is listed for that use case. We are working with the nuget team to introduce the concept of "PackageType". Once the integration is complete I think we will have a better default experience in nuget.org. For the short term this will stay the same but in the long term

[2017-06-05 18:15] #895 closed

[2017-06-05 18:18] sayedihashimi commented on #894
@SimonCropp can you clarify the scenario here? You published a nuget package to nuget.org (or some other nuget repo) and marked it as unlisted. When you execute `dotnet new TemplateName` what are you expecting to happen at that time and what's actually happening?

[2017-06-05 18:34] sayedihashimi commented on #893
As @mlorbetske mentioned `--uninstall` has been implemented and in the help output. We also have https://github.com/dotnet/docs/issues/2315 to track getting it added to https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new. We are not planning to document the `--debug` actions.

[2017-06-05 18:34] #893 closed

[2017-06-05 18:36] sayedihashimi commented on #853
I think what you're really looking for is a command line utility to migrate from .xproj/project.json to .csproj. I'm not sure if that's being planned or not but the correct place for discussing that I believe would be https://github.com/dotnet/cli/issues.

Back to this issue, we could consider adding a parameter `--noClassFile` so that we create the template without the `Class1.cs` file. Would tha

[2017-06-05 18:39] sayedihashimi commented on #823
Anybody else looking for the functionality?

[2017-06-05 20:04] sayedihashimi commented on #285
We've discussed this and we are not currently thinking to support this. By enabling composable templates we believe that it would be very easy to get to a state that the generated content has a much higher chance of not working correctly.
We will monitor this and revisit the decision but for the time being we are not planning to support this. I'm going to close this issue for now but if it keeps c

[2017-06-05 20:04] sayedihashimi commented on #286
I believe we've implemented this. @mlorbetske do we still need this issue?

[2017-06-05 20:06] sayedihashimi commented on #318
We are not going to be making this change. I'd rather avoid confusion by adding this. If the suggestion continues to come up and have broad community support we can revisit. Closing for now.

[2017-06-05 20:06] #318 closed

[2017-06-05 20:23] sayedihashimi commented on #386
I think this is covered by https://github.com/dotnet/templating/wiki/Post-Action-Registry. Closing @mlorbetske please reopen if I got that wrong.

[2017-06-05 20:23] #387 closed

[2017-06-05 20:23] sayedihashimi commented on #386
Actually I think this is different. @mlorbetske reopening, lets chat about how I can add these to the wiki.

[2017-06-05 20:24] sayedihashimi commented on #389
@chad-ramos did you have a chance to look at this?

[2017-06-05 20:25] sayedihashimi commented on #392
Added a link at https://github.com/dotnet/templating/wiki pointing to https://github.com/dotnet/dotnet-template-samples

[2017-06-05 20:25] #392 closed

[2017-06-05 20:27] sayedihashimi commented on #394
We are not planning to work on this anytime soon. Closing this for now.

[2017-06-05 20:27] #394 closed

[2017-06-05 20:30] sayedihashimi commented on #633
For VS and `dotnet new` we leave extra using statements so that users can use types without needing to add the usage. Since this is by design, this isn't an item that the team at Microsoft will be working on. If there is a community member, or team, that want's to implement this as a Post Action that can be added to templates we will review that.
I'll close this for now. If someone is going to sen

[2017-06-05 20:30] #633 closed

[2017-06-05 20:46] attilah commented on #285
Hi @sayedihashimi !

I am sure you are aware of the https://github.com/Microsoft/WindowsTemplateStudio project, which built upon .Net Core templating and they made possible some kind of composition already.

It would be good to get to a common ground and not to have n+1 templating solutions out there...

[2017-06-05 21:01] sayedihashimi commented on #677
It would be good to allow templates to specify the "Hello" message.

[2017-06-05 21:02] sayedihashimi commented on #698
@natemcmaster any thoughts on the MySql provider that should be used if we add a `mysql` option to the templates? As @dansiegel indicates there are several packages we can use. Have you used any of them?

[2017-06-05 21:03] sayedihashimi commented on #764
I believe these docs have been added, closing.

[2017-06-05 21:03] #764 closed

[2017-06-05 21:28] natemcmaster commented on #698
@sayedihashimi -  @divega would have a more informed opinion on this one. When I left EF, the mysql providers were still half-baked.

[2017-06-05 22:48] sayedihashimi commented on #285
I didn't realize this was related to WTS. I'll reopen and discuss with @mlorbetske

[2017-06-06 00:49] divega commented on #698
The three MySQL EF Core providers I know about are [SapientGuardian.EntityFrameworkCore.MySql](https://www.nuget.org/packages/SapientGuardian.EntityFrameworkCore.MySql/), [Pomelo.Data.MySql](https://www.nuget.org/packages/Pomelo.Data.MySql/) and the official [MySql.Data.EntityFrameworkCore](https://www.nuget.org/packages/MySql.Data.EntityFrameworkCore/) from the MySQL team. And I can't think of a

[2017-06-06 03:51] SimonCropp commented on #894
the expected behavior is that it would not install with a "no found" error. the actual result was that it did install

[2017-06-06 04:49] brunzefb commented on #853
--noClassFile would be great. While we are at this, it might also be very nice to have an option to generate a .csproj file that is not so bare bones, but has some commented out examples that one may want to use.  And now you're getting this request after all the work that went into make things so simple and terse...

[2017-06-06 05:23] mlorbetske commented on #894
@SimonCropp from looking at the package information on NuGet (https://www.nuget.org/packages/NServiceBus.Template.WindowsService) and trying out what would have been generated, my guess is that `dotnet restore` on the following csproj would have restored the 1.0.0 package (even though it was unlisted - but I can't verify as the 1.0.0 package is now deleted). It (properly) does not install the 1.0.

[2017-06-06 06:04] mlorbetske commented on #698
@divega in terms of integrating them with the template content, we don't have template feature level template extensibility at this time (we'd need to think hard about what that means - it's likely more of a post-generation or standalone scaffolding experience as it can impact otherwise static template content at a point where there isn't a semantic understanding of the documents being generated).

[2017-06-06 06:49] neman commented on #896
@sayedihashimi  Ok, I'll update my question as soon as possible.

[2017-06-06 07:06] mlorbetske commented on #896
This is a NuGet behavior, prerelease packages aren't resolved by star only versions, `BIB.Templates::1.0.0-*` should work for pulling prereleases

[2017-06-06 07:55] neman commented on #896
That's it. Know it works. Thanks @mlorbetske
How can I determine which version of template is installed, but not looking into .templateenginefolder?
Will there be some intuitive way, like column next to dotnet new, or some other command?

[2017-06-06 08:05] mlorbetske commented on #896
There's not a really nice way of doing this right now, but `dotnet new --debug:showconfig` will print out the set of things currently in its configuration, including the locations of all the template packages it has installed.

[2017-06-06 08:11] neman commented on #896
Template installation is again showing some gremlin errors.
Now I have this, after install command
[code]

![image](https://cloud.githubusercontent.com/assets/350314/26819724/6fb668f2-4aa0-11e7-9945-4c55f8c78f5f.png)

[2017-06-06 08:14] mlorbetske commented on #896
It looks like something has either leaked a file handle or is holding that directory (`%userprofile%\.templateengine\dotnetcli\1.0.4\scratch`) open. Could you try deleting it and re-running the install?

[2017-06-06 08:33] neman commented on #896
Ok, I found the issue. I previously installed the template with the same version. But then I used `dotnet new --debug:reinit`  to ininstall it. After that I tried to install template with the same version.

The error gone when I explicitly deleted package `bib.templates.1.0.0.nupkg` from C:\Users\nemke\.templateengine\dotnetcli\v1.0.4\packages folder

[2017-06-06 09:25] #896 closed

[2017-06-06 13:57] divega commented on #698
@mlorbetske thanks. I think it could be worth brainstorming. Perhaps this is something we can do as a standalone step as you mentioned.

Anyway, do you know the answer to my other question?

[2017-06-06 14:53] dansiegel commented on #698
@divega the goal was to have it on 1.x and 2.x templates. I though 1.x libraries work with 2.0?

From what I've seen, it appears the"official" MySQL package has had the least amount of effort. Based on the download counts, it would appear that the Pomelo package is probably the most popular.

[2017-06-06 15:25] mlorbetske commented on #698
@divega there are separate templates for 1.x and 2.0 (but they show as a single template when both are installed at the same time). The 1.x templates don't ship with the 2.0 CLI, but they are consumed by VS & VS4M

[2017-06-06 18:24] sayedihashimi commented on #894
From my perspective this behavior is correct. I can install an unlisted package into a project by specifying the name. Being unlisted means it won't be included in search results (which we don't have a feature for yet in dotnet new) but if the name is provided by the user then it's valid. Failing with an error in that case isn't the right behavior.

[2017-06-06 20:49] SimonCropp commented on #894
Doesnt that go against the purpose of "unlisting but not deleting". that being that people who have already used a nuget will never be broken. and those people should always be restoring by version, never installing with no explicit version.

[2017-06-06 22:46] sayedihashimi commented on #894
We should have consistent behavior to

    Install-Package

From in the Package Manager Window in VS. If the behavior is different then I'd like to understand why.

[2017-06-07 17:45] lucamorelli opened #905 "calculated parameters"
reading the https://blogs.msdn.microsoft.com/dotnet/2017/04/02/how-to-create-your-own-templates-for-dotnet-new/ I read this:

`The expression used in the condition here, (EnableContentPage), is very basic but, you can create more complex conditions using operators such as &&,||,!,<,>=,etc. For more info see https://aka.ms/dotnetnew-template-config. `

Looks like that I can create a complex conditi

[2017-06-07 17:54] phenning opened #906 "Errors in 2.0 Azure Auth Template content"
1.  appsettings.json for StarterWeb uses "AzureAdInstance" in the json format, while the code is trying to read it via "Instance".
2. Missing using statements in AzureAdServiceCollectionExtensions.cs for MultiOrgAuth in starter web
3. Unused MultiOrg sections in appsettings.json for Web API.

[2017-06-07 17:54] phenning commented on #906
@mlorbetske , PR incoming now.

[2017-06-07 18:05] sayedihashimi commented on #905
Hi @lucamorelli I'm not really following the scenario. Can you be more specific?

[2017-06-07 18:52] #906 closed

[2017-06-07 19:32] lucamorelli commented on #905
if I need to add a condition like this
`if ( Framework == 'netcoreapp2.0' && Authentication == 'Azure AD' && dataBaseType != 'SqlServer)`

how can I express it in a more concise way ?

[2017-06-07 20:38] sayedihashimi commented on #905
I'm not sure if this is what you are looking for so let me know if it's not.

If you need to use a condition in several places I believe that a `computed` symbol is what you need. For example see how `OrganizationalAuth` is defined in [here]( https://github.com/dotnet/templating/blob/rel/vs2017/3-Preview2/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/StarterWeb-CSharp/.template.c

[2017-06-07 20:43] HaoK opened #909 "RequiresHttps no worky"
When we generate b2c/organization auth templates, we do not get any ssl ports generated in launchSettings.json

[2017-06-07 21:26] mlorbetske commented on #909
A few questions:
- When generating through the CLI or VS?
- Does the launch settings file get generated at all?
- Is this with new (if so, which CLI version) or new3?

[2017-06-07 21:55] HaoK commented on #909
Generated via: `dotnet new` pointing against my branch of the preview2 template feed.
launch settings get generated just with a 0 ssl port.

Not sure if this is new or not, cc @danroth27

[2017-06-09 02:24] davkean opened #918 "ProcessorState is throwing during project creation"
Hitting this during project creation, I have no idea what impact it is on the project creation, but it's somewhat annoying to hit while debugging:
[code]

Looked at the code, instead of checking for specific streams, you should be just checking `Stream.CanSeek` which is an indicator used to determine if the stream supports seeking, and retrieving the length.

[2017-06-09 02:29] mlorbetske commented on #909
Talked this over with Dan and Phil, we're able to repro in cases where HTTPS ports aren't required (the only way 0 can be generated). Auth configurations (in app STS until recently, org auth) that require HTTPS end up setting the flag that causes the generation and replacement to happen. Please reopen if we missed a case that leaves it at zero in a case where it's required.

[2017-06-09 02:29] #909 closed

[2017-06-10 14:14] lucamorelli commented on #905
thanks, looks like it's what I was looking for. Can you add a sample about this in the samples repo? I looked for something similar, but I haven't found anything similar neither in the sample repo nor in the main branch of this repo

[2017-06-11 09:10] vRITHNER commented on #837
FYI, still not working with latest template used with latest version of VS2017 enterprise Version 15.3.0 Preview 2.0

[code]

[code]

[2017-06-11 16:21] mlorbetske commented on #837
For 2.0, these templates are delivered to VS via the installation of the dotnet CLI. Updating VS on its own won't fix it, you'll need the latest .NET Core 2.0 preview 2 CLI from the release/2.0.0 branch of the CLI repo.

[2017-06-12 05:40] vRITHNER commented on #837
Txs for the tip.

I just wonder why the template is so different from previous CLI 2.0 ?

For the auth individual, we used to have the areas sub folder

![image](https://user-images.githubusercontent.com/238842/27020482-17dddea2-4f42-11e7-9b75-6a6485825a21.png)

Now, we are coming back to original v1 template with everything in standard folders ?

![image](https://user-images.githubusercontent.com

[2017-06-12 20:04] mlorbetske commented on #837
@danroth27 can you comment on this?

[2017-06-13 08:17] vRITHNER opened #936 "AspNetCore MVC auth individual Login.cshtm contains an error"
Hi,
When running, there is an error in Login.cshtm:

![image](https://user-images.githubusercontent.com/238842/27072623-499d6400-5021-11e7-989f-b745da344ede.png)

From:
[code]

To:
[code]

dotnet--info

[code]

My 2ct.

txs
-Vince

[2017-06-13 11:33] DamianEdwards commented on #338
This is currently affecting the `dotnet new page` item template too (tripped up a bunch of folks in our workshop). Great that we can pass the namespace in, but very easy to forget :smile:

[2017-06-13 17:05] mlorbetske commented on #936
This has been fixed in https://github.com/dotnet/templating/commit/435487dba2095f1667390cec1a8d2ce65356f8c3

[2017-06-13 17:05] #936 closed

[2017-06-13 19:40] mlorbetske opened #939 "Include the razor view compilation package for core on full framework 2.0 templates"

[2017-06-13 20:03] sayedihashimi opened #941 "Remove framework from default help output"
When I run `dotnet new -h` we are seeing the following in the `Examples` section.

[code]

I was chatting with @danroth27 and this is causing some confusion, can we not display `--framework` in the default help output?

[2017-06-13 20:04] #939 closed

[2017-06-13 21:13] #941 closed

[2017-06-14 06:38] vRITHNER opened #945 "Asp.NET mvc auth individual doesn't compile with latest cli"
Steps:
Downloaded latest cli :

`dotnet new mvc --auth Individual -uld`

First, I'm surprised bye the fact the Areas\Identity came back in the template
ref: [https://github.com/dotnet/templating/issues/936](https://github.com/dotnet/templating/issues/936)

`dotnet build -c debug`

[code]

![2017-06-14 1](https://user-images.githubusercontent.com/238842/27118534-fc9349e8-50db-11e7-8c77-cbf7b4c5a4d5

[2017-06-14 06:51] livarcocc opened #946 "Update templates to not use PackageTargetFallback"
Now that the SDK has moved to use AssetTargetFallback implicitly, we need to update the templates to do that as well, otherwise restore will fail. I am passing a property to disable implicit asset fallback in the CLI right now to get tests to pass.

Once we update the templates, we should remove that from the tests. Please note, that this also includes the SPA templates.

@mlorbetske @balachir

[2017-06-14 15:00] mlorbetske commented on #945
The CLI that you've got installed (from dotnet --info) is a 2.1 build from the master branch of the CLI repo. For 2.0 templates, the CLI should be coming from the release/2.0.0 branch. The logic in VS for picking the templates up from CLI installs the ones carried from the maximum version installed for each major/minor version pair (the highest from 2.0*, the greatest from 2.1*, etc.) in ascending

[2017-06-14 15:02] mlorbetske commented on #946
Do we know what needs to be updated in the templates for that? Any pointers to docs/examples would be appreciated

[2017-06-14 17:31] #946 closed

[2017-06-14 19:38] danroth27 opened #949 "Add developer exception page middleware to the web api templates"
We should add developer exception page middleware to the web API templates so that you get some diagnostic error information in the response when there is a 500 in development.

[2017-06-15 01:18] pierceboggan opened #951 "Link to dotnet-template-samples from README"
This evening, I was looking for some amazing [dotnet/templating samples](https://github.com/dotnet/dotnet-template-samples) and couldn't find any references to a samples repo in the README. It would be awesome if we could link to this in the README!

[2017-06-15 02:06] pierceboggan opened #952 "csproj import condition not replaced."
When using .NET templating with a solution containing a shared project, all references to the template app are scrubbed on a `dotnet new`, except for conditional imports in csproj files.

## Reproduction Steps

1. Create a new console app project.
2. Add a shared project to the solution.
3. Reference the shared project from the console app.
4. Add generic `.template.config` to replace namespaces a

[2017-06-15 04:23] mlorbetske commented on #952
It looks like the condition evaluator, on determining that that condition wasn't meant for it, just emitted the thing it found but didn't return control to the processor to do replacements until after the block ended.

In the short term, you should be able to work around this by changing

[code]

to

[code]

The line before the import will turn off condition processing, so the contents of the cond

[2017-06-15 04:27] mlorbetske commented on #951
Just added via https://github.com/dotnet/templating/commit/6bddffd8d41a0284ba9d549b18b12946cb0d3eca - not sure if it calls enough attention to it though, what do you think?

@sayedihashimi

[2017-06-15 10:05] enricosada opened #954 "add a `dotnet new template` for create a new ready to pack template"
Add a `dotnet new template`

So is ready to use with just `dotnet restore` and `dotnet pack /p:Version=1.2.3`

More options:

- `dotnet new template --type project` (or `--type item`)
- `dotnet new template --sample option` to add a sample conditional option

Is possibile to create package the template in lot of ways (nuget, nuspec, csproj, prj)

The best one i know atm is doing just with a `.proj

[2017-06-15 22:43] cesarbs opened #957 "B2C template is broken"
When creating a new B2C web app with the 2.0-preview2 templates, I see this error on the first run:

![image](https://user-images.githubusercontent.com/924164/27204687-5bdb4990-51e1-11e7-8f6b-dc03315aac5c.png)

Removing the offending `@using`s leads to further errors:

![image](https://user-images.githubusercontent.com/924164/27204638-11da0be2-51e1-11e7-8285-2967c13c336a.png)

Adding an `Applicati

[2017-06-15 23:25] mlorbetske commented on #957
Fixed in #955 and #956

[2017-06-15 23:25] #957 closed

[2017-06-16 06:19] vRITHNER commented on #945
Indeed, I just tried with CLI 2.0.0-preview2-006470 and it works.
The template is the one without "areas"
Does it mean the 2.1 will get this new "areas"  for identity stuff ?
txs

[2017-06-16 07:01] mlorbetske commented on #945
I believe that's the case, but @danroth27 would be the one to know for sure. Closing this, since the issue you were running in to is resolved.

[2017-06-16 07:01] #945 closed

[2017-06-16 07:24] #918 closed

[2017-06-16 16:51] danroth27 commented on #945
@vRITHNER The identity as a service work (the stuff in the area) was [pushed out of 2.0](https://github.com/aspnet/Announcements/issues/243) because it needed some more bake time. We are working on getting it done for [2.1](https://github.com/aspnet/Home/wiki/Roadmap).

[2017-06-16 17:11] GuardRex opened #961 "Question on dotnet uninstall"
I think I have a misunderstanding on how `-u|-uninstall` works (or perhaps there's a list refresh that I'm missing for an uninstalled template).

For testing purposes I created a few file system test templates, such as this one for `Giraffe4.Template`/`giraffe4` ...

[code]

Install works fine ...

[code]

However, uninstall doesn't want to remove the template. I've tried the following two command

[2017-06-16 18:59] seancpeters commented on #961
Hi @GuardRex,
Uninstall is currently driven by the location the template was installed from. Since giraffe4 was installed using:
`dotnet new -i c:\template4`
you'll be able to uninstall it using the same path:
`dotnet new -u c:\template4`

Please let us know if that works for you.

[2017-06-16 19:00] GuardRex commented on #961
@seancpeters Ah! ..... the ONE thing I *didn't try*! lol .... Thanks much! I'm good, and I'll make sure the doc spells that out.

[2017-06-16 19:27] GuardRex commented on #961
@seancpeters Just want to mention one quick thing in passing tho:

It seems awfully easy to have orphan template entries: If the folder containing the template is moved, deleted, or renamed, it orphans the template in the list without an easy way to uninstall/remove it. Apparently, one has to re-create the template folder (perhaps with just the *.template.config\template.json* file) in order to ru

[2017-06-16 20:40] GuardRex commented on #961
... and I've run into another little misunderstanding. I zipped a template into *template7.zip*. I was able to install it ok ...

[code]

... but when try to uninstall that one with ...

[code]

... it says ...

[2017-06-16 20:47] GuardRex commented on #961
One more problem: After installing a template from a ZIP (*template8.zip*; `giraffe8`) and then trying to install it with ...

[code]
... it fails with ...

![capture](https://user-images.githubusercontent.com/1622880/27244183-f8a84b50-52aa-11e7-8760-6b73ddfcf17e.PNG)

If you need any of this on new issues, let me know. Right now, I'm not sure if I'm still not making mistakes on my end of using th

[2017-06-16 23:01] seancpeters commented on #961
While installing templates from .zip sources works, it's not a fully supported scenario. So there's not a real uninstall story for zip-installed templates at this time.

Dotnet net offers full support for installing directly from files, and from nupkg's. If you install from a nupkg, you can uninstall the templates from the nupkg by giving the nupkg name on the command line, e.g.:
`dotnet new -u mi

[2017-06-16 23:07] seancpeters commented on #961
Your error with the giraffe8 template is peculiar. I'm not yet certain what would have caused it. If you can provide any additional information or steps taken, it might help me figure it out. If you want to reset your installation to its initial state, which will remove all custom installed templates, you can run:
`dotnet new --debug:reinit`
...and then the next time you run dotnet new, it will go

[2017-06-16 23:36] GuardRex commented on #961
Thanks for your help.

Ah, I see. I'll leave it out of the doc. I picked up on it from @sayedihashimi's blog post and the Wiki text.

btw- This is all for the work on https://github.com/dotnet/docs/issues/2139. We're adding a ref doc for the custom templates. For a walk-through/tutorial, we're planning on pointing readers to @sayedihashimi's blog post. There might be (probably will be) a formal tu

[2017-06-16 23:43] kakins opened #962 "Opening generated .csproj freezes VS2017"
I have VS2017 (latest update as of today).

I did the following

1. dotnet new --install Microsoft.AspNetCore.SpaTemplates::*
2. dotnet new angular
3. Opened the generated .csproj in VS2017.

VS2017 freezes indefinitely.

However, I did notice that the .csproj opens if I do "dotnet restore" and "npm install -d" after creating the angular project.  Perhaps Visual Studio is freezing when trying to r

[2017-06-17 00:01] seancpeters commented on #961
Thanks for the additional info. Unfortunately, I'm still unable to reproduce the issue. Could you provide the directory structure of this template (unzipped)? For example the C# 2.0 class library template looks like this:
[code]
The error message about looking for template.json at the c:\ directory is most likely an issue with the error reporting, I think I see how that could report incorrectly. O

[2017-06-17 00:49] seancpeters commented on #962
Hi @kakins,
Could you run the command `dotnet --info` and paste the output here?
Also, could you post the exact version of VS you're running, from help > about?

That info will help us troubleshoot your issue. Thanks!

[2017-06-17 01:12] kakins commented on #962
Sure thing...

# VS #
Microsoft Visual Studio Professional 2017
Version 15.2 (26430.13) Release
VisualStudio.15.Release/15.2.0+26430.13

# dotnet #
Product Information:
 Version:            1.0.4
 Commit SHA-1 hash:  af1e6684fd

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.15063
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\1.0.4

[2017-06-17 14:48] GuardRex commented on #961
It's just the basic "Giraffe" template. The only thing I'm changing in it is the *template.json* file. The directory structure of the uncompressed version is ...

[code]
I acquired it by grabbing the ZIP of the whole https://github.com/dustinmoris/Giraffe repo and then pulling out the *template/content* folder contents into my own template folder, which is *template9* for my latest test.

and the

[2017-06-17 15:29] GuardRex commented on #961
... and a question on the *nupkg* approach ... I've run into an uninstall problem here, too.

For the directory structure ...

[code]

*template.json* ...

[code]

... and *nupkg* file (*guardrex.giraffe.template.1.0.nupkg*) ...

[code]
The command `dotnet new -i c:\users\XXXXX\desktop\template10\guardrex.giraffe.template.1.0.nupkg` **works** :+1:, and `dotnet new giraffe10` in a test folder **wor

[2017-06-19 16:23] mlorbetske opened #965 "dotnet new console --framework netcoreapp1.0 produces error"
_From @richlander on June 19, 2017 13:15_

I am wanting to create a 1.0 app, but get an error:

[code]

I follow the guidance, but it doesn't help me. It doesn't even mention `--framework`.

[code]

I also have plenty of runtimes installed:

[code]

Here is the SDK version I have installed. I had the same experience with an early SDK, too.

[code]

/cc @sayedihashimi @mlorbetske

_Copied from orig

[2017-06-19 16:23] mlorbetske commented on #965
_From @Petermarcu on June 19, 2017 14:0_

Should this be in the templating repo?

[2017-06-19 16:23] mlorbetske commented on #965
Yes, this should be moved to the templating repo. I'll move it when I get in to the office.

@richlander did you install the 1.x templates? The 2.0 CLI (or 2.1 in this case) does not carry them by default as the 1.0/1.1 runtimes are not carried by the 2.x CLIs. There are two approaches for using the 1.x templates after installing a 2.x CLI, either drop a global.json that indicates a 1.x CLI that c

[2017-06-19 16:25] pierceboggan opened #966 "Solution isn't updated when excluding project with modifier"
# Steps to Reproduce

1. Create a `.template.config` for a solution with multiple projects.
2. Add a symbol/modifier to remove one of these projects.
3. `dotnet new`, and ensure that the symbol for removing the project is set to `true`.

# Expected Behavior

Because I am excluding an entire directory with a csproj, I expect the folder containing this project to not unfold, and that the solution is

[2017-06-19 16:31] pierceboggan commented on #951
@mlorbetske I think it probably demands its own section. Often, I've found people don't read the actual text in a README, but just browse the subheadings (just like blog posts 😝).

[2017-06-19 16:35] pierceboggan commented on #966
Seems like it would just need to strip it out:

[code]

Anything with the path I've excluded should be stripped (in this case, my modifier removed the `Droid` directory).

[2017-06-19 17:51] GuardRex commented on #961
@seancpeters I had to delete my last message, because I was still in the process of wrapping my brain around it: It turns out that one installs from a *nupkg* on disk (locally) (never from a *nuspec*) but then uninstalls by just providing the package name as you said earlier.

So if the user installs with ...

[code]

they uninstall with ...

[code]

Going back to an earlier post, I think it would

[2017-06-19 17:57] sayedihashimi commented on #966
I think you'd need to exclude that in the .sln file via optional content, but let's see if @mlorbetske has some better ideas.

[2017-06-19 17:59] seancpeters commented on #961
@GuardRex - definitely feel free to ping me on any PR's for this repo :)

[2017-06-19 18:03] sayedihashimi commented on #951
PR created at https://github.com/dotnet/templating/pull/967. Thoughts on that?

[2017-06-19 18:04] GuardRex commented on #961
@seancpeters Excellent, thanks. I'm giving it a final read before I add it to our 2.0 CLI commands update topics on our `dotnet-store` branch. I'll ping you over there on the PR with a link to the raw markdown and the review topic, which is the rendered topic for the published documentation. It takes a few hours for it to build the review doc, so I'll ping you this afternoon after the build. Thank

[2017-06-19 18:42] mlorbetske commented on #966
Yep, that'd be the approach - to add conditioning to the solution file that keys on the same symbol that's used in the modifier

[2017-06-19 20:20] #951 closed

[2017-06-19 20:25] seancpeters commented on #966
For conditionally including / excluding content from a .sln file, the syntax for the conditional statements is:
[code]
...and the corresponding `////` versions for conditional uncommenting in conjunction to including or excluding the content.

I created a small solution template with 2 projects in it, and added conditioning based on a boolean parameter called "useOther". I believe this example wil

[2017-06-19 23:23] pierceboggan commented on #966
@seancpeters This worked great! Perhaps we should ensure there is a sample for this / this is documented over at [dotnet-template-samples](https://github.com/dotnet/dotnet-template-samples).

[2017-06-19 23:27] seancpeters commented on #966
Good to hear! I think this was the first I've heard of conditioning a solution file - agree it should get documented. @sayedihashimi - can you coordinate the documentation? (I can provide examples as needed)

[2017-06-20 02:27] sayedihashimi commented on #966
Yes we should add a sample for this. I've created https://github.com/dotnet/dotnet-template-samples/issues/17 to track it.

I think everything is this issue has now been addressed.

[2017-06-20 06:44] #251 closed

[2017-06-20 06:44] #252 closed

[2017-06-21 13:03] lucamorelli commented on #385
I suppose this for json

////#if (IndividualB2CAuth)
//  "AzureAdB2C": {
//    "Instance": "https:////login.microsoftonline.com/tfp",
//    "ClientId": "11111111-1111-1111-11111111111111111",
//    "Domain": "qualified.domain.name",
//    "SignUpSignInPolicyId": "MySignUpSignInPolicyId"
//  },

[2017-06-21 15:16] DamianEdwards opened #976 "Turn off PreserveCompilationContext for empty ASP.NET Core project template"
We should disable `<PreserveCompilationContext>` in the empty ASP.NET Core project templates. This will remove the `refs` directory from the publish output by default.

[2017-06-21 18:41] livarcocc opened #977 "'dotnet new --install Microsoft.AspNetCore.SpaTemplates::*' fails with 'Segmentation fault: 11'"
_From @codeWonderland on June 21, 2017 18:30_

## Steps to reproduce
dotnet new --install Microsoft.AspNetCore.SpaTemplates::*

## Expected  behavior
Installs the new templates into dotnet

## Actual behavior
Segmentation fault: 11
bash-3.2#   Restoring packages for /Users/codeWonderland/.templateengine/dotnetcli/v1.0.4/scratch/restore.csproj...

## Environment data
Running MacOS 10.13 Beta
`dotne

[2017-06-22 08:11] RehanSaeed commented on #823
`.gitignore` is a solution level artifact, I think there needs to be a general way to handle solution level artifacts that you want to ship along with your project template. A list of files I'd consider adding to my templates include:

- `.editorconfig`
- `.gitignore`, `.gitattributes`
- `build.cake`, `build.ps1`, `build.sh` for Cake build support
- `appveyor.yml`
- `.travis.yml`
- `MyCustomAnalyz

[2017-06-22 19:31] #905 closed

[2017-06-23 15:05] sayedihashimi commented on #905
I created https://github.com/dotnet/dotnet-template-samples/issues/19 to track creating a sample for this.

[2017-06-26 15:58] pakrym opened #981 "Undo logger configuration bug workaround"
https://github.com/dotnet/templating/pull/689

[2017-06-27 18:09] mlorbetske commented on #966
@seancpeters this was addressed in #979 right?

[2017-06-27 18:10] #952 closed

[2017-06-27 18:20] seancpeters commented on #966
Between #979 and some workaround, I'd say this is taken care of.

[2017-06-27 21:44] adrian109 opened #986 "dotnet new global.json"
It would be a great addition to add a new template that will generate a new global.json file in the current folder, so that developers don't have to remember the syntax, for example:
`{
  "sdk": {
    "version": "1.0.0-preview2-003121"
  }
}`

Instead they can run `dotnet new global.json`

[2017-06-28 02:24] mlorbetske commented on #966
Cool, closing for now, please re-open if needed

[2017-06-28 02:25] mlorbetske commented on #965
@sayedihashimi any thoughts on whether we should do something here? The hiding of parameters with only one option feels both right (since it's redundant) and wrong (since they can magically appear when another option comes in when templates unify)

[2017-06-28 02:26] mlorbetske commented on #981
@pakrym do you mean to literally revert that or is there something else it should be changed to?

[2017-06-28 02:28] mlorbetske commented on #864
#960 should take care of this, I'll add tests that cover this case specifically to be sure

[2017-06-28 04:18] #813 closed

[2017-06-28 17:17] pakrym commented on #981
In theory reverting would be just fine but I want to test some scenarios first.

[2017-06-29 01:17] #986 closed

[2017-06-29 01:18] #976 closed

[2017-06-29 09:52] danroth27 opened #997 "Update migration code"
We should refresh the migration code in the starter web and razor pages templates.

[2017-06-29 16:15] lucamorelli opened #998 "request wiki page review"
I created the page https://github.com/dotnet/templating/wiki/Reference-for-template.json
to reorganize the content of the page.
Can anyone give a look and review it?

[2017-06-29 16:19] lucamorelli opened #999 "informations required"
I'm looking for more informations about a few topics:

- [x]  behavior of the guid macro when the format is not set.
- [ ]  formValue, and some sample, because the actual page is not very helpful.
- [ ]  CustomOperations. I would like to better understand the meaning of

[code]

[2017-06-30 06:56] bcsjk11 commented on #977
This is `dotnet --info`

Jeff Macbook Air:dotnet_test jeff_mba$ dotnet --info
.NET Command Line Tools (1.0.1)

Product Information:
 Version:            1.0.1
 Commit SHA-1 hash:  005db40cd1

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.11-x64
 Base Path:   /usr/local/share/dotnet/sdk/1.0.1

----

Here is my crash dump, not for asp, but

[2017-06-30 08:53] bcsjk11 commented on #977
Turns out I also get it with the `spatemplates::*` like you do above, so here is another crash log to see if it is any different from the first one I gave you.

[code]

[2017-06-30 18:35] #981 closed

[2017-06-30 23:53] bcsjk11 commented on #977
I am still working on this, but running out of time for a family visit :-)

This is what I have found so far:

Crash Caused by:
`libcoreclr.dylib`

Brew Openssl is downloaded 2.2.7
Latest version is 2.5.4

I have not been able to install it yet, to see if it fixes the issue.

[2017-07-01 18:25] mlorbetske commented on #977
Thanks for looking in to this @bcsjk11!

Linking the issue from the twitter thread - it seems like this is a known issue with High Sierra for the moment https://github.com/dotnet/core-setup/issues/2649

[2017-07-03 18:07] Eilon opened #1010 "Circular base class dependency involving 'PageModel' and 'PageModel'"
_From @mikebrind on June 23, 2017 7:8_

This error happens when you add a Razor Page (with page model) named "Page.cshtml" because the resulting auto-generated `PageModel` class tries to inherit itself:

[code]

_Copied from original issue: aspnet/Mvc#6441_

[2017-07-03 18:07] Eilon commented on #1010
_From @pranavkm on June 23, 2017 15:24_

We don't autogenerate a page model type. Did you create a model type named `PageModel`?

[2017-07-03 18:07] Eilon commented on #1010
_From @mikebrind on June 23, 2017 15:45_

This might actually be a tooling issue on reflection. The name of the PageModel class is automatically generated in the `<page>.cshtml.cs` file when you choose **Add New Item** -> **Razor Page (with page model)** in Visual Studio. It takes the name of the file without the extension and adds "Model" to it.

I can repost the issue to the correct repo if I kn

[2017-07-03 18:07] Eilon commented on #1010
_From @pranavkm on June 23, 2017 15:52_

@prafullbhosale, is this a Scaffolding issue?

[2017-07-03 18:07] Eilon commented on #1010
_From @prafullbhosale on June 23, 2017 16:5_

Nope. Scaffolding Razor Pages is not available yet.
Looks like a Template issue.
cc @mlorbetske, @seancpeters

[2017-07-03 18:08] Eilon commented on #1010
@mlorbetske / @seancpeters - where do the item templates for Razor Pages live? Can we get a bug filed there?

[2017-07-03 19:44] #1010 closed

[2017-07-04 03:46] richlander opened #1015 "framework option missing?"
I was wanting to give good guidance to https://github.com/dotnet/dotnet-docker-samples/issues/57. I wasn't able to do that given the lack of a "--framework" option for `dotnet new console`. Am I missing something?

/cc @mlorbetske

[2017-07-04 05:40] mlorbetske commented on #1015
Let's discuss as part of #965 where you brought this up originally

[2017-07-04 05:40] #1015 closed

[2017-07-04 05:44] mlorbetske commented on #965
To the comment from #1015, the `--framework` option is available for console apps, but choice type options with only one valid choice are hidden (as the only two things you could do with it are type extra for no change in behavior or pass an incorrect value). If multiple templates in the same group (say you installed the 1.x templates into the 2.0 CLI) that end up adding to one of the options that

[2017-07-04 18:46] richlander commented on #1015
Funny. I forgot about that completely. Thanks for remembering.

[2017-07-04 19:09] richlander commented on #965
This is a pretty rough experience, on multiple axis. I think the logic for the `--framework` option is too clever.

Here is what I expect:

- All valid options (at least useful ones) are shown.
- It is easy to install new official templates (no new NuGet feed required). I'd expect the help for how to do that being available from `dotnet new --help`.

Satisfying the first concern is straight forwar

[2017-07-06 07:29] mlorbetske opened #1021 "Template fails dotnet restore after updating to dotnet core 2 preview 2"
_From @mike-morr on July 5, 2017 18:1_

## Steps to reproduce
[Install dotnet core](https://www.microsoft.com/net/core#windowscmd)
Install dotnet core 2 Preview 1
dotnet new -i Fable.Template
dotnet new fable -n TestProj
dotnet restore **(should work)**
[Install dotnet core 2 Preview 2](https://www.microsoft.com/net/core/preview#windowscmd)
dotnet new -i Fable.Template
dotnet new fable -n TestProj

[2017-07-06 07:29] mlorbetske commented on #1021
_From @livarcocc on July 5, 2017 18:52_

I don't see how this belongs in the CLI repo. We do not own the Fable templates. Should you move this bug to the fable repo?

[2017-07-06 07:29] mlorbetske commented on #1021
_From @forki on July 5, 2017 18:57_

No the problem is that the template source is fine. The template update process is somehow broken.
We have this behavior seen with multiple users.

[2017-07-06 07:29] mlorbetske commented on #1021
_From @livarcocc on July 5, 2017 18:57_

We do not own this Paket.Restore.targets target. We do not know what it does.

[2017-07-06 07:29] mlorbetske commented on #1021
_From @livarcocc on July 5, 2017 18:59_

I see this in the targets:

[code]

It is up to the template owners to figure out why this is not being set properly anymore.

@KevinRansom I wonder if this is due to preview2 moving to the new F# SDK?

[2017-07-06 07:29] mlorbetske commented on #1021
_From @forki on July 5, 2017 19:7_

Yes we do understand that you don't own these files. As far as we already know these files are all correct in the template source. And this has nothing to do with F# sdk or paket.
The problem is simply that after dotnet new we have a diff between the fresh project and the original template.
Something is messing this up.

[2017-07-06 07:29] mlorbetske commented on #1021
_From @KevinRansom on July 5, 2017 21:23_

@forki
Hey mate, I think your .targets may be slightly broken:

In the section bellow:

I believe PacketRootPath should be PacketToolsPath or vice-versa.

[code]

[code]
Edit when I set the path explicity, everything works as expected.
[code]

[2017-07-06 07:29] mlorbetske commented on #1021
_From @forki on July 6, 2017 6:32_

@kevinransom root path and tool path are two different things. The problem is not if paket can be called or not (that is just the symptom). Our issue is that we see dotnet new creating a wrong file.
We expect it to exactly create https://github.com/fable-compiler/Fable/blob/master/src/templates/simple/Content/.paket/Paket.Restore.targets . For this issue here,

[2017-07-06 07:29] mlorbetske commented on #1021
_From @livarcocc on July 6, 2017 6:36_

@mlorbetske can you take a look at this? have you heard about something like this before.

@forki, so, the Paket.Restore.targets is not being generated at all? Because from @mike-morr initial bug report, it seemed like it did, but a property was missing, like @KevinRansom suggested. Are we sure we are talking about one single issue here?

[2017-07-06 07:29] mlorbetske commented on #1021
_From @forki on July 6, 2017 6:44_

Yes @mike-morr and myself discussed on gitter before we raised it. It's been investigated over couple of weeks. And since didn't find a solution we raised it here.
The file gets generated, but it has a diff to the uploaded version. Nobody knows why. That's the problem we see.

[2017-07-06 07:29] mlorbetske commented on #1021
_From @forki on July 6, 2017 6:48_

@kevinransom can please diff your local version with the online version? The fact that path is wrong for you is probably due to the fact that the template creation bug reproed on your machine.

[2017-07-06 07:29] mlorbetske commented on #1021
_From @livarcocc on July 6, 2017 7:18_

Has the version with the problem ever been published? Did it even exist in your repo during some point in time?

[2017-07-06 07:29] mlorbetske commented on #1021
_From @forki on July 6, 2017 7:22_

I think it does not. There are 2 versions of that file. And IIRC my file after dotnet new was a mix of both.

[2017-07-06 07:29] mlorbetske commented on #1021
_From @livarcocc on July 6, 2017 7:24_

Ok, given that this seems like an issue with templates, I will let @mlorbetske investigate. if you want, go ahead and move this issue to dotnet/templating.

[2017-07-06 07:30] mlorbetske commented on #1021
@seancpeters can you take a look please? It looks like those targets files should be marked as copy only so that they don't get processed, we should provide instructions on how to do that

[2017-07-06 16:21] prafullbhosale opened #1023 "Creating new web project defaults to https"
From @kimbell on https://github.com/aspnet/scaffolding/issues/540

-------------------------------------------------------------

Not 100% sure this is the right repo for this issue.

For the 1.x version of ASP.NET Core, I've created a number of web projects and all have defaulted to use http for Kestrel in the launch settings.

At the NDC Oslo workshop I created my first web project on the 2.0 ba

[2017-07-06 16:22] prafullbhosale commented on #1023
From @kimbell

I created another web api project now, and that didn't contain https, so it only happens some times. Also noticed that in the newly created file, the port numbers between IIS Express and Kestrel are much closer

http://localhost:62725/
http://localhost:62726/

In the problem file there is a big difference in the selected ports.

[2017-07-06 16:22] prafullbhosale commented on #1023
From @prafullbhosale

This looks like either a template related, or the VS tooling itself.
cc @BillHiebert, @mlorbetske any thoughts where this should get moved to?

[2017-07-06 16:23] prafullbhosale commented on #1023
From @mlorbetske

This would go to dotnet/templating since it's a template content problem

[2017-07-06 17:26] phenning opened #1024 "Web App with Individual Auth uses Web Helper instead of TagHelper"
In the Individual Auth template for Core Web Application, there is exactly one Web Helper, at line 38 in Views/Accout/Login.cshtml.

This should be changed to a TagHelper.

[code]

[2017-07-06 18:46] danroth27 opened #1025 "Make Razor Pages the default Web Application template for ASP.NET Core 2.0"
In VS we'd like to rename the ASP.NET Core 2.0 templates as follows:

Web Application (Razor Pages) -> Web Application
Web Application  -> Web Application (Model-View-Controller)

In the CLI we'd like to update the mvc template description to be:

ASP.NET Core Web App -> ASP.NET Core Web App (Model-View-Controller)

[2017-07-06 18:47] danroth27 commented on #1025
@mlorbetske

[2017-07-06 19:07] seancpeters commented on #1021
@mike-morr the problem appears to be caused because during template creation, the default behavior is to process each file from the template source - to allow for optional / variable content in the output. Part of the processing identifies & evaluates conditional statements within each file, which may cause some content to be modified or excluded.

But the default behavior can be overridden by con

[2017-07-06 19:30] forki commented on #1021
My question would be: what in this file can lead to such damage? How can we make sure that other files are not messed up?

This is also a much more general question than just for fable templates. The process needs to be transparent in order to be trusted.

[2017-07-06 21:27] mike-morr commented on #1021
@seancpeters Thank you for the response!  I have the same question as @forki

[2017-07-06 21:43] mlorbetske opened #1028 "Add a way to preserve or set file permissions on generated content"
Currently, all content is created with the system default permissions since the original permissions aren't inspected when being read from the template source.

We could either:

* Find a way to inspect the source permissions & expose that through the `IFile` abstraction & apply them ([P/Invoke](https://github.com/dotnet/core-setup/blob/77179251dd0c4954ff812e30e645c26cbb2a4506/tools-local/setuptoo

[2017-07-07 03:32] seancpeters commented on #1021
@forki @mike-morr
Unfortunately, we've found a bug causing what I suggested above to not work - until the bug fix is available (#1030). But there is another way around the problem. The template engine implements a way to turn off processing for sections of a file, which only requires adding the following to the file(s) in question, in the correct places. The first flag in each pair below turns off

[2017-07-07 04:59] rmunn commented on #1028
### Long-term solution (the right way to go)

NuGet packages are .zip files, and the .zip file format includes 4 bytes (32 bits) for "external file attributes". **In theory**, if the .zip file was created from a Unix-based system with the standard Unix zip tools (from the [Info-Zip project](http://www.info-zip.org/)), it will include the file's original Unix permissions in the upper 16 bits of tha

[2017-07-07 06:00] mlorbetske commented on #1021
There's a second bug here that, despite the test that verifies it doesn't happen passing, unknown tokens are being accepted in string literals by the condition evaluator in msbuild files. So far I've managed to track this down to a condition where the trie evaluation driver needs to read past the end of the token (in this case `$(`) to determine that it is the end of a matched token (because there

[2017-07-07 06:06] forki commented on #1021
Thank you for detailed explanation. We're worried we see unexplainable behavior. But this makes sense. We're looking forward to a fix and will apply the workarounds to the various templates. Thank you!

[2017-07-07 07:17] rmunn commented on #1028
https://github.com/dotnet/corefx/issues/10223 and https://github.com/dotnet/corefx/issues/15516 (and https://github.com/dotnet/corefx/issues/14853 as well) are relevant to the ZIP file permissions issue.

[2017-07-07 14:55] GuardRex opened #1033 "Documenting the "secret" options for 2.0?"
Should we document the hidden arguments for 2.0? We have the `-all|--show-all` option covered now, but it seems like we should either cover all of them or cover none of them.

https://github.com/dotnet/templating/blob/rel/vs2017/3-Preview3/src/Microsoft.TemplateEngine.Cli/CommandParsing/CommandParserSupport.cs#L133-L152

[2017-07-07 18:59] sayedihashimi commented on #1033
Those two commandline options are just for backwards compatibility, we will be removing them in the future. So we should not  document them.

[2017-07-07 18:59] #1033 closed

[2017-07-08 01:00] mlorbetske commented on #954
There's a template template https://github.com/tintoy/dotnet-template-templates pack, I think it'd make sense to have those experiences together. @tintoy would you mind if I send a PR to add a "template packaging project" project template to your templates?

@sayedihashimi agree?

[2017-07-08 01:56] tintoy commented on #954
Sure! :)

[2017-07-08 09:22] mlorbetske commented on #1023
@prafullbhosale the closeness in the port numbers comes from not having port generation ranges when running from the CLI, for VS they'll be much further apart - the HTTPS port will be of the form 443xx

[2017-07-08 09:36] tintoy commented on #954
BTW, I'm open to the idea of changing the existing templates to support `dotnet new template --type <project/item>` if you think people would find that more intuitive.

[2017-07-08 09:36] tintoy commented on #954
And thanks for the reminder - need to verify the templates for 2.x!

[2017-07-08 09:57] mlorbetske commented on #954
@tintoy PR sent :) I think what you mentioned about maybe having the kind of template be a pivot on the template entry itself might be a good idea, could have a shorter shortName that way & default to the project template flow (we're seeing mostly project templates being created)

[2017-07-08 13:53] tintoy commented on #954
Cheers! Will get both sorted first thing tomorrow :)

[2017-07-08 16:04] kimbell commented on #1023
All the projects have been generated using Visual Studio 2017 Preview.

[2017-07-08 20:07] mlorbetske commented on #1023
Sorry about that, somehow I missed that that was part of your message from the original issue and thought it was something we noticed when looking in to it.

[2017-07-08 21:07] #644 closed

[2017-07-08 21:22] mlorbetske commented on #783
It looks like `ZipArchiveEntry` is returning the encoded names, working on a fix

[2017-07-09 01:40] mlorbetske commented on #954
Looks like this has been merged https://github.com/tintoy/dotnet-template-templates/releases/tag/v0.1-beta1, thanks @tintoy!

[2017-07-09 01:40] #954 closed

[2017-07-10 15:44] #1025 closed

[2017-07-10 15:45] #783 closed

[2017-07-10 15:45] #1023 closed

[2017-07-11 02:12] DavidKarlas commented on #356
I noticed this is fixed in recent templates and there is entry in Wiki `Open a file in the editor | 84C0DA21-51C8-4541-9940-6CA19AF04EE6`, hence closing

[2017-07-11 02:12] #356 closed

[2017-07-11 15:42] danroth27 opened #1057 "InvalidOperationException: No authenticationScheme was specified, and there was no DefaultSignInScheme found."
@HaoK @mlorbetske

I'm getting this exception with the MVC B2C template. I believe the B2C and org auth templates all need to be updated for this runtime change:

[code]

[2017-07-11 16:25] #1057 closed

[2017-07-11 21:52] dansiegel opened #1066 "Prevent project name modifications"
Currently if you do `dotnet new sometemplate -o Foo.Bar` this will result in certain fields recieving like the namespace of files being renamed to `Foo_Bar`. For some replacements, this is acceptable, but for most like the namespace, this is highly undesirable. Is there some way to prevent this?

[2017-07-12 02:21] shampeter opened #1069 "dotnet new --install failed with too many open files"
I have been trying to run dotnet new --install to install new templates, but doesn't matter which template I tried, it will fail with 'Too many open files'.  My machine is macOS 10.12.5.  My dotnet --version shows 1.0.4.  I suspect it is related to nuget restore is attempting to restore multiple project in parallel, and the limit of file open in macOS.  Output from the command will look like this

[2017-07-12 02:31] seancpeters commented on #1066
If you're referring to some way to pass flags to an existing template to get certain replacements to not occur, unless the template author made some sort of provisions for it, then it can't be conditionally controlled without changing the template source.

For templates you're creating, there are a number of possibilities. If you want to post details on a specific scenario, we can talk through you

[2017-07-12 02:42] shampeter commented on #1069
Sorry.  Scratch that.  Stupid me.  Solved the issue by ulimit -n to increase the open file limit.  Work like a charm now.

[2017-07-12 16:40] sayedihashimi commented on #999
For the guid part, I've updated the sample https://github.com/dotnet/dotnet-template-samples/tree/master/14-guid

[2017-07-12 22:23] seancpeters commented on #1069
Not a problem. If you ran into this issue, others most likely will too - and now we know how to get around it :)

[2017-07-12 22:23] #1069 closed

[2017-07-13 04:27] mlorbetske opened #1081 "Use source link"
More info here https://github.com/ctaggart/SourceLink/blob/v2/README.md

[2017-07-13 04:56] mlorbetske commented on #1066
Expanding on what @seancpeters mentioned:

If the values that are being replaced shouldn't be driven by the user input at all, the suggestion would be to change sourceName to not have a value that is a substring of that value.

If there's a particular occurrence that shouldn't be replaced, but most should be, then using flags to govern the behavior would be the suggestion.

For all other cases, th

[2017-07-13 15:15] sayedihashimi commented on #1081
I'd like to learn more about this. Let's chat when you get in later today.

[2017-07-13 15:17] sayedihashimi commented on #1066
That's a lot of typing for a phone!

[2017-07-13 15:19] sayedihashimi commented on #1066
Here is a comment by @mlorbetske in which he discussed some of this previously https://github.com/dotnet/templating/issues/402#issuecomment-285605336

[2017-07-13 15:40] sayedihashimi opened #1083 "Global conditional syntax"
Today if you want to do a replacement you need to know the syntax to include conditionals based on the file type.

For example in C# I will use `#if` and `#endif` or `//` but in a css file I'll use `//` or `/*` and `*/`.
For file types which are not in our default list of supported files users will need to add non-basic configuration into the `template.json` file.

It would be nice if there was a

[2017-07-13 15:43] sayedihashimi commented on #1081
Just remembered you are out of office today. I'll ask @seancpeters if he has more info on this when I see him.

[2017-07-13 16:59] sayedihashimi opened #1084 "Command line support to find template packs"
Now that we have support for `--install` and `--uninstall` we should add support to find new template packs from the command line.

Initial thoughts:

 - Create `dotnet new --search`
 - Update `dotnet new --install` to support searching for a template

Let's discuss more and come up with a proposal when we have time.

[2017-07-13 18:17] mlorbetske commented on #1081
I saw this from a comment @davidfowl made on twitter. Just an engineering goodness item, not a feature proposal. This should improve the debugging experience when hosting the engine or when debugging bits from an old release.

[2017-07-13 21:34] sayedihashimi commented on #1081
Yeah it looks interesting.

[2017-07-14 18:32] danroth27 opened #1091 "Cleanup unneeded usings for TempDataAttribute"
Once https://github.com/aspnet/Mvc/issues/6542 makes it's way into the templates we should cleanup the usings for the TempDataAttribute.

[2017-07-14 21:17] dansiegel commented on #1066
@seancpeters @mlorbetske super helpful! Thank you both!

[2017-07-15 12:27] shaggygi opened #1094 "[Question] Clean up milestones"
Would it be possible to close out some of the older milestones?  For example, RC, VS2017 RTW, 15.3-preview1 and 15.3-preview2 seem outdated.

[2017-07-16 11:02] neman opened #1095 "File name or folder name with spaces in template outputs with %20"
I have a folder in my "Runnable Project" Template with name `Generated Models`

When I create project with `dotnet new mytemplate` I got following output:

![image](https://user-images.githubusercontent.com/350314/28246932-c6e85c34-6a26-11e7-9697-7b5b877a957c.png)

![image](https://user-images.githubusercontent.com/350314/28246939-ddcab5fa-6a26-11e7-857b-ca93f229b45c.png)

My folder is removed and

[2017-07-16 18:20] livarcocc opened #1097 "Suggestion: Use SQL Server security for connection strings on Linux"
_From @badersur on July 13, 2017 21:3_

## Steps to reproduce

1. `dotnet new mvc -au Individual -uld true`

2. `dotnet restore`

3. `ASPNETCORE_ENVIRONMENT=Development dotnet run`

4. visit http://localhost:5000/Account/Register, enter data & press register

## Expected  behavior
The site should register the user & work without any issue

## Actual behavior
An error occurred with these messages:

[2017-07-17 04:03] mlorbetske commented on #1095
This has been fixed for the 2.0 CLI and will be fixed for an upcoming release of Visual Studio 2017 (though I'm not positive which one we'll be able to get it in to just yet - hopefully update 4). I'm unsure at this point of we'll be able to release the fix for The 1.x CLI. The original report of this was #783.

[2017-07-17 04:03] #1095 closed

[2017-07-17 04:10] mlorbetske commented on #152
The range portion of this should be fixed with #1087

[2017-07-17 04:10] #152 closed

[2017-07-17 04:14] mlorbetske commented on #410
With allowing symbols to participate in renames and the introduction of value forms, this should be fixed now. If there's more to do here, please open a new issue with the pieces that are still missing.

[2017-07-17 04:14] #410 closed

[2017-07-17 04:16] mlorbetske commented on #402
#867 has the other piece to this

[2017-07-17 04:17] mlorbetske commented on #740
@seancpeters is this still open? Moving it to the backlog for now

[2017-07-17 04:18] mlorbetske commented on #1094
Great suggestion, done. Thanks!

[2017-07-17 04:18] #1094 closed

[2017-07-17 04:43] mlorbetske commented on #965
@sayedihashimi can we get an aka link set up for the additional line there (pointing to docs about install)?

[2017-07-17 05:55] neman commented on #1095
Ok, If I got it right, hopefully this fix will go to some 1.x version of CLI, but not for the next release?

[2017-07-17 06:20] mlorbetske commented on #1097
The --use-localdb option was intended for the Windows-only (as far as I know, I'll confess that I haven't looked very much at the SQL Server on Linux support) LocalDB offering (usually installed along with Visual Studio) where the database is created by the request to use it rather than precreated by the user like in full SQL. For other platforms, the general practice has been to not specify that

[2017-07-17 06:28] mlorbetske commented on #1084
Let's get the set of templates/packs discovered by your NuGet searcher set up as a feed somewhere that we can check at runtime. Let's add a link to it here and in the wiki as well so that the service is discoverable.

The service should list template packs, their current versions and the templates (maybe options as well?) contained in them so that we can use the information for installation sugges

[2017-07-17 06:32] mlorbetske commented on #1021
Both fixes will be included in the next release of the 2.0 CLI, closing this issue. Thanks for bringing this to our attention :)

[2017-07-17 06:32] #1021 closed

[2017-07-17 06:33] forki commented on #1021
Wow. Cool. Thanks

[2017-07-17 06:37] mlorbetske commented on #977
Closing this here as the relevant fixes seem to have been made (the linked issue is closed, as are the issues it references & the referenced PRs have been merged.

[2017-07-17 06:37] #977 closed

[2017-07-17 06:42] mlorbetske commented on #1095
I think that's a fair way of putting it, yes. If there is another release of the 1.x CLI that we can update the engine bits in, we certainly will.

[2017-07-17 10:00] shaggygi commented on #1094
@mlorbetske thanks a bunch

[2017-07-18 11:30] badersur commented on #1097
Hello @mlorbetske and thanks for your reply :)

After installing dotnet 1.1.0-preview1-005077, I feel it would be nice to introduce other arguments instead of `-uld` to choose one of the EF Core date providers.

If I run `dotnet new mvc -h`, I would like to see something like these instead of `-uld`:

[code]

This will reduce some time spent on looking for connection strings, nuget packages and Cl

[2017-07-18 16:27] #965 closed

[2017-07-18 17:37] mlorbetske commented on #1097
I think this would be related to #698 as well then

[2017-07-18 19:54] badersur commented on #1097
Yeah, it looks similar to `-dp` switch!

[2017-07-18 23:30] moozzyk opened #1108 "Outdated references in angular, react, reactredux templates"
If you use `dotnet new` to create angular, react, reactredux the csproj references 2.0.0-rtm-26272 version of Microsoft.AspNetCore.All and Microsoft.VisualStudio.Web.CodeGeneration.Tools packages.

[code]

The expected version is 2.0.0-rtm-26343.

[code]

[2017-07-19 03:51] mlorbetske commented on #770
Talked with @javiercn and it looks like we may be able to borrow some bits from https://github.com/aspnet/DotNetTools/tree/dev/src/Microsoft.AspNetCore.CertificateGeneration.Task to make this happen

[2017-07-19 03:53] mlorbetske commented on #1108
This issue was moved to aspnet/JavaScriptServices#1129

[2017-07-19 03:53] #1108 closed

[2017-07-19 03:54] mlorbetske commented on #1097
@badersur do you think it'd be best to add additional information to #698 or is there enough of a distinction that we should we track this separately?

[2017-07-19 05:16] moozzyk commented on #1108
@mlorbetske  - Thanks, I did not know where to file this issue.

[2017-07-19 11:53] badersur commented on #1097
@mlorbetske I think it's fine either way but would be easier to add the other options to #698 and track one issue!

The issue seems to be almost addressed in https://github.com/dotnet/templating/pull/788 except for testing & validating migrations. I'm mostly interested in entity framework's data providers and consider other options as optional and nice to have.

In that PR, SQL provider uses local

[2017-07-19 13:06] javiercn commented on #770
@mlorbetske I forgot to mention that the APIs are netcoreapp2.0 only, not sure if that will pose a problem for you.

[2017-07-19 16:18] dansiegel commented on #770
@javiercn isn't 2.0 supposed to be compatible with everything under the sun like UWP and Xamarin?

[2017-07-19 17:39] mlorbetske commented on #770
@dansiegel the main issue is that the projects in this repo all target netcoreapp1.1 or netstandard1.x ;) Working on a plan - thinking it may be possible to define this post action off at the edges (CLI, VS, VS4Mac) to where we don't need to worry about that particular aspect.

[2017-07-20 00:16] cesarbs opened #1114 "QR code generation doc link is broken in StarterWeb template"
https://go.microsoft.com/fwlink/?Linkid=852423 is redirected to https://www.microsoft.com/en-us/.

[2017-07-20 00:32] cesarbs opened #1115 "Windows auth does not work on web app template when running standalone"
Create a web app from the template and select Windows auth. When running behind IIS Express, you can see your Windows identity in the top-right corner of the page. It is not there, however, when running standalone.

Consider fixing the template or removing the launch setting from `launchSettings.json`.

[2017-07-20 00:58] moozzyk opened #1116 "razor/web/mvc templates add UserSecretsId to the csproj but do not add a reference to SecretManager"
razor/web/mvc templates add UserSecretsId to the csproj but do not add a reference to SecretManager, e.g:

[code]
The UserSecretId is quite useless without a reference to Microsoft.Extensions.SecretManager.Tools

[2017-07-20 01:02] moozzyk opened #1117 "--use-local-db description is misleading/unclear"
[code]

I thought it was just a general setting but apparently it only [applies when used along with IndividualAuth](https://github.com/dotnet/templating/blob/dd5981d39576995adef512463be4b4bef9a896f2/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/RazorPagesWeb-CSharp/appsettings.json#L25). It would be good if the switch description reflected that.

[2017-07-20 01:49] jkotalik opened #1118 "AzureAdB2C WebApp using Extensions as folder name, while WebApi uses AzureAdB2C"
Small bug, but when calling file new on a new application that has AzureAdB2C (WebApp and WebApi), there are folder name differences between where each are stored.

![image](https://user-images.githubusercontent.com/8302101/28396866-f459a09a-6cb2-11e7-9fa0-3b411ef7cd8d.png)

![image](https://user-images.githubusercontent.com/8302101/28396882-05a85a6c-6cb3-11e7-89b4-ed3e50614e59.png)

[2017-07-20 05:20] mlorbetske commented on #1118
@danroth27 @javiercn thoughts?

[2017-07-20 05:22] mlorbetske commented on #1117
@sayedihashimi thoughts on what the specific text should be? Should we just append "(only applies when --auth Individual or --auth IndividualB2C has been specified)" to the end of the current help text?

[2017-07-20 05:26] danroth27 commented on #1118
We should update the web API templates to be consistent with the web app templates. Get rid of the AzureAd* specific folders and put stuff in an Extensions folder

[2017-07-20 05:26] mlorbetske commented on #1116
Currently, UserSecretsId is always included by the secret manager tool is only included for OrgAuth - which one should change? Only include UserSecretsId for OrgAuth or always include the secret manager tool?

cc @danroth27

[2017-07-20 05:28] mlorbetske commented on #1115
Any ideas on how to update the template to make it work? Can windows auth work when just running through Kestel or does it need to be running behind IIS or IIS Express for the context to be collected & passed through?

[2017-07-20 05:28] mlorbetske commented on #1114
@blowdart @danroth27 is there anything tracking pointing that fwlink at the right docs?

[2017-07-20 05:32] danroth27 commented on #1116
I think we need it for IndividualLocalAuth, so you can easily enable social logins.

Do you know why do we include it for org auth?

[2017-07-20 05:37] mlorbetske commented on #1116
It has something to do with the ability to store the secret for being able to read directory data - should we turn it on for all auth configurations then?

[2017-07-20 05:40] mlorbetske commented on #1116
Sorry, it is on for individual or org

[2017-07-20 05:42] danroth27 commented on #1116
Makes sense

Looks like the Razor Pages template only has org: https://github.com/dotnet/templating/blob/rel/vs2017/3-Preview3/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/RazorPagesWeb-CSharp/Company.WebApplication1.csproj#L35. We should update all the templates to include the user secrets tool for individual auth and org auth

[2017-07-20 05:54] danroth27 opened #1121 "Update QR code doc fwlink"
We need to update https://go.microsoft.com/fwlink/?Linkid=852423 to point to the QR code doc https://github.com/aspnet/Docs/issues/3780

[2017-07-20 05:55] danroth27 commented on #1114
Tracked by https://github.com/dotnet/templating/issues/1121

[2017-07-20 06:04] #1114 closed

[2017-07-20 06:04] #1116 closed

[2017-07-20 16:59] #1118 closed

[2017-07-20 20:31] moozzyk opened #1124 "(dotnet new) `-au Windows` should imply --use-launch-settings"
Currently `dotnet new mvc -au Windows` does not add launchsettings.json to the project. As a result when starting the application (e.g. from VS) the user is not being authenticated even if Windows auth was supposed to be turned on (VS will add its own launchsettings.json with `windowsAuthentication` set to `false`).

Adding web.config with forwardWindowsAuthToken=true should also be considered - l

[2017-07-20 20:45] cesarbs commented on #1115
@mlorbetske It wouldn't work on Kestrel because we haven't implemented support for it. Could the template be changed so that `launchSettings.json` only has the option to run via IIS Express?

[2017-07-20 22:04] moozzyk opened #1125 "--aad-b2c-instance does not seem to work"
Even though I used `--aad-b2c-instance https://login1.microsoftonline.com/tfp1/` the Instance in appsetting.json is `https://login.microsoftonline.com/tfp`.

[code]

Another way to check is to compare differences from running
`dotnet new mvc -au IndividualB2C`
and
`dotnet new mvc -au IndividualB2C --aad-b2c-instance https://login1.microsoftonline.com/tfp1/`

You will see that the only difference i

[2017-07-20 22:33] moozzyk opened #1126 "Incorrect description for --client-id switch"
The description for the --client-id switch says:
[code]

I believe it should be `... with IndividualB2C and organizational...` and not `... with individual and organizational ...`. The Individual auth type (as opposed to IndividualB2C) is Identity based and I don't think it uses the client id in any way.

[2017-07-20 22:47] moozzyk opened #1127 "Typo in --tenant-id description"
The description of --tenant-id switch reads:

[code]

It should read:
`(use with Single-org auth type)` as opposed to `(use with Single-org auth types)` - (plural types).